Repository Agoric/agoric-sdk, pull requests merged in 2019-12, with the labels that each got.

#320 [Zoe] Add Zoe README
  packages/zoe/README.md
Labels: Zoe

#121 [ERTP] add regexp expected error message to any t.throws
  packages/ERTP/test/unitTests/core/test-mint.js
  packages/ERTP/test/unitTests/more/imports/test-importsA.js
  packages/ERTP/test/unitTests/more/pixels/test-gallery.js
  packages/ERTP/test/unitTests/more/pixels/types/test-area.js
  packages/ERTP/test/unitTests/more/pixels/types/test-pixel-list.js
  packages/ERTP/test/unitTests/more/pixels/types/test-pixel.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/test-isOfferSafe.js
Labels: ERTP

#110 Work towards specified API
  packages/ERTP/changelogs/6.txt
  packages/ERTP/package.json
  packages/SwingSet/changelogs/6.txt
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-marshal.js
  packages/agoric-cli/changelogs/6.txt
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/package.json
  packages/bundle-source/changelogs/6.txt
  packages/captp/changelogs/6.txt
  packages/captp/lib/captp.js
  packages/captp/package.json
  packages/captp/test/loopback.js
  packages/cosmic-swingset/changelogs/6.txt
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/package.json
  packages/default-evaluate-options/changelogs/6.txt
  packages/default-evaluate-options/package.json
  packages/default-evaluate-options/rollup.config.js
  packages/default-evaluate-options/src/index.js
  packages/default-evaluate-options/test/test.js
  packages/evaluate/changelogs/6.txt
  packages/evaluate/package.json
  packages/evaluate/src/index.js
  packages/eventual-send/README.md
  packages/eventual-send/changelogs/6.txt
  packages/eventual-send/integration-test/README.md
  packages/eventual-send/integration-test/test/utility/test-bundler.js
  packages/eventual-send/package.json
  packages/eventual-send/rollup.config.js
  packages/eventual-send/src/E.js
  packages/eventual-send/src/index.d.ts
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-e.js
  packages/eventual-send/test/test-hp.js
  packages/eventual-send/test/test.js
  packages/marshal/changelogs/6.txt
  packages/marshal/marshal.js
  packages/marshal/package.json
  packages/transform-eventual-send/changelogs/6.txt
  packages/transform-eventual-send/package.json
  packages/transform-eventual-send/scripts/build-esend.js
  packages/transform-eventual-send/src/.gitignore
  packages/transform-eventual-send/src/index.js
  packages/transform-eventual-send/test/ses-test.js
  packages/zoe/package.json
Labels: eventual-send

#319 [Zoe] Refactor Zoe State and refine the use of promises
  packages/zoe/state.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/test-zoeUtils.js
  packages/zoe/zoe.js
  packages/zoe/zoeUtils.js
Labels: Zoe

#343 Update to zoe v0.1.2
  packages/agoric-cli/template/contract/package.json
  packages/cosmic-swingset/package.json
Labels: Zoe

#347 [Zoe] BREAKING CHANGE: Rename 'noExit' to 'waived'
  packages/zoe/contracts/autoswap.js
  packages/zoe/state.js
  packages/zoe/zoe.chainmail
Labels: Zoe

#342 doc(cosmic-swingset): update README so that Getting Started works
  packages/cosmic-swingset/README.md
Labels: cosmic-swingset

#4 explicit access to filesystem, network, subprocesses
  packages/agoric-cli/bin/agoric
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/init.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
Labels: agoric-cli
