Repository Agoric/agoric-sdk, pull requests merged in 2020-07, with the labels that each got.

#1248 refactor: remove mailboxAdmin, use ERTP deposit only facet
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-mailbox.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/observable.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mailbox.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/test/test-home.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
Labels: zoe-alpha-release

#1252 chore: temporarily disable XS test
  .github/workflows/ag-solo-xs.yml.DISABLED
Labels: tooling

#1255 fix: add a version check assertion to enforce Golang 1.14+
  .github/workflows/test-all-packages.yml
  packages/cosmic-swingset/app/version_check.go
Labels: cosmic-swingset

#1254 Remove trivial test functions
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/timer-device/test-device.js
Labels: SwingSet, hygiene

#1264 SwingSet demo - install ses at start
  packages/SwingSet/bin/vat
Labels: SwingSet

#1260 remove controller solo
  packages/cosmic-swingset/Dockerfile
  packages/deployment/ansible/roles/fetch-controller/tasks/main.yml
  packages/deployment/ansible/roles/init-controller/tasks/main.yml
  packages/deployment/ansible/roles/init-cosmos/tasks/main.yml
  packages/deployment/ansible/roles/install-controller/tasks/main.yml
  packages/deployment/ansible/roles/start/tasks/main.yml
  packages/deployment/ansible/roles/stop/tasks/main.yml
  packages/deployment/docker/ag-setup-cosmos
  packages/deployment/main.js
Labels: deployment

#1272 Add example of a contract that gives and revokes use objects based on escrowed assets
  packages/zoe/test/unitTests/contracts/test-useObj.js
  packages/zoe/test/unitTests/contracts/useObjExample.js
Labels: Zoe, zoe-alpha-release

#1273 More typing
  packages/ERTP/src/issuer.js
  packages/SwingSet/src/vats/network/network.js
  packages/assert/src/assert.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/eventual-send/src/index.d.ts
  packages/zoe/src/zoe.js
Labels: tooling

#1275 chore: add name of keys to Store
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-dehydrate.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/state.js
  packages/zoe/src/table.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe, zoe-alpha-release

#1285 feat: reintroduce anylogger as the console endowment
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/agoric-cli/lib/deploy.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
Labels: SwingSet

#1284 feat!: introduce notifier.getCurrentUpdate() which is immediate
  packages/notifier/package.json
  packages/notifier/src/notifier.js
  packages/notifier/test/test-notifier.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: notifier

#1283 More typing 2
  packages/ERTP/src/issuer.js
  packages/store/src/store.js
  packages/weak-store/src/weakStore.js
  packages/zoe/src/zoe.js
Labels: tooling

#1256 refactor: Remove multiwords, wallet hooks, registry from wallet. Use board, zoe invite purse
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-dehydrate.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/test/test-home.js
  packages/cosmic-swingset/test/unitTests/test-lib-dehydrate.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
  packages/wallet-frontend/src/components/Inbox.jsx
Labels: cosmic-swingset

#1280 Add example "Escrow to Vote" contract
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
Labels: Zoe

#1304 fix(zoe): don't @typedef areRightsConserved
  packages/zoe/src/zoe.js
Labels: Zoe

#1301 add inescapable metering wrappers to dynamic vat Compartments
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/test/metering/grandchild.js
  packages/SwingSet/test/metering/metered-code.js
  packages/SwingSet/test/metering/metered-dynamic-vat.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/metering/test-metering.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/metering/vat-within.js
  packages/import-bundle/package.json
  packages/import-bundle/src/compartment-wrapper.js
  packages/import-bundle/src/compartment-wrapper.md
  packages/import-bundle/src/index.js
  packages/import-bundle/test/test-compartment-wrapper.js
  packages/import-bundle/test/test-import-bundle.js
Labels: SwingSet, import-bundle

#1302 refactor(assert): clearer typing
  packages/assert/jsconfig.json
  packages/assert/package.json
  packages/assert/src/assert.js
  packages/assert/src/types.js
  packages/assert/test/throwsAndLogs.js
Labels: assert

#1300 Propagate agoric-cli chain config to testnet
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/chain-params.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/set-defaults.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/ansible/cosmos-clone-config.yml
  packages/deployment/ansible/export-genesis.yml
  packages/deployment/ansible/roles/cosmos-clone-config/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/ansible/roles/export-genesis/tasks/main.yml
  packages/deployment/ansible/roles/fetch-cosmos/tasks/main.yml
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
  packages/deployment/main.js
  packages/deployment/set-json.js
  yarn.lock
Labels: agoric-cli, cosmic-swingset, deployment

#1315 fix(marshal): make toString and Symbol.toStringTag non-enumerable
  packages/marshal/marshal.js
Labels: hygiene, marshal

#1313 build: check against latest 12.x and 14.x
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-dapp-encouragement.yml
Labels: tooling

#1308 feat: allow dapps to suggest petnames for issuer/brand, instance, installation
  packages/cosmic-swingset/lib/ag-solo/vats/lib-dehydrate.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/test/unitTests/test-lib-dehydrate.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
Labels: cosmic-swingset

#1319 chore: update ERTP NEWS.md
  packages/ERTP/NEWS.md
Labels: ERTP

#1320 fix(bundle-source): fix comment misparse, make require optional
  packages/bundle-source/demo/comments/block-closer.js
  packages/bundle-source/demo/comments/block-opener.js
  packages/bundle-source/demo/comments/trailing-comment.js
  packages/bundle-source/demo/external-fs.js
  packages/bundle-source/src/index.js
  packages/bundle-source/test/circular.js
  packages/bundle-source/test/sanity.js
  packages/bundle-source/test/test-comment.js
  packages/bundle-source/test/test-external-fs.js
Labels: bundle-source

#1322 remove 'require' from vat endowments, remove 'harden' from kernelRequire
  packages/SwingSet/src/controller.js
Labels: SwingSet

#1288 refactor: Split Zoe contract facet to a separate vat per contract
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-zoe.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/zoe/docs/zoe-zcf.puml
  packages/zoe/package.json
  packages/zoe/scripts/build-zcfBundle.js
  packages/zoe/src/contractFacet.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/evalContractCode.js
  packages/zoe/src/state.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/bootstrap.js
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe-metering/vat-zoe.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-zoe.js
  packages/zoe/test/unitTests/contracts/fakeVatAdmin.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-barter.js
  packages/zoe/test/unitTests/contracts/test-brokenContract.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-grifter.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/contracts/test-useObj.js
  packages/zoe/test/unitTests/contracts/test-zcf.js
Labels: Zoe, zoe-alpha-release

#1309 fix(swingset): createVatDynamically option to disable metering
  packages/SwingSet/docs/dynamic-vats.md
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/test/metering/test-unmetered-dynamic-vat.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
Labels: SwingSet, metering

#1328 build: more parallel CI
  .github/workflows/lint.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-all-packages.yml.use-cache
Labels: tooling

#1326 build: validate types for more packages
  package.json
  packages/SwingSet/jsconfig.json
  packages/SwingSet/package.json
  packages/SwingSet/src/vats/network/bytes.js
  packages/SwingSet/src/vats/network/internal-types.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/src/vats/network/types.js
  packages/cosmic-swingset/jsconfig.json
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/package.json
  packages/eventual-send/src/index.d.ts
  packages/marshal/jsconfig.json
  packages/marshal/marshal.js
  packages/marshal/package.json
  packages/notifier/jsconfig.json
  packages/notifier/package.json
  packages/produce-promise/jsconfig.json
  packages/produce-promise/package.json
  packages/produce-promise/src/producePromise.js
  packages/store/jsconfig.json
  packages/store/package.json
  packages/zoe/src/table.js
Labels: tooling

#1336 feat: separate REPL `home` into `local` and `agoric`
  packages/SwingSet/src/kernel/liveSlots.js
  packages/cosmic-swingset/lib/ag-solo/bundle.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/test/unitTests/test-repl.js
Labels: cosmic-swingset

#1344 fix: add tests & fix for ZCF handling of crashes in contract code
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/brokenContracts/bootstrap.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-alice.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-zoe.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe, zoe-alpha-release

#1339 refactor VatManager, prepare for VatWorker
  packages/SwingSet/docs/images/vat-workers.png
  packages/SwingSet/docs/vat-worker.md
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/devices/bridge-src.js
  packages/SwingSet/src/devices/command-src.js
  packages/SwingSet/src/devices/loopbox-src.js
  packages/SwingSet/src/devices/mailbox-src.js
  packages/SwingSet/src/devices/timer-src.js
  packages/SwingSet/src/devices/timer.js
  packages/SwingSet/src/kernel/cleanup.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/kernel/deviceSlots.js
  packages/SwingSet/src/kernel/deviceTranslator.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/messageResult.js
  packages/SwingSet/src/kernel/metering.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatManager/transcript.js
  packages/SwingSet/src/kernel/vatManager/vatManager.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/test/basedir-controller-2/bootstrap.js
  packages/SwingSet/test/basedir-controller-2/vat-left.js
  packages/SwingSet/test/basedir-controller-2/vat-right.js
  packages/SwingSet/test/files-devices/bootstrap-0.js
  packages/SwingSet/test/files-devices/bootstrap-1.js
  packages/SwingSet/test/files-devices/device-0.js
  packages/SwingSet/test/files-devices/device-1.js
  packages/SwingSet/test/files-devices/device-2.js
  packages/SwingSet/test/files-devices/device-3.js
  packages/SwingSet/test/metering/test-unmetered-dynamic-vat.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vat-controller-1
Labels: SwingSet

#1348 docs: prose overview for the interaction diagram for Zoe and Zcf
  packages/zoe/docs/zoe-zcf.md
  packages/zoe/docs/zoe-zcf.png
Labels: Zoe, zoe-alpha-release

#1347 More captp connection aborting when disconnected
  packages/captp/lib/captp.js
  packages/captp/lib/index.js
  packages/captp/package.json
  packages/captp/test/disco.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
Labels: captp
