Repository Agoric/agoric-sdk, pull requests merged in 2020-01, with the labels that each got.

#358 chore(cosmos-sdk): upgrade to v0.37.4
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
Labels: cosmic-swingset

#346 [Zoe] BREAKING CHANGE: Reduce to two payout rule kinds: `offerAtMost` and `wantAtLeast`
  packages/zoe/contracts/autoswap.js
  packages/zoe/contracts/coveredCall.js
  packages/zoe/contracts/helpers/offerRules.js
  packages/zoe/contracts/myFirstDapp.js
  packages/zoe/contracts/publicAuction.js
  packages/zoe/contracts/publicSwap.js
  packages/zoe/contracts/simpleExchange.js
  packages/zoe/isOfferSafe.js
  packages/zoe/state.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-myFirstDapp.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-publicSwap.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/test-isOfferSafe.js
  packages/zoe/test/unitTests/test-seat.js
  packages/zoe/zoe.chainmail
  packages/zoe/zoe.js
Labels: Zoe

#354 [Zoe]: Part 1 of Switching to Zoe Invites
  packages/ERTP/core/config/seatConfig.js
  packages/zoe/contracts/automaticRefund.js
  packages/zoe/escrowReceiptConfig.js
  packages/zoe/inviteConfig.js
  packages/zoe/package.json
  packages/zoe/seatMint.js
  packages/zoe/state.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/helpers.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-myFirstDapp.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-publicSwap.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/test-seat.js
  packages/zoe/zoe.chainmail
  packages/zoe/zoe.js
Labels: Zoe

#355 [Zoe] Part 2 of Switching to Zoe Invites (Public Swap)
  packages/zoe/contracts/atomicSwap.js
  packages/zoe/contracts/helpers/userFlow.js
  packages/zoe/contracts/publicSwap.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-publicSwap.js
Labels: Zoe

#357 [Zoe] Part 3 of Switching to Zoe Invites (Simple Exchange)
  packages/zoe/contracts/helpers/exchanges.js
  packages/zoe/contracts/helpers/userFlow.js
  packages/zoe/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: Zoe

#359 [Zoe] Part 4 of Switching to Zoe Invites (Public Auction)
  packages/zoe/contracts/helpers/auctions.js
  packages/zoe/contracts/publicAuction.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
Labels: Zoe

#360 [Zoe] Part 5 of Switching to Zoe Invites (Covered Call)
  packages/zoe/contracts/coveredCall.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/helpers.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
Labels: Zoe

#122 Remove extraneous and misleading insist
  packages/ERTP/core/config/inviteConfig.js
Labels: ERTP

#322 feat(cosmic-swingset): use a fake chain for scenario3
  README.md
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/changelogs/321.txt
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/set-fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/start.js
Labels: cosmic-swingset

#380 [Zoe] Part 6 of Switching to Zoe Invites (Autoswap)
  packages/zoe/contracts/autoswap.js
  packages/zoe/contracts/helpers/bondingCurves.js
  packages/zoe/contracts/helpers/extents.js
  packages/zoe/contracts/helpers/safeMath.js
  packages/zoe/contracts/helpers/userFlow.js
  packages/zoe/contracts/myFirstDapp.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/helpers/test-bondingCurves.js
  packages/zoe/test/unitTests/contracts/helpers/test-extents.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-myFirstDapp.js
  packages/zoe/zoe.js
Labels: Zoe

#429 [Zoe] Move Files Under Src/
  packages/zoe/.eslintignore
  packages/zoe/.eslintrc.js
  packages/zoe/.prettierrc.js
  packages/zoe/index.js
  packages/zoe/package.json
  packages/zoe/src/areRightsConserved.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/helpers/auctions.js
  packages/zoe/src/contracts/helpers/bondingCurves.js
  packages/zoe/src/contracts/helpers/offerRules.js
  packages/zoe/src/contracts/helpers/safeMath.js
  packages/zoe/src/contracts/helpers/stateMachine.js
  packages/zoe/src/contracts/helpers/userFlow.js
  packages/zoe/src/contracts/myFirstDapp.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/evalContractCode.js
  packages/zoe/src/inviteConfig.js
  packages/zoe/src/isOfferSafe.js
  packages/zoe/src/state.js
  packages/zoe/src/zoe.chainmail
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-zoe.js
  packages/zoe/test/unitTests/contracts/helpers/test-bondingCurves.js
  packages/zoe/test/unitTests/contracts/helpers/test-offerRules.js
  packages/zoe/test/unitTests/contracts/helpers/test-stateMachine.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-myFirstDapp.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-publicSwap.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/test-areRightsConserved.js
  packages/zoe/test/unitTests/test-isOfferSafe.js
Labels: Zoe

#431 [Zoe] Add CONTRIBUTING.md
  packages/zoe/CONTRIBUTING.md
Labels: Zoe

#434 Keep SwingSet state in the validator state dir
  packages/cosmic-swingset/.gitignore
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-chain-cosmos
Labels: cosmic-swingset

#371 allow fs access etc. to be passed in explicitly to bundleSource
  packages/bundle-source/src/index.js
  test/explicit.js
Labels: bundle-source

#410 Dynamically create new vats.
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/id.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
Labels: SwingSet

#401 fix(resolve): protect against reentrancy attack
  packages/eventual-send/changelogs/9.txt
  packages/eventual-send/src/E.js
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-thenable.js
Labels: eventual-send

#450 Kernel throw on vat creation error rather than return a string
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
Labels: SwingSet

#446 Add ability to request stats for a vat
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
Labels: SwingSet

#454 Cleanup and commenting from my review of the kernel so far
  packages/SwingSet/bin/vat
  packages/SwingSet/src/blockBuffer.js
  packages/SwingSet/src/capdata.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/src/insist.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/kernel/djson.js
  packages/SwingSet/src/kernel/id.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/parseKernelSlots.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/src/makePromise.js
  packages/SwingSet/src/message.js
  packages/SwingSet/src/parseVatSlots.js
  packages/SwingSet/src/storageAPI.js
Labels: SwingSet

#468 eventual-send: remove now-unnecessary SES global declaration
  packages/eventual-send/src/index.js
Labels: eventual-send

#438 Updates to bundle-source/README. (also lint cleanups)
  packages/bundle-source/README.md
Labels: bundle-source, documentation

#427 test-kernel, test-marshal: revert to script
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-marshal.js
Labels: SwingSet

#480 [cosmic-swingset, agoric-cli] Update how users get initial payments
  packages/agoric-cli/template/contract/deploy.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/observable.js
  packages/cosmic-swingset/lib/ag-solo/vats/store.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-pixel.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/weakStore.js
Labels: agoric-cli, cosmic-swingset
