Repository Agoric/agoric-sdk, pull requests merged in 2020-08, with the labels that each got.

#1356 refactor: break the cycle between notifier and adaptor
  packages/notifier/package.json
  packages/notifier/src/asyncIterableAdaptor.js
  packages/notifier/src/index.js
  packages/notifier/src/notifier.js
  packages/notifier/test/test-notifier-adaptor.js
  packages/notifier/test/test-notifier.js
Labels: notifier

#1303 feat(agoric): make `agoric --sdk install` use `yarn link`
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/agoric-cli/lib/install.js
Labels: agoric-cli

#1352 more swingset setup refactoring
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/index.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/vatManager.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: SwingSet

#1338 Add VatTP-over-IBC
  packages/SwingSet/src/vats/vat-tp.js
  packages/agoric-cli/lib/set-defaults.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-provisioning.js
  packages/cosmic-swingset/x/swingset/client/cli/query.go
  packages/cosmic-swingset/x/swingset/client/cli/tx.go
  packages/cosmic-swingset/x/swingset/genesis.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/internal/keeper/querier.go
  packages/cosmic-swingset/x/swingset/internal/types/msgs.go
  packages/cosmic-swingset/x/swingset/internal/types/querier.go
  packages/cosmic-swingset/x/swingset/internal/types/types.go
Labels: SwingSet, cosmic-swingset

#1369 refactor: use the instanceRecord that already exists in instanceAdmin
  packages/zoe/src/instanceTable.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe, zoe-alpha-release

#1368 feat: separate wallet implementation from ag-solo
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/main.js
  packages/cosmic-swingset/lib/ag-solo/init-basedir.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/lib/ag-solo/web.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/test/captp-fixture.js
  packages/wallet-frontend/lib/lib-dehydrate.js
  packages/wallet-frontend/lib/lib-wallet.js
  packages/wallet-frontend/lib/observable.js
  packages/wallet-frontend/lib/pubsub.js
  packages/wallet-frontend/lib/vat-wallet.js
  packages/wallet-frontend/lib/wallet.js
  packages/wallet-frontend/package.json
  packages/wallet-frontend/test/test-lib-dehydrate.js
  packages/wallet-frontend/test/test-lib-wallet.js
  packages/wallet-frontend/wallet-deploy.js
Labels: cosmic-swingset, wallet

#1375 feat(captp): better rejection handling
  packages/captp/lib/captp.js
  packages/captp/test/disco.js
Labels: captp

#1388 Correct a couple of problems that benchmarking turned up
  packages/SwingSet/src/kernel/kernel.js
  packages/swingset-runner/src/main.js
Labels: bug, swingset-runner

#1385 chore(swingset): refactor vatManagerFactory()
  packages/SwingSet/src/assertOptions.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatManager/vatManager.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-message-patterns.js
Labels: SwingSet

#1386 feat(swingset): Add Node.js Worker (thread) -based VatManager
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/nodeWorker.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/test/workers/bootstrap.js
  packages/SwingSet/test/workers/test-worker.js
  packages/SwingSet/test/workers/vat-target.js
Labels: SwingSet

#1387 feat(swingset): add subprocess+node -based VatManager
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/src/spawnSubprocessWorker.js
  packages/SwingSet/test/workers/test-worker.js
  yarn.lock
Labels: SwingSet

#1398 chore(dapp-react-wallet): remove
  .github/workflows/test-all-packages.yml
  package.json
  packages/dapp-react-wallet/.env.local.example
  packages/dapp-react-wallet/.eslintignore
  packages/dapp-react-wallet/.eslintrc
  packages/dapp-react-wallet/.gitignore
  packages/dapp-react-wallet/.prettierrc
  packages/dapp-react-wallet/CHANGELOG.md
  packages/dapp-react-wallet/README.md
  packages/dapp-react-wallet/lib/lib-dehydrate.js
  packages/dapp-react-wallet/lib/lib-wallet.js
  packages/dapp-react-wallet/lib/observable.js
  packages/dapp-react-wallet/lib/pubsub.js
  packages/dapp-react-wallet/lib/vat-wallet.js
  packages/dapp-react-wallet/lib/wallet.js
  packages/dapp-react-wallet/package.json
  packages/dapp-react-wallet/public/assets/account_balance_wallet-24px.svg
  packages/dapp-react-wallet/public/favicon.ico
  packages/dapp-react-wallet/public/index.html
  packages/dapp-react-wallet/public/manifest.json
  packages/dapp-react-wallet/src/components/Amount.jsx
  packages/dapp-react-wallet/src/components/Header.jsx
  packages/dapp-react-wallet/src/components/Inbox.jsx
  packages/dapp-react-wallet/src/components/Purses.jsx
  packages/dapp-react-wallet/src/components/Wallet.jsx
  packages/dapp-react-wallet/src/components/Web3Status.jsx
  packages/dapp-react-wallet/src/contexts/Application.jsx
  packages/dapp-react-wallet/src/index.jsx
  packages/dapp-react-wallet/src/pages/App.jsx
  packages/dapp-react-wallet/src/setupProxy.js
  packages/dapp-react-wallet/src/store/actions.js
  packages/dapp-react-wallet/src/store/operations.js
  packages/dapp-react-wallet/src/store/reducer.js
  packages/dapp-react-wallet/src/store/types.js
  packages/dapp-react-wallet/src/utils/constants.js
  packages/dapp-react-wallet/src/utils/fetch-websocket.js
  packages/dapp-react-wallet/test/test-lib-dehydrate.js
  packages/dapp-react-wallet/test/test-lib-wallet.js
  packages/dapp-react-wallet/wallet-deploy.js
  packages/dapp-react-wallet/yarn.lock
Labels: hygiene, wallet

#1396 fix: excise @agoric/harden from the codebase
  packages/ERTP/package.json
  packages/SwingSet/README.md
  packages/SwingSet/docs/devices.md
  packages/SwingSet/test/metering/test-metering.js
  packages/SwingSet/test/metering/vat-within.js
  packages/agoric-cli/bin/agoric
  packages/agoric-cli/lib/install-ersatz-harden.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/package.json
  packages/agoric-cli/test/test-main.js
  packages/eventual-send/integration-test/package-lock.json
  packages/eventual-send/rollup.config.js
  packages/marshal/README.md
  packages/spawner/src/contractHost.js
  packages/transform-metering/package.json
  packages/zoe/CONTRIBUTING.md
  packages/zoe/src/evalContractCode.js
  yarn.lock
Labels: hygiene

#1397 Updates to the wallet
  packages/agoric-cli/lib/deploy.js
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/contract/package.json
  packages/dapp-svelte-wallet/contract/src/contract.js
  packages/dapp-svelte-wallet/contract/test/test-contract.js
  packages/dapp-svelte-wallet/package.json
  packages/dapp-svelte-wallet/ui/lib/Button.svelte
  packages/dapp-svelte-wallet/ui/lib/MenuButton.svelte
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/src/App.svelte
  packages/dapp-svelte-wallet/ui/src/install-ersatz-harden.js
  packages/dapp-svelte-wallet/ui/src/install-ses-lockdown.js
  packages/dapp-svelte-wallet/ui/src/main.js
  packages/import-bundle/package.json
  packages/install-ses/package.json
  yarn.lock
Labels: wallet

#1412 fix: make Zoe typesafe again
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerTable.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/table.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
Labels: Zoe

#1411 refactor: bring autoswap up to date on the new Zoe spike branch
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-barter.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe, zoe-alpha-release

#1426 fix: get wallet tests to pass with new Zoe API
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/dapp-svelte-wallet/ui/src/captp.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/types.js
Labels: wallet

#1423 remove unused loopbox from tests in non-swingset packages
  packages/ERTP/test/swingsetTests/splitPayments/test-splitPayments.js
  packages/sharing-service/test/swingsetTests/sharingService/test-sharing.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/spawner/test/swingsetTests/escrow/test-escrow.js
Labels: ERTP, spawner

#1425 chore(swingset): enhance loopbox, change API
  packages/SwingSet/bin/vat
  packages/SwingSet/src/devices/loopbox-src.js
  packages/SwingSet/src/devices/loopbox.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
  packages/SwingSet/test/test-message-patterns.js
Labels: SwingSet

#1429 fix: get Zoe cosmic-swingset tests to pass
  packages/cosmic-swingset/test/test-home.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
Labels: cosmic-swingset, wallet

#1405 fix(swingset): check promise resolution table during comms.inbound
  packages/SwingSet/src/vats/comms/inbound.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/util.js
Labels: SwingSet

#1432 chore(swingset): localVatManager: give vatParameters to setup()
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
Labels: SwingSet

#1437 docs: refresh the README.md
  README.md
Labels: documentation

#1436 fix: minor wallet cleanup
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: wallet

#1446 feat: use debugName to differentiate sim-chain instances
  packages/SwingSet/src/controller.js
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/x/swingset/blockers.go
Labels: SwingSet, cosmic-swingset

#1441 Get VatTP-over-IBC into shape
  packages/SwingSet/src/vats/comms/clist.js
  packages/SwingSet/src/vats/vat-tp.js
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
Labels: cosmic-swingset

#1445 Quieter captp
  packages/agoric-cli/lib/deploy.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
Labels: agoric-cli, cosmic-swingset

#1440 Create and use unique petname paths
  packages/dapp-svelte-wallet/api/src/lib-dehydrate.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
Labels: cosmic-swingset, wallet

#1438 Prep for prebundled zcf
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/index.js
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
  packages/swingset-runner/demo/exchangeBenchmark/vat-zoe.js
  packages/swingset-runner/demo/zoeTests/swingset.json
  packages/swingset-runner/demo/zoeTests/vat-zoe.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, swingset-runner

#1434 fix: open-code the `yarn link` operation for silence and speed
  packages/agoric-cli/lib/install.js
Labels: agoric-cli

#1439 Enable Zoe to use kernel bundle table
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/cosmic-swingset/lib/launch-chain.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/fakeVatAdmin.js
Labels: SwingSet, Zoe, cosmic-swingset, enhancement

#1457 Clean up wallet
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/contract/.gitignore
  packages/dapp-svelte-wallet/contract/deploy.js
  packages/dapp-svelte-wallet/contract/package.json
  packages/dapp-svelte-wallet/contract/src/contract.js
  packages/dapp-svelte-wallet/contract/test/test-contract.js
  packages/dapp-svelte-wallet/package.json
Labels: wallet

#1458 Rename "sourcePath" in swingset configs to "sourceSpec"
  packages/SwingSet/src/controller.js
  packages/SwingSet/test/definition/test-vat-definition.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/metering/test-within-vat.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-device-bridge.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-tildot.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/timer-device/test-device.js
  packages/SwingSet/test/workers/test-worker.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
  packages/swingset-runner/demo/resolveChain/swingset.json
  packages/swingset-runner/demo/zoeTests/swingset.json
  packages/swingset-runner/src/main.js
Labels: SwingSet, hygiene

#1452 refactor: prevent the same seat being an argument multiple times in reallocate
  packages/zoe/src/contractFacet/contractFacet.js
Labels: Zoe, security

#1451 refactor: remove makeEmptyOffer from zoeHelpers, use zcf.makeEmptySeatKit instead
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe

#1462 Use node package resolution for bundle sources, enable Zoe in cosmic-swingset to use prebundled zcf
  packages/SwingSet/src/controller.js
  packages/cosmic-swingset/lib/ag-solo/init-basedir.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/vat-zoe.js
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
Labels: SwingSet, Zoe, cosmic-swingset, enhancement

#1464 feat(agoric-cli): be more reusable and tolerant to missing dirs
  packages/agoric-cli/bin/agoric
  packages/agoric-cli/lib/entrypoint.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/package.json
  packages/dapp-svelte-wallet/ui/package.json
Labels: agoric-cli

#1450 refactor: link-cli (deprecated) -> create-agoric-cli
  package.json
  scripts/create-agoric-cli.cjs
Labels: agoric-cli

#1467 fix: downgrade back to allowing 12.14.1 to work
  .github/workflows/ag-solo-xs.yml.DISABLED
  .github/workflows/test-all-packages.yml
  .github/workflows/test-dapp-encouragement.yml
  README.md
  package.json
  packages/SwingSet/test/test-node-version.js
Labels: tooling

#1468 Leave patch-package as an option
  package.json
  patches/depd+1.1.2.patch
  yarn.lock
Labels: tooling

#1459 refactor: move issuerKeywordRecord and brandKeywordRecord to terms
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/grifter.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/useObjExample.js
  packages/zoe/test/unitTests/contracts/zcfTesterContract.js
Labels: Zoe

#1463 Changes to remove extraneous HandledPromise shim dependencies
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/captp/lib/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/test/captp-fixture.js
  packages/dapp-svelte-wallet/package.json
  packages/dapp-svelte-wallet/ui/src/captp.js
  packages/dapp-svelte-wallet/ui/src/install-ses-lockdown.js
  packages/eventual-send/.eslintrc.js
  packages/eventual-send/README.md
  packages/eventual-send/package.json
  packages/eventual-send/shim.js
  packages/eventual-send/src/index.js
  packages/eventual-send/src/no-shim.js
  packages/eventual-send/test/get-hp.js
  packages/eventual-send/test/test-e.js
  packages/eventual-send/test/test-hp.js
  packages/eventual-send/test/test-thenable.js
  packages/eventual-send/test/test.js
  packages/import-bundle/package.json
  packages/install-metering-and-ses/install-metering-and-ses.js
  packages/install-metering-and-ses/package.json
  packages/install-ses/install-ses.js
  packages/install-ses/package.json
  packages/produce-promise/src/producePromise.js
  packages/promise-kit/src/promiseKit.js
  packages/spawner/src/contractHost.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/evalContractCode.js
  yarn.lock
Labels: eventual-send, hygiene

#1355 refactor: move AmountMath from names to Kinds; easier local creation
  packages/ERTP/package.json
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/index.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/localAmountMath.js
  packages/ERTP/src/mathHelpersLib.js
  packages/ERTP/src/types.js
  packages/ERTP/test/swingsetTests/splitPayments/bootstrap.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-strSetMathHelpers.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/ERTP/test/unitTests/test-mintObj.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/spawner/src/contractHost.js
  packages/spawner/test/swingsetTests/contractHost/bootstrap.js
  packages/spawner/test/swingsetTests/contractHost/vat-alice.js
  packages/spawner/test/swingsetTests/contractHost/vat-bob.js
  packages/spawner/test/swingsetTests/contractHost/vat-fred.js
  packages/spawner/test/swingsetTests/contractHost/vat-mint.js
  packages/spawner/test/swingsetTests/escrow/bootstrap.js
  packages/spawner/test/swingsetTests/escrow/vat-mint.js
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
  packages/swingset-runner/demo/exchangeBenchmark/helpers.js
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/helpers.js
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerTable.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/swingsetTests/brokenContracts/bootstrap.js
  packages/zoe/test/swingsetTests/helpers.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/setupBasicMints.js
  packages/zoe/test/unitTests/setupMixedMints.js
  packages/zoe/test/unitTests/setupNonFungibleMints.js
  packages/zoe/test/unitTests/test-rightsConservation.js
Labels: ERTP, Zoe

#1474 refactor: add Zoe methods for getting assured invitation values
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-barter.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe, zoe-alpha-release

#1475 refactor: review of the following files in the form of code changes
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-barter.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/installFromSource.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe

#1481 chore(swingset): add (failing) test for dynamic vat replay
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/vat-admin/replay-bootstrap.js
  packages/SwingSet/test/vat-admin/replay-dynamic.js
  packages/SwingSet/test/vat-admin/test-replay.js
Labels: SwingSet

#1488 Zoe contract typings
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/eventual-send/src/index.d.ts
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
  packages/zoe/contractFacet.js
  packages/zoe/package.json
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/types.js
Labels: Zoe

#1493 chore: rename userSeat.exit() to tryExit()
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/zoe/docs/seats.md
  packages/zoe/docs/user-seat-exit-flow.puml
  packages/zoe/docs/zcf-reallocate-flow.puml
  packages/zoe/docs/zcf-seat-exit-flow.puml
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-useObj.js
Labels: Zoe

#1495 chore: move cleanProposal.js
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-cleanProposal.js
Labels: Zoe

#1497 chore(swingset): add test for vat termination
  packages/SwingSet/test/vat-admin/terminate/bootstrap-terminate.js
  packages/SwingSet/test/vat-admin/terminate/swingset-terminate.json
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/terminate/vat-dude-terminate.js
Labels: SwingSet

#1529 chore: address PR comments about kick out messages
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/simpleExchange.js
Labels: Zoe

#1527 chore: address PR comments about exit behavior
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/src/zoeService/zoeSeat.js
Labels: Zoe

#1486 Phase 1 of vat termination: stop talking to or about the vat
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/test/basedir-terminate/bootstrap.js
  packages/SwingSet/test/basedir-terminate/swingset.json
  packages/SwingSet/test/basedir-terminate/vat-dude.js
  packages/SwingSet/test/test-terminate.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-terminate.js
  packages/SwingSet/test/vat-admin/terminate/swingset-terminate.json
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/terminate/vat-dude-terminate.js
  packages/swingset-runner/demo/terminateVat/bootstrap.js
  packages/swingset-runner/demo/terminateVat/swingset.json
  packages/swingset-runner/demo/terminateVat/vat-dude.js
Labels: SwingSet, enhancement

#1543 chore: remove checkIfProposal and checkKeys, adjust simpleExchange
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe

#1549 Phase 1a of vat termination: reject promises from the dead vat
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-terminate.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
Labels: SwingSet, enhancement

#1548 build: enable dapp-svelte-wallet/api CI testing
  .github/workflows/test-all-packages.yml
Labels: wallet

#1541 chore: drop grifter test contract
  packages/zoe/test/unitTests/contracts/grifter.js
  packages/zoe/test/unitTests/contracts/test-grifter.js
Labels: Zoe

#1547 chore: updater.fail on kickOut, zcfSeat.kickOut connects to zoeSeatAdmin.kickOut
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoeSeat.js
Labels: Zoe

#1551 chore(swingset): add slogging framework
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-vpid-kernel.js
Labels: SwingSet

#1557 chore: add getIssuerForBrand to ZCF
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/types.js
Labels: Zoe

#1556 chore: change `brand.isMyIssuer` to accept a promise for an issuer
  packages/ERTP/src/issuer.js
  packages/ERTP/src/types.js
Labels: ERTP

#1545 refactor(Zoe, dapp-svelte-wallet): remove table abstraction from Zoe, dapp-svelte-wallet
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerTable.js
  packages/zoe/src/table.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe

#1559 chore: fix the errors Tom has found in the docs, types
  packages/zoe/src/contractSupport/zoeHelpers.js
Labels: Zoe

#1563 chore: rename tokenAmountMath
  packages/zoe/src/contracts/mintAndSellNFT.js
Labels: Zoe

#1560 Phase 2 of vat termination: throw away in memory remnants of de…
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/test-terminate.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-no-zombies.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-speak-to-dead.js
  packages/SwingSet/test/vat-admin/terminate/swingset-no-zombies.json
  packages/SwingSet/test/vat-admin/terminate/swingset-speak-to-dead.json
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/terminate/vat-medium-terminate.js
  packages/SwingSet/test/vat-admin/terminate/vat-weatherwax-terminate.js
Labels: SwingSet, enhancement

#1562 Refactor publicAuction, rename to secondPriceAuction
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/prepareContracts.js
  packages/swingset-runner/demo/zoeTests/swingset.json
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-carol.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
  packages/zoe/src/contractSupport/auctions.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contracts/auction/assertBidSeat.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/tools/manualTimer.js
Labels: Zoe

#1566 chore: address PR comments about sellItems
  packages/zoe/src/contracts/sellItems.js
Labels: Zoe

#1573 Give swingset config object spec a permanent home
  packages/SwingSet/docs/configuration.md
Labels: SwingSet, documentation

#1564 chore: add error handling for bad timers and deadlines when making seats
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
Labels: Zoe

#1575 Pegasus lessons
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/src/Petname.svelte
  packages/zoe/src/types.js
  yarn.lock
Labels: Zoe, wallet

#1574 switch from tape/tap to AVA for tests
  package.json
  packages/assert/package.json
  packages/assert/test/test-assert.js
  packages/assert/test/throwsAndLogs.js
  packages/import-manager/package.json
  packages/import-manager/test/unitTests/test-importsA.js
  packages/install-ses/package.json
  packages/install-ses/test-install-ses.js
  packages/install-ses/test/test-install-ses.js
  packages/sparse-ints/package.json
  yarn.lock
Labels: tooling

#1596 fix: correct and simplify the bootstrap process
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/docker/ag-setup-solo
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/set-fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/vat-provisioning.js
  packages/cosmic-swingset/lib/chain-main.js
Labels: cosmic-swingset

#1593 fix: upgrade Docker images to Debian buster
  .github/workflows/docker.yml
  Vagrantfile
  packages/agoric-cli/docker/Dockerfile
  packages/cosmic-swingset/Dockerfile
  packages/cosmic-swingset/provisioning-server/Dockerfile
  packages/deployment/Dockerfile
  packages/deployment/Dockerfile.sdk
  packages/deployment/Makefile
  packages/deployment/terraform/digitalocean/cluster/main.tf
  packages/deployment/terraform/docker/cluster/main.tf
  vagrant/Dockerfile
Labels: tooling

#1592 Decentralise deployed accounts
  .dockerignore
  .github/workflows/docker.yml
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/ansible/prepare-cosmos.yml
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-validators/tasks/main.yml
  packages/deployment/ansible/roles/init-cosmos/tasks/main.yml
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
  packages/deployment/main.js
Labels: deployment

#1604 Robust block manager and more
  packages/captp/lib/captp.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/scripts/single-node.sh
Labels: cosmic-swingset

#1583 chore: remove unused/old types and fix some issues
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe

#1613 chore: remove/disable a lot of kernel startup debug messages
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#1607 fix: add shutdown() to atomicSwap, coveredCall, and sellItems.
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
Labels: SwingSet, Zoe, test

#1615 feat: add a stub for decentralised web (dweb)
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/docker/ag-pserver
  packages/cosmic-swingset/provisioning-server/.dockerignore
  packages/cosmic-swingset/provisioning-server/Dockerfile
  packages/cosmic-swingset/provisioning-server/bin/ag-pserver.py
  packages/cosmic-swingset/provisioning-server/setup.py
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/__init__.py
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/html/index.html
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/html/response-template.html
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/html/styles.css
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/main.py
  packages/deployment/Dockerfile
  packages/deployment/Makefile
  packages/deployment/ansible/dweb-copy.yml
  packages/deployment/ansible/fetch-controller.yml
  packages/deployment/ansible/install-controller.yml
  packages/deployment/ansible/prepare-controller.yml
  packages/deployment/ansible/roles/dweb-copy/tasks/main.yml
  packages/deployment/ansible/roles/fetch-controller/tasks/main.yml
  packages/deployment/ansible/roles/init-controller/tasks/main.yml
  packages/deployment/ansible/roles/install-controller/tasks/main.yml
  packages/deployment/main.js
Labels: cosmic-swingset, deployment

#1627 fix: fix rather big bug in how exitAllSeats works
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe

#1472 refactor: do reallocate's replaceAllocations atomically in one call
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/makeHandle.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
Labels: Zoe

#1584 feat: add exit to empty seat
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
Labels: Zoe

#1626 Display kernel objects & promises in numeric order
  packages/swingset-runner/src/dumpstore.js
Labels: SwingSet, enhancement, tooling

#1586 refactor: fix liquidity bug in autoswap, add doc, better tests
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
Labels: Zoe, bug

#1624 Update exchange benchmark to re-use simpleExchange contract
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
  packages/swingset-runner/demo/exchangeBenchmark/exchanger.js
  packages/swingset-runner/demo/exchangeBenchmark/helpers.js
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
  packages/swingset-runner/demo/exchangeBenchmark/vat-alice.js
  packages/swingset-runner/demo/exchangeBenchmark/vat-bob.js
Labels: enhancement, swingset-runner

#1588 1568 Make Zoe use AVA
  .github/workflows/test-all-packages.yml
  packages/notifier/src/notifier.js
  packages/zoe/package.json
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/evalContractCode.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
  packages/zoe/test/unitTests/contractSupport/test-stateMachine.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/fakeVatAdmin.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-barter.js
  packages/zoe/test/unitTests/contracts/test-brokenContract.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/contracts/test-useObj.js
  packages/zoe/test/unitTests/contracts/test-zcf.js
  packages/zoe/test/unitTests/contracts/zcfTesterContract.js
  packages/zoe/test/unitTests/test-cleanProposal.js
  packages/zoe/test/unitTests/test-objArrayConversion.js
  packages/zoe/test/unitTests/test-offerSafety.js
  packages/zoe/test/unitTests/test-rightsConservation.js
  packages/zoe/test/zoeTestHelpers.js
  yarn.lock
Labels: Zoe

#1637 fix(create-agoric-cli): don't follow symlinks
  scripts/create-agoric-cli.cjs
Labels: agoric-cli

#1639 fix(ag-nchainz): provision solos with agoric.vattp capability
  packages/cosmic-swingset/bin/ag-nchainz
Labels: cosmic-swingset

#1635 fix(swingset): rewrite comms, probably add third-party forwarding
  packages/SwingSet/docs/images/comms-dispatch-namespaces.svg
  packages/SwingSet/src/makeUndeliverableError.js
  packages/SwingSet/src/parseVatSlots.js
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist-xgress.js
  packages/SwingSet/src/vats/comms/clist.js
  packages/SwingSet/src/vats/comms/controller.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/inbound.js
  packages/SwingSet/src/vats/comms/outbound.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/basedir-message-patterns/vat-b.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-comms.js
  packages/SwingSet/test/test-message-patterns.js
Labels: SwingSet

#1630 More general mailbox state persistence
  packages/SwingSet/src/devices/mailbox.js
  packages/agoric-cli/lib/deploy.js
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/spawner/src/contractHost.js
Labels: agoric-cli, cosmic-swingset

#1644 pre-bundle to speed up swingset unit tests
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/index.js
  packages/SwingSet/test/basedir-message-patterns/vat-a.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
Labels: SwingSet

#1648 feat: add a /dev/sda -> /home filesystem for Digital Ocean
  packages/deployment/ansible/roles/prereq/tasks/main.yml
  packages/deployment/terraform/digitalocean/cluster/main.tf
  packages/deployment/terraform/digitalocean/cluster/variables.tf
Labels: deployment
