Repository Agoric/agoric-sdk, pull requests merged in 2020-06, with the labels that each got.

#1151 Print REPL circularity when it really is
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
Labels: cosmic-swingset

#1150 [Zoe] Add installationHandle to invite extent
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe, zoe-alpha-release

#1140 Add simple stats dumping capability to swingset runner and kernel dumper
  packages/swingset-runner/.eslintrc.js
  packages/swingset-runner/demo/megaPong/bootstrap.js
  packages/swingset-runner/demo/resolveChain/bootstrap.js
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/printStats.js
Labels: enhancement, performance, swingset-runner, tooling

#1096 docs: declare `sparseKeywords` as optional in `getCurrentAllocation`
  packages/zoe/src/zoe.js
Labels: Zoe

#1155 [Zoe] Remove keywords from `areRightsConserved`
  packages/store/src/store.js
  packages/zoe/package.json
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/rightsConservation.js
  packages/zoe/src/state.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/grifter.js
  packages/zoe/test/unitTests/test-rightsConservation.js
Labels: Zoe, zoe-alpha-release

#1156 Don't ignore duplicate IBC packets
  packages/cosmic-swingset/x/swingset/ibc.go
Labels: cosmic-swingset

#1149 Just enough mechanism to support the provisioning transaction
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/block-manager.js
Labels: cosmic-swingset

#1161 feat: do not require accounts to exist before provisioning
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
Labels: cosmic-swingset

#1162 fix!: combine peer and submitter for `tx swingset deliver`
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/x/swingset/client/cli/tx.go
  packages/cosmic-swingset/x/swingset/client/rest/tx.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/internal/types/msgs.go
Labels: cosmic-swingset

#1167 feat(cosmic-swingset): add board, use board in mailboxAdmin
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mailbox.js
  packages/cosmic-swingset/test/test-home.js
  packages/cosmic-swingset/test/unitTests/test-lib-board.js
Labels: zoe-alpha-release

#1171 Use dehydrator for petnames
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-mailbox.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mailbox.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
Labels: zoe-alpha-release

#1170 fix: handle circular module references in nestedEvaluate
  packages/bundle-source/demo/circular/a.js
  packages/bundle-source/demo/circular/b.js
  packages/bundle-source/src/index.js
  packages/bundle-source/test/circular.js
Labels: bundle-source

#1175 fix: also tame symbol properties of globally-reachable objects
  packages/tame-metering/src/tame.js
Labels: metering

#1176 chore: add Zoe invite issuer and purse to wallet
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/test/test-home.js
Labels: cosmic-swingset, zoe-alpha-release

#1182 Tame metering direct eval
  packages/tame-metering/package.json
  packages/tame-metering/src/ses1.js
  packages/tame-metering/src/tame.js
  packages/tame-metering/test/test-sanity.js
Labels: metering

#1178 feat: add benchmarking support to swingset-runner
  packages/swingset-runner/demo/pingPongBenchmark/bootstrap.js
  packages/swingset-runner/demo/pingPongBenchmark/vat-alice.js
  packages/swingset-runner/demo/pingPongBenchmark/vat-bob.js
  packages/swingset-runner/demo/promiseChainBenchmark/bootstrap.js
  packages/swingset-runner/demo/promiseChainBenchmark/vat-bob.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/printStats.js
Labels: enhancement, performance, swingset-runner

#1181 chore: add mailbox for Zoe invites
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/test/test-home.js
Labels: zoe-alpha-release

#1185 Count more things
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/swingset-runner/src/printStats.js
Labels: SwingSet, enhancement, performance, swingset-runner

#1188 Remove loopbox device from Zoe tests
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: Zoe

#1189 Enable Zoe tests to be run from any directory
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: Zoe, enhancement

#1190 chore: improve display of invites and amounts generally
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/test/unitTests/test-lib-wallet.js
  packages/wallet-frontend/src/components/Amount.jsx
  packages/wallet-frontend/src/components/Purses.jsx
Labels: zoe-alpha-release

#1191 test: make independent of current working directory
  packages/ERTP/test/swingsetTests/splitPayments/test-splitPayments.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/sharing-service/test/swingsetTests/sharingService/test-sharing.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/spawner/test/swingsetTests/escrow/test-escrow.js
Labels: tooling

#1186 feat: further along the path of state export and migration
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-provisioning.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/lib/daemon/main.go
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/x/swingset/alias.go
  packages/cosmic-swingset/x/swingset/client/cli/query.go
  packages/cosmic-swingset/x/swingset/client/rest/query.go
  packages/cosmic-swingset/x/swingset/client/rest/rest.go
  packages/cosmic-swingset/x/swingset/genesis.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/cosmic-swingset/x/swingset/internal/keeper/querier.go
  packages/cosmic-swingset/x/swingset/internal/types/key.go
  packages/cosmic-swingset/x/swingset/internal/types/querier.go
  packages/cosmic-swingset/x/swingset/internal/types/types.go
  packages/deployment/set-json.js
Labels: cosmic-swingset

#1086 Implement `agoric cosmos ...` and `agoric cosmos provision`
  packages/agoric-cli/lib/cosmos.js
  packages/agoric-cli/lib/main.js
Labels: agoric-cli

#1195 chore(bundle-source): add an extra test
  packages/bundle-source/demo/babel-parser-mangling.js
  packages/bundle-source/test/sanity.js
Labels: bundle-source

#1134 fix: replace openDetail with quoting q
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/assert/src/assert.js
  packages/assert/test/test-assert.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/same-structure/src/sameStructure.js
  packages/store/src/store.js
  packages/wallet-frontend/src/utils/fetch-websocket.js
  packages/weak-store/src/weakStore.js
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/test-objArrayConversion.js
Labels: assert, tooling, zoe-alpha-release

#1148 chore: prefer assert.typedef over assert.equal when appropriate
  packages/SwingSet/src/capdata.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/message.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/marshal/marshal.js
  packages/registrar/src/registrar.js
Labels: assert, tooling

#1202 Zoe simpleExchange perf test in swingset-runner
  packages/swingset-runner/.eslintignore
  packages/swingset-runner/.eslintrc.js
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
  packages/swingset-runner/demo/exchangeBenchmark/exchanger.js
  packages/swingset-runner/demo/exchangeBenchmark/helpers.js
  packages/swingset-runner/demo/exchangeBenchmark/prepareContracts.js
  packages/swingset-runner/demo/exchangeBenchmark/printLog.js
  packages/swingset-runner/demo/exchangeBenchmark/vat-alice.js
  packages/swingset-runner/demo/exchangeBenchmark/vat-bob.js
  packages/swingset-runner/demo/exchangeBenchmark/vat-zoe.js
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/helpers.js
  packages/swingset-runner/demo/zoeTests/manualTimer.js
  packages/swingset-runner/demo/zoeTests/prepareContracts.js
  packages/swingset-runner/demo/zoeTests/printLog.js
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-carol.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
  packages/swingset-runner/demo/zoeTests/vat-zoe.js
  packages/swingset-runner/package.json
Labels: enhancement, performance, swingset-runner

#1197 agoric start local-chain and local-solo
  packages/agoric-cli/lib/cosmos.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/lib/block-manager.js
Labels: agoric-cli

#1205 remove bundle step from captp package
  packages/captp/package.json
  packages/captp/rollup.config.js
  yarn.lock
Labels: captp

#1207 feat(transform-metering): add balance-getters to refillFacet
  packages/transform-metering/src/meter.js
  packages/transform-metering/test/test-meter.js
Labels: metering

#1215 feat(ERTP): add deposit only facet to purses
  packages/ERTP/src/issuer.js
  packages/ERTP/test/unitTests/test-issuerObj.js
Labels: ERTP, zoe-alpha-release

#1198 fix: shorten chain cadence to 2 seconds (instead of default 5)
  packages/deployment/ansible/install-cosmos.yml
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
Labels: deployment

#1231 Cosmos state export and restart
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Dockerfile
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/README.md
  packages/cosmic-swingset/app/export.go
  packages/cosmic-swingset/bin/ag-chain-cosmos
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/chain-entrypoint.js
  packages/cosmic-swingset/scripts/chain-entry.sh
  packages/cosmic-swingset/x/swingset/client/cli/query.go
  packages/cosmic-swingset/x/swingset/internal/keeper/querier.go
  packages/deployment/Dockerfile.sdk
  packages/deployment/ansible/install-cosmos.yml
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/main.js
Labels: agoric-cli, cosmic-swingset

#1219 Add support for getting return value from exogenous kernel messages
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/messageResult.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/vat-exomessages.js
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, swingset-runner

#1218 refactor dynamic vat creation
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#1220 meter dynamic vats
  packages/SwingSet/docs/dynamic-vats.md
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/metering/metered-dynamic-vat.js
  packages/SwingSet/test/metering/test-dynamic-vat.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/metering/vat-within.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
Labels: SwingSet

#1232 use named buildRootObject export for dynamic vats, not default export
  packages/SwingSet/docs/dynamic-vats.md
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/test/metering/metered-dynamic-vat.js
  packages/SwingSet/test/vat-admin/broken-vat.js
  packages/SwingSet/test/vat-admin/new-vat.js
Labels: SwingSet

#1147 [Zoe] - add zoeHelper `trade` which performs a trade given the gains of both sides
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/offerSafety.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/test-offerSafety.js
Labels: Zoe, zoe-alpha-release

#1235 remove deprecated `instanceRecord`
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe, zoe-alpha-release

#1234 Universally expunge nugatory `withSES` parameter
  packages/ERTP/test/swingsetTests/splitPayments/test-splitPayments.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/test/metering/test-dynamic-vat.js
  packages/SwingSet/test/metering/test-within-vat.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
  packages/SwingSet/test/test-device-bridge.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-marshal.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-tildot.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/test-vat-imports.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/timer-device/test-device.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/sharing-service/test/swingsetTests/sharingService/test-sharing.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/spawner/test/swingsetTests/escrow/test-escrow.js
  packages/swingset-runner/src/main.js
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: hygiene

#1240 Update agoric-cli genesis and config.toml params
  packages/agoric-cli/lib/chain-params.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  yarn.lock
Labels: agoric-cli

#1242 provisioning with no controller
  packages/cosmic-swingset/provisioning-server/src/ag_pserver/main.py
  packages/deployment/ansible/cosmos-genesis.yml
Labels: cosmic-swingset

#1241 feat(swingset): allow vats to be defined by a buildRootObject export
  packages/SwingSet/docs/static-vats.md
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/definition/test-vat-definition.js
  packages/SwingSet/test/definition/vat-liveslots.js
  packages/SwingSet/test/definition/vat-setup.js
Labels: SwingSet
