Repository Agoric/agoric-sdk, pull requests merged in 2020-04, with the labels that each got.

#850 Deployment tweaks
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/ibc-docker.yml
  packages/cosmic-swingset/.dockerignore
  packages/cosmic-swingset/demo1/bootstrap.js
  packages/cosmic-swingset/demo1/vat-comms.js
  packages/cosmic-swingset/demo1/vat-mint.js
  packages/deployment/.dockerignore
  packages/deployment/.gitignore
  packages/deployment/Dockerfile.show-fat
  packages/deployment/Makefile
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/ansible/roles/cosmos-delegates/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-validators/tasks/main.yml
Labels: deployment

#852 Change the account prefix to "agoric" and app name to Agoric
  packages/cosmic-swingset/app.go
  packages/cosmic-swingset/lib/daemon/main.go
  packages/cosmic-swingset/lib/helper/main.go
Labels: cosmic-swingset

#880 fix: update checkIfProposal and rejectIfNotProposal
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/unitTests/contracts/helpers/test-zoeHelpers.js
Labels: Zoe, hackathon-release, zoe-alpha-release

#882 refactor: move contractSupport tests to be parallel to the code
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
  packages/zoe/test/unitTests/contractSupport/test-stateMachine.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe, hackathon-release

#881 chore: new tests for liveslots vpid retirement
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#888 add kernel-side vpid-management tests
  packages/SwingSet/test/test-vpid-kernel.js
Labels: SwingSet

#885 Getting started tests
  .github/workflows/integration.yml
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/test/test-workflow.js
  packages/cosmic-swingset/app.go
Labels: agoric-cli

#902 test: Make new source comparison tests more robust
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
Labels: bug, hackathon-release

#900 fix: cosmic-swingset should use disk-backed storage
  packages/cosmic-swingset/lib/ag-solo/reset-state.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/package.json
Labels: cosmic-swingset

#898 Full types for Zoe service and contract facet
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/issuer.js
  packages/assert/src/assert.js
  packages/bundle-source/src/index.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/zoe.js
Labels: ERTP, Zoe

#901 Better detection of already-listening ports
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/web.js
Labels: cosmic-swingset

#878 Zoe chainmail
  packages/zoe/src/zoe.chainmail
Labels: Zoe

#910 [Zoe] Ensure offers have the instance handle of the contract instance
  packages/zoe/src/zoe.js
Labels: Zoe

#871 Shorten HandledPromises to propagate handlers
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-hp.js
Labels: SwingSet, eventual-send

#906 New tool: kernel state dump utility
  packages/swingset-runner/bin/kerneldump
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/kerneldump.js
Labels: enhancement, swingset-runner, tooling

#917 Retry the CapTP WebSocket if it failed to connect
  packages/agoric-cli/lib/deploy.js
Labels: agoric-cli

#912 Merge Gaia+IBC into cosmic-swingset
  go.mod
  packages/cosmic-swingset/app.go
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/app/app_test.go
  packages/cosmic-swingset/app/benchmarks/txsize_test.go
  packages/cosmic-swingset/app/codec/codec.go
  packages/cosmic-swingset/app/codec/codec.pb.go
  packages/cosmic-swingset/app/codec/codec.proto
  packages/cosmic-swingset/app/export.go
  packages/cosmic-swingset/app/genesis.go
  packages/cosmic-swingset/app/params.go
  packages/cosmic-swingset/app/sim_bench_test.go
  packages/cosmic-swingset/app/sim_test.go
  packages/cosmic-swingset/cmd/ag-chain-cosmos/main.go
  packages/cosmic-swingset/cmd/ag-cosmos-helper/main.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/agcosmosdaemon.go
  packages/cosmic-swingset/lib/daemon/genaccounts.go
  packages/cosmic-swingset/lib/daemon/main.go
  packages/cosmic-swingset/lib/daemon/replay.go
  packages/cosmic-swingset/lib/daemon/testnet.go
  packages/cosmic-swingset/lib/helper/main.go
  packages/cosmic-swingset/third_party/proto/cosmos-proto/cosmos.proto
  packages/cosmic-swingset/third_party/proto/cosmos-sdk/types/types.proto
  packages/cosmic-swingset/third_party/proto/cosmos-sdk/x/auth/types/types.proto
  packages/cosmic-swingset/third_party/proto/cosmos-sdk/x/auth/vesting/types/types.proto
  packages/cosmic-swingset/third_party/proto/cosmos-sdk/x/supply/types/types.proto
  packages/cosmic-swingset/third_party/proto/gogoproto/gogo.proto
  packages/cosmic-swingset/x/swingset/alias.go
  packages/cosmic-swingset/x/swingset/blockers.go
  packages/cosmic-swingset/x/swingset/client/cli/query.go
  packages/cosmic-swingset/x/swingset/client/cli/tx.go
  packages/cosmic-swingset/x/swingset/client/rest/tx.go
  packages/cosmic-swingset/x/swingset/controller.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/cosmic-swingset/x/swingset/internal/keeper/querier.go
  packages/cosmic-swingset/x/swingset/internal/types/expected_keepers.go
  packages/cosmic-swingset/x/swingset/internal/types/types.go
  packages/cosmic-swingset/x/swingset/module.go
  packages/cosmic-swingset/x/swingset/storage.go
Labels: cosmic-swingset

#923 Improve debug diagnostics
  packages/SwingSet/.eslintrc.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/kernel/kdebug.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/test-transcript-light.js
  packages/swingset-runner/bin/runner
  packages/swingset-runner/demo/justReply/bootstrap.js
  packages/swingset-runner/demo/justReply/vat-alice.js
  packages/swingset-runner/demo/justReply/vat-bob.js
  packages/swingset-runner/demo/resolveCase1/bootstrap.js
  packages/swingset-runner/demo/resolveCase1/vat-bob.js
  packages/swingset-runner/demo/resolveCase2/bootstrap.js
  packages/swingset-runner/demo/resolveCase2/vat-bob.js
  packages/swingset-runner/demo/resolveCase3/bootstrap.js
  packages/swingset-runner/demo/resolveCase3/vat-bob.js
  packages/swingset-runner/demo/resolveDelayedPipeline/bootstrap.js
  packages/swingset-runner/demo/resolveDelayedPipeline/vat-bob.js
  packages/swingset-runner/demo/resolveInArrayCase1/bootstrap.js
  packages/swingset-runner/demo/resolveInArrayCase1/vat-bob.js
  packages/swingset-runner/demo/resolvePassResult/bootstrap.js
  packages/swingset-runner/demo/resolvePassResult/vat-bob.js
  packages/swingset-runner/demo/resolvePassResultPromise/bootstrap.js
  packages/swingset-runner/demo/resolvePassResultPromise/vat-bob.js
  packages/swingset-runner/demo/resolvePipelined/bootstrap.js
  packages/swingset-runner/demo/resolvePipelined/vat-bob.js
  packages/swingset-runner/demo/resolvePromiseComplicated/bootstrap.js
  packages/swingset-runner/demo/resolvePromiseComplicated/vat-bob.js
  packages/swingset-runner/demo/resolvePromiseComplicated/vat-carol.js
  packages/swingset-runner/demo/simplePromisePass/bootstrap.js
  packages/swingset-runner/demo/simplePromisePass/vat-alice.js
  packages/swingset-runner/demo/simplePromisePass/vat-bob.js
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, swingset-runner, tooling

#853 [Zoe] upcall refactoring of inviting to offer
  packages/ERTP/src/issuer.js
  packages/cosmic-swingset/lib/ag-solo/contracts/zoe-automaticRefund.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
  packages/zoe/src/clientSupport/index.js
  packages/zoe/src/clientSupport/instanceHandle.js
  packages/zoe/src/contractSupport/auctions.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/infiniteTestLoop.js
  packages/zoe/test/swingsetTests/zoe-metering/testBuiltins.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/brokenAutoRefund.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: Zoe, hackathon-release

#856 Network API
  packages/SwingSet/docs/networking.md
  packages/SwingSet/package.json
  packages/SwingSet/src/vats/network/index.js
  packages/SwingSet/src/vats/network/multiaddr.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/test/test-network.js
  packages/cosmic-swingset/Dockerfile
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-network.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/eventual-send/src/index.d.ts
  packages/produce-promise/src/producePromise.js
  packages/store/src/store.js
Labels: SwingSet

#938 require Node.js v12.16.1 or higher: update docs and metadata
  .github/workflows/ag-solo-xs.yml
  .github/workflows/integration.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-all-packages.yml.use-cache
  README.md
  package.json
  packages/SwingSet/test/test-node-version.js
Labels: tooling

#861 [Zoe] Add multipool autoswap
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe, hackathon-release

#940 chore: improve swingset vpid-retirement test
  packages/SwingSet/test/test-vpid-kernel.js
Labels: SwingSet

#948 [Zoe] Remove old zoe.redeem, zcf.makeInvite, and other vestigal elements. Update all contracts.
  packages/ERTP/src/issuer.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/test-operaConcertTicket.js
Labels: Zoe

#946 feat: rename the registrar to be registry in "home"
  packages/cosmic-swingset/README.md
  packages/cosmic-swingset/lib/ag-solo/contracts/README-contract.md
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/registrar/src/registrar.js
  packages/zoe/CONTRIBUTING.md
Labels: SwingSet, hackathon-release

#927 feat: Add a notifier facility for Zoe and contracts
  package.json
  packages/notifier/.eslintrc-jessie.js
  packages/notifier/CHANGELOG.md
  packages/notifier/CONTRIBUTING.md
  packages/notifier/NEWS.md
  packages/notifier/README.md
  packages/notifier/package.json
  packages/notifier/src/notifier.js
  packages/notifier/test/test-notifier.js
Labels: Zoe, enhancement

#952 fix: add registrar to homeP and fix hanging issue
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
Labels: hackathon-release

#944 feat: Zoe use notifier to announce changes to offer amounts and status
  packages/zoe/package.json
  packages/zoe/src/state.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: Zoe, hackathon-release, zoe-alpha-release

#945 feat: SimpleExchange use notifier to announce changes to book orders
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: Zoe, hackathon-release

#956 [cosmic-swingset, wallet-frontend] Update wallet to remove seat hook, handle offer hook
  packages/agoric-cli/agoric-wallet-build/asset-manifest.json
  packages/agoric-cli/agoric-wallet-build/index.html
  packages/agoric-cli/agoric-wallet-build/precache-manifest.01da4ba6d022f47bc8cb21114cb5f159.js
  packages/agoric-cli/agoric-wallet-build/service-worker.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.13c8a198.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.13c8a198.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/main.d734ffca.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.d734ffca.chunk.js.map
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/wallet-frontend/src/store/operations.js
Labels: hackathon-release

#955 add isSwingStore() queries to both kinds of kernel storage
  packages/swing-store-lmdb/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
Labels: SwingSet

#957 Default to nested evaluate
  packages/agoric-cli/lib/deploy.js
  packages/bundle-source/src/index.js
  packages/bundle-source/test/sanity.js
  packages/transform-eventual-send/src/index.js
Labels: bundle-source

#963 fix: cosmic-swingset: fall back to SimpleStore if LMDB doesn't work
  packages/cosmic-swingset/lib/ag-solo/reset-state.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/check-lmdb.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/package.json
Labels: cosmic-swingset

#964 refactor: remove array based offer handling
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
Labels: hackathon-release

#967 Improve bridge and network implementation
  packages/SwingSet/docs/networking.md
  packages/SwingSet/src/devices/bridge-src.js
  packages/SwingSet/src/devices/bridge.js
  packages/SwingSet/src/vats/network/bytes.js
  packages/SwingSet/src/vats/network/index.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/test/device-bridge-bootstrap.js
  packages/SwingSet/test/test-device-bridge.js
  packages/SwingSet/test/test-network.js
Labels: SwingSet

#968 Go IBC functionality
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/app/export.go
  packages/cosmic-swingset/app/sim_test.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/daemon/main.go
  packages/cosmic-swingset/x/swingset/alias.go
  packages/cosmic-swingset/x/swingset/blockers.go
  packages/cosmic-swingset/x/swingset/controller.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/cosmic-swingset/x/swingset/internal/types/codec.go
  packages/cosmic-swingset/x/swingset/internal/types/expected_keepers.go
  packages/cosmic-swingset/x/swingset/internal/types/msgs.go
  packages/cosmic-swingset/x/swingset/module.go
Labels: cosmic-swingset

#966 [WIP] feat: store offer handle and get offer active
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
Labels: hackathon-release

#969 Add outcome to wallet
  packages/agoric-cli/agoric-wallet-build/asset-manifest.json
  packages/agoric-cli/agoric-wallet-build/index.html
  packages/agoric-cli/agoric-wallet-build/precache-manifest.2430bf652aff992328c447059a389057.js
  packages/agoric-cli/agoric-wallet-build/service-worker.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.73875dca.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.73875dca.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/main.d734ffca.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.d734ffca.chunk.js.map
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/wallet-frontend/src/contexts/Application.jsx
  packages/wallet-frontend/src/store/operations.js
Labels: hackathon-release

#954 Introduce vats/ibc.js handler
  packages/SwingSet/docs/networking.md
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/test/test-network.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/queue.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-network.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/cosmic-swingset/x/swingset/internal/types/expected_keepers.go
Labels: cosmic-swingset

#973 hush harden warning
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/assert/package.json
  packages/bundle-source/package.json
  packages/captp/package.json
  packages/cosmic-swingset/lib/ag-solo/entrypoint.js
  packages/cosmic-swingset/package.json
  packages/eventual-send/package.json
  packages/import-manager/package.json
  packages/marshal/package.json
  packages/notifier/package.json
  packages/produce-promise/package.json
  packages/registrar/package.json
  packages/same-structure/package.json
  packages/ses-adapter/package.json
  packages/sharing-service/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/store/package.json
  packages/swingset-runner/package.json
  packages/tame-metering/package.json
  packages/transform-eventual-send/package.json
  packages/transform-metering/package.json
  packages/weak-store/package.json
  packages/zoe/package.json
  yarn.lock
Labels: cosmic-swingset

#975 Implement the "sendPacket" transaction
  packages/SwingSet/src/vats/network/network.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-ibc.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/cosmic-swingset/x/swingset/internal/types/msgs.go
Labels: cosmic-swingset

#977 chore: hush harden/SES warning in agoric-cli
  packages/agoric-cli/bin/agoric
Labels: agoric-cli

#982 Add new example contract to mint fungible tokens
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
Labels: hackathon-release

#985 Stop LMDB from crashing in the WLS environment
  packages/swing-store-lmdb/lmdbSwingStore.js
Labels: bug

#984 SDK cleanups
  packages/agoric-cli/agoric-wallet-build/asset-manifest.json
  packages/agoric-cli/agoric-wallet-build/assets/account_balance_wallet-24px.svg
  packages/agoric-cli/agoric-wallet-build/favicon.ico
  packages/agoric-cli/agoric-wallet-build/index.html
  packages/agoric-cli/agoric-wallet-build/manifest.json
  packages/agoric-cli/agoric-wallet-build/precache-manifest.2430bf652aff992328c447059a389057.js
  packages/agoric-cli/agoric-wallet-build/service-worker.js
  packages/agoric-cli/agoric-wallet-build/static/js/2.80be0d87.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/2.80be0d87.chunk.js.LICENSE.txt
  packages/agoric-cli/agoric-wallet-build/static/js/2.80be0d87.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/main.73875dca.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.73875dca.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/runtime-main.6d19b3b8.js
  packages/agoric-cli/agoric-wallet-build/static/js/runtime-main.6d19b3b8.js.map
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/package.json
  packages/cosmic-swingset/lib/ag-solo/contracts/README-contract.md
  packages/cosmic-swingset/lib/ag-solo/contracts/contractHost-2n.js
  packages/cosmic-swingset/lib/ag-solo/contracts/contractHost-encouragementBot.js
  packages/cosmic-swingset/lib/ag-solo/contracts/encourage.js
  packages/cosmic-swingset/lib/ag-solo/init-basedir.js
  packages/cosmic-swingset/package.json
  packages/wallet-frontend/.env.local
  packages/wallet-frontend/package.json
  packages/wallet-frontend/yarn.lock
  yarn.lock
Labels: agoric-cli, cosmic-swingset, wallet

#983 Get working with latest relayer
  packages/agoric-cli/lib/main.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/app/app_test.go
  packages/cosmic-swingset/app/sim_test.go
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/bin/ag-solo
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/ag-chain-cosmos
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/daemon/genaccounts.go
  packages/cosmic-swingset/lib/daemon/replay.go
  packages/cosmic-swingset/x/swingset/ibc.go
Labels: cosmic-swingset, hackathon-release

#961 Make kernel keep track of crank number
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-state.js
  packages/swingset-runner/src/dumpstore.js
Labels: SwingSet, enhancement

#998 add Appveyor CI
  .appveyor/appveyor.yml
  .appveyor/build.sh
  .appveyor/install-build-tools.sh
  .appveyor/install-go.sh
  .appveyor/install-node-13.sh
  .appveyor/install-nvm.sh
  .appveyor/install-yarn.sh
  .appveyor/no-stderr
  .appveyor/test.sh
  packages/SwingSet/package.json
Labels: tooling

#1001 Bare minimum description of the update in ERTP v0.5.0
  packages/ERTP/NEWS.md
Labels: ERTP

#1005 Don't use the (nonexistent) _agstate/agoric-wallet anymore
  packages/agoric-cli/lib/start.js
Labels: hackathon-release

#870 Clear up presences vs. remotables
  packages/SwingSet/src/kernel/liveSlots.js
  packages/agoric-cli/bin/agoric
  packages/captp/lib/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/marshal/marshal.js
  packages/marshal/test/test-marshal.js
Labels: SwingSet, captp, cosmic-swingset, marshal

#1000 Improve brand check
  packages/ERTP/src/amountMath.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-strSetMathHelpers.js
  packages/ERTP/test/unitTests/test-issuerObj.js
Labels: ERTP

#1006 Implement an integration test for HTTP endpoints
  packages/agoric-cli/integration-tests/test-workflow.js
Labels: agoric-cli

#1015 chore: improve testing of liveslots VPID handling
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#1020 add a GitHub Action script to update the hackathon branch
  .github/workflows/update-hackathon-branch.yml
Labels: tooling

#1027 Add wallet to workspace
  package.json
  packages/wallet-frontend/.gitignore
  yarn.lock
Labels: wallet

#1030 Add getCurrentAllocation(s) to Zoe Service, remove allocations from getOffer
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/test-operaConcertTicket.js
Labels: Zoe, zoe-alpha-release

#1004 Accomodate relayers that start channels themselves
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/cmd/ag-cosmos-daemon/main.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/agcosmosdaemon-node.cc
  packages/cosmic-swingset/lib/agcosmosdaemon.go
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/x/swingset/controller.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/eventual-send/src/index.d.ts
  packages/marshal/marshal.js
  packages/marshal/test/test-marshal.js
Labels: cosmic-swingset
