Repository Agoric/agoric-sdk, pull requests merged in 2020-12, with the labels that each got.

#2032 fix!: separate wallet into User, Bridge, and Internal
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/lib/ListCard.svelte
  packages/dapp-svelte-wallet/ui/src/store.js
Labels: wallet

#2068 Update IBC to match relayer v1.0.0-rc1
  golang/cosmos/daemon/cmd/testnet.go
  packages/agoric-cli/lib/chain-config.js
  packages/cosmic-swingset/bin/ag-nchainz
Labels: agoric-cli, cosmic-swingset

#2016 OfferTo as a Zoe Helper - ready for design review
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/test/unitTests/contractSupport/test-offerTo.js
  packages/zoe/test/unitTests/zcf/zcfTesterContract.js
Labels: Zoe

#2072 Stargate-rc4 upgrade
  go.mod
  go.sum
  golang/cosmos/app/app.go
  golang/cosmos/x/dibc/keeper/keeper.go
  packages/agoric-cli/lib/chain-config.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2078 Release tweaks
  packages/cosmic-swingset/NEWS.md
  packages/deployment/ansible/install.yml
  packages/deployment/ansible/roles/stat-tls-keys/tasks/main.yml
Labels: deployment, documentation

#2077 fix: message batches reduce wallet setup from 80 to 20 chain trips
  packages/cosmic-swingset/lib/ag-solo/batched-deliver.js
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/outbound.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/dapp-svelte-wallet/api/deploy.js
Labels: cosmic-swingset

#2082 Correlate sent errors with received errors
  packages/SwingSet/src/kernel/deviceSlots.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-exomessages.js
  packages/captp/lib/captp.js
  packages/dapp-svelte-wallet/api/src/lib-dehydrate.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/eventual-send/src/track-turns.js
  packages/marshal/src/marshal.js
  packages/marshal/src/types.js
  packages/marshal/test/test-marshal.js
Labels: logging, tooling

#2080 Little fixes pulled from the rendezvous PR
  golang/cosmos/Makefile
  packages/agoric-cli/lib/deploy.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-e.js
  packages/eventual-send/test/test-eventual-send.js
Labels: cosmic-swingset, eventual-send

#2084 Fix problems with keyrings due to non-alphanumeric version.Name
  golang/cosmos/Makefile
Labels: cosmic-swingset

#2075 refactor: extract and test percentMath
  packages/zoe/src/contractSupport/percentMath.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/test/unitTests/contractSupport/test-percentMath.js
Labels: ERTP, Zoe

#2088 refactor: make callSpread contracts use percentMath
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
Labels: Zoe

#2087 Finish support for notifying multiple promises at once
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/util.js
Labels: SwingSet, enhancement

#2096 chore: rearrange dependencies
  package.json
  packages/dapp-svelte-wallet/package.json
  packages/eslint-config/package.json
  packages/import-bundle/package.json
  packages/xs-vat-worker/package.json
  packages/zoe/tools/fakePriceAuthority.js
  yarn.lock
Labels: hygiene

#2095 fix(tame-metering): be tolerant to Node.js 14.15.2
  packages/tame-metering/src/tame.js
Labels: metering

#2112 Add 'getRecentCollateralAmount` to loan contract's `borrowFacet`
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
Labels: DemoDay

#2116 chore: change E(zoe).startInstance to accept promises for installations
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/unitTests/test-zoe.js
Labels: DemoDay, Zoe

#2142 fix: simple fixes for chain parameters
  golang/cosmos/Makefile
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/set-defaults.js
  packages/agoric-cli/lib/start.js
  packages/deployment/main.js
  packages/eventual-send/src/index.d.ts
  packages/eventual-send/src/index.js
Labels: agoric-cli
