Repository Agoric/agoric-sdk, pull requests merged in 2020-05, with the labels that each got.

#1036 Implement `console` endowment for the REPL
  packages/cosmic-swingset/lib/ag-solo/html/index.html
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
Labels: cosmic-swingset

#993 Add escrow payment and allocate to recipient ContractSupport Helper
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/offerSafety.js
  packages/zoe/src/state.js
Labels: Zoe, zoe-alpha-release

#1009 Zoe v0.6.0
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/zoe/NEWS.md
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/offerSafety.js
  packages/zoe/src/state.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/infiniteTestLoop.js
  packages/zoe/test/swingsetTests/zoe-metering/testBuiltins.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/brokenAutoRefund.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-operaConcertTicket.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
Labels: Zoe, zoe-alpha-release

#1043 dIBC inbound
  packages/SwingSet/docs/networking.md
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/test/test-network.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-network.js
  yarn.lock
Labels: cosmic-swingset

#1045 Upgrade Cosmos SDK to fix x/capability nondeterminism
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/app/benchmarks/txsize_test.go
  packages/cosmic-swingset/app/genesis.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/daemon/genaccounts.go
  packages/cosmic-swingset/lib/daemon/main.go
  packages/cosmic-swingset/lib/helper/main.go
  packages/cosmic-swingset/x/swingset/handler.go
Labels: cosmic-swingset

#1048 Fail hard if there is no $BOOT_ADDRESS
  packages/cosmic-swingset/lib/chain-main.js
Labels: cosmic-swingset

#1054 [cosmic-swingset] chore: make cosmic-swingset lint clean
  packages/cosmic-swingset/calc-rpcport.js
  packages/cosmic-swingset/lib/ag-solo/bundle.js
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/lib/ag-solo/set-gci-ingress.js
  packages/cosmic-swingset/lib/ag-solo/upload-contract.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-registrar.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-sharing.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-uploads.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/test/test-node-version.js
Labels: zoe-alpha-release

#1057 Full traversal of sendPacket from end-to-end
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
Labels: cosmic-swingset

#1062 Refactor dispatch to put vat- & kernel-specific bits in their respective source files
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager.js
Labels: SwingSet

#1067 Always send non-empty acknowledgements
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
Labels: cosmic-swingset

#1068 rewrite liveslots use of HandledPromise, remove deliver() stall
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/eventual-send/src/index.js
Labels: SwingSet, eventual-send

#1063 ag-nchainz start-relayer
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
Labels: cosmic-swingset

#1041 docs: improve Zoe JSDoc; enable type-checking in all contracts
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/zoe.js
Labels: Zoe

#1076 fix: filter proposal give and want by sparseKeywords in zcf.reallocate
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/zoe.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
  packages/zoe/test/unitTests/test-offerSafety.js
Labels: Zoe, zoe-alpha-release

#1081 Greatly reduce Docker image sizes
  .dockerignore
  packages/deployment/Dockerfile.sdk
Labels: tooling

#1080 Game of Zones fixes
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
  packages/deployment/bigdipper/ag-bigdipper.sh
  packages/deployment/bigdipper/settings.json
Labels: deployment

#1077 Provide scaffolding for testing scenario3's home objects
  .github/workflows/lint.yml
  .github/workflows/test-all-packages.yml
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/test/captp-fixture.js
  packages/cosmic-swingset/test/test-home.js
Labels: cosmic-swingset

#1094 fix: temporary fix to support displaying NFT extents which are arrays of objects
  packages/wallet-frontend/src/components/Inbox.jsx
  packages/wallet-frontend/src/components/Purses.jsx
Labels: zoe-alpha-release

#1079 Don't stall extra turns while resolving to local objects
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-hp.js
Labels: eventual-send

#1099 Make output from bundleSource correspond to source map lines
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/bundle-source/test/sanity.js
  packages/default-evaluate-options/package.json
  packages/evaluate/src/index.js
  packages/eventual-send/package.json
  packages/transform-eventual-send/package.json
  packages/transform-eventual-send/src/index.js
  packages/transform-metering/package.json
  yarn.lock
Labels: bundle-source

#1102 add tildot transform to bundle-source
  packages/bundle-source/.eslintignore
  packages/bundle-source/demo/tildot/file2.js
  packages/bundle-source/demo/tildot/index.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/bundle-source/test/tildot-transform.js
  packages/default-evaluate-options/src/index.js
  packages/transform-eventual-send/src/index.js
  packages/transform-eventual-send/src/rewriter.js
  packages/transform-eventual-send/test/ses-test.js
  packages/transform-eventual-send/test/test-transformer.js
Labels: bundle-source, transform-eventual-send

#1092 feat: marshal based on user's petnames
  packages/cosmic-swingset/lib/ag-solo/vats/lib-dehydrate.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/test/unitTests/test-lib-dehydrate.js
Labels: cosmic-swingset, zoe-alpha-release

#1109 [Zoe] fix: fix typedef and give better error message
  packages/zoe/src/zoe.js
Labels: Zoe, zoe-alpha-release

#1118 Don't bypass the block queue when running simulateBlock
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
Labels: bug, cosmic-swingset

#930 Continued implementation of resolved promise pruning
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/basedir-circular/bootstrap.js
  packages/SwingSet/test/basedir-circular/vat-bob.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/swingset-runner/demo/resolveCircular/bootstrap.js
  packages/swingset-runner/demo/resolveCircular/vat-bob.js
  packages/swingset-runner/demo/resolvePassResultPromise/bootstrap.js
  packages/swingset-runner/demo/resolvePassResultPromise/vat-bob.js
  packages/swingset-runner/demo/resolveSimpleCicular/bootstrap.js
  packages/swingset-runner/demo/resolveSimpleCicular/vat-bob.js
  packages/swingset-runner/demo/resolveWithEmbeddedPromise/bootstrap.js
  packages/swingset-runner/demo/resolveWithEmbeddedPromise/vat-bob.js
Labels: SwingSet, enhancement, performance

#1122 Deal more gracefully with data sources that have a common base file name
  packages/stat-logger/src/statGraph.js
  packages/swingset-runner/src/dataGraphApp.js
Labels: bug, enhancement

#1123 Don't use the LMDB `useWritemap` option if we know we don't need it
  packages/swing-store-lmdb/lmdbSwingStore.js
Labels: performance

#1132 fix: spawner leak, delete dead code
  packages/spawner/package.json
  packages/spawner/src/EMap.js
  packages/spawner/src/ESet.js
  packages/spawner/src/contractHost.js
Labels: performance

#1136 Add CSS to make REPL wrap correctly
  packages/cosmic-swingset/lib/ag-solo/html/index.html
Labels: cosmic-swingset

#1135 IBC version negotiation
  packages/SwingSet/src/devices/mailbox-src.js
  packages/SwingSet/src/vats/network/bytes.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/test/test-network.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/x/swingset/blockers.go
  packages/cosmic-swingset/x/swingset/handler.go
  packages/cosmic-swingset/x/swingset/ibc.go
Labels: cosmic-swingset

#1121 Implement kernel promise reference counting
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-state.js
  packages/swingset-runner/demo/resolveChain/bootstrap.js
  packages/swingset-runner/demo/resolveChain/vat-bob.js
  packages/swingset-runner/demo/resolveIndirect/bootstrap.js
  packages/swingset-runner/demo/resolveIndirect/vat-bob.js
  packages/swingset-runner/demo/vatResolveTest/bootstrap.js
  packages/swingset-runner/demo/vatResolveTest/vat-bob.js
  packages/swingset-runner/demo/vatResolveTestSimple/bootstrap.js
  packages/swingset-runner/demo/vatResolveTestSimple/vat-bob.js
  packages/swingset-runner/src/auditstore.js
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, performance

#1131 First cut at kernel stats collection facility
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager.js
  packages/stat-logger/src/statGraph.js
  packages/stat-logger/src/statLogger.js
  packages/swingset-runner/bin/graphStats
  packages/swingset-runner/src/dataGraphApp.js
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/graphStats.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, swingset-runner

#1110 [Zoe] Split opera ticket contract into a generic `sellItems` contract and a contract for minting tickets
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/operaConcertTicket.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-operaConcertTicket.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
Labels: zoe-alpha-release

#1035 [Zoe] Add new method: `zcf.initPublicAPI` and remove publicAPI from the return values of makeContract
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/infiniteTestLoop.js
  packages/zoe/test/swingsetTests/zoe-metering/testBuiltins.js
  packages/zoe/test/unitTests/contracts/brokenAutoRefund.js
  packages/zoe/test/unitTests/contracts/grifter.js
Labels: zoe-alpha-release
