Repository Agoric/agoric-sdk, pull requests merged in 2020-09, with the labels that each got.

#1646 test(zoe): speed up zoe tests by pre-bundling kernel/contract/vats
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: Zoe

#1657 Clean up some deployment scripts
  packages/deployment/bigdipper/ag-bigdipper.sh
  packages/deployment/bigdipper/ag-lcd.sh
  packages/deployment/main.js
Labels: deployment

#1651 fix: change 'Trade Successful' offerResult to 'Order Added'
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
Labels: Zoe

#1655 refactor: split Zoe types.js into separate files for Zoe Service, Contract Facet
  packages/zoe/exported.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/external-types.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/types.js
Labels: Zoe

#1666 refactor: assertProposalShape no longer takes in and produces an offerHandler
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/multipoolAutoswap/addLiquidity.js
  packages/zoe/src/contracts/multipoolAutoswap/removeLiquidity.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/useObjExample.js
Labels: Zoe

#1658 Update ag-solo's cosmos integration
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/package.json
  yarn.lock
Labels: cosmic-swingset

#1663 fix: kickOut does not throw itself
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contracts/test-zcf.js
  packages/zoe/test/unitTests/contracts/zcfTesterContract.js
Labels: Zoe

#1678 refactor: remove string-based bootstrap argv in favour of data object
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/chain-main.js
Labels: swingset-runner, test

#1676 docs: update deposit() and receive() to say they throw on Promises
  packages/ERTP/src/types.js
Labels: ERTP

#1675 doc: improved description of reliability of purse.getCurrentAmount()
  packages/ERTP/src/types.js
Labels: ERTP

#1683 Avoid database reentrancy issue during parallel testing
  packages/swingset-runner/src/main.js
  packages/swingset-runner/test/test-demo.js
Labels: bug, swingset-runner, test

#1667 Compare Swap and Trade Helpers and make more consistent
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
Labels: Zoe

#1672 fix: revamp multipoolAutoswap: liquidity bug, in vs. out prices
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/multipoolAutoswap/getCurrentPrice.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/test/autoswapJig.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe, bug, test

#1674 fix: declare amountMathKind parameter to makeissuerkit optional
  packages/ERTP/src/types.js
Labels: ERTP

#1688 Add note about `enableSetup` option in vat configuration
  packages/SwingSet/docs/configuration.md
Labels: SwingSet, documentation

#1686 Fix bug #1491, bogus hostStorage setup in test
  packages/SwingSet/test/vat-admin/test-innerVat.js
Labels: SwingSet, bug, test

#1687 Fix bug #1609, confusing error message on malformed vat code
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
Labels: SwingSet, bug, enhancement

#1684 Properly terminate & clean up after failed vats
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorker.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/test/basedir-terminate/bootstrap.js
  packages/SwingSet/test/basedir-terminate/vat-dude.js
  packages/SwingSet/test/bootstrap-syscall-failure.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/vat-syscall-failure.js
  packages/SwingSet/test/workers/test-worker.js
  packages/swingset-runner/demo/meterExhaustion/bootstrap.js
  packages/swingset-runner/demo/meterExhaustion/swingset.json
  packages/swingset-runner/demo/meterExhaustion/vat-boomer.js
  packages/swingset-runner/demo/vatFailure/bootstrap.js
  packages/swingset-runner/demo/vatFailure/swingset.json
  packages/swingset-runner/demo/vatFailure/vat-bad.js
Labels: SwingSet, enhancement, metering, swingset-runner

#1693 Fix bug #1544, type check store parameters instead of coercing
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet, bug

#1690 fix: excise half-fast Vagrant support
  .github/workflows/docker.yml
  Vagrantfile
  packages/agoric-cli/Vagrantfile
  packages/agoric-cli/docker/Dockerfile
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/deployment/Dockerfile.deployment
  packages/deployment/Makefile
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/main.js
  packages/deployment/terraform/docker/cluster/main.tf
  vagrant/Dockerfile
Labels: tooling

#1694 test: remove fragile IDs from vat-cleanup tests
  packages/SwingSet/test/metering/metered-dynamic-vat.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/test-syscall-failure.js
Labels: SwingSet

#1699 test: add a number of tests of zcf, with helpers. Still a number to do.
  packages/zoe/test/unitTests/setupBasicMints.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zcf/test-zcfSeat.js
  packages/zoe/test/unitTests/zcf/zcfTesterContract.js
Labels: Zoe

#1712 refactor: clean up types some more
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/sparse-ints/src/sparseInts.js
  packages/zoe/docs/seats.md
  packages/zoe/src/contractFacet/offerSafety.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1714 feat: allow Offer to accept a PaymentPKeywordRecord
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe

#1713 feat: append a 2-digit CRC to board ids to prevent dangerous typos
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/test/test-home.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/install-metering-and-ses/package.json
  yarn.lock
Labels: cosmic-swingset

#1711 Implement far object helper
  packages/captp/.eslintrc.js
  packages/captp/lib/captp.js
  packages/captp/test/test-crosstalk.js
  packages/captp/test/test-loopback.js
  packages/eventual-send/src/no-shim.js
Labels: captp

#1717 feat: bidirectional loopback with `makeNear`
  packages/captp/lib/captp.js
Labels: captp

#1706 test: add more zcf tests (Part 2)
  packages/dapp-svelte-wallet/api/src/types.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/internal-types.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1721 test: zcf.makeZCFMint
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1726 test: makeEmptySeat kit with tests of zcfSeat
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1731 refactor: change coveredCall to be more flexible, add swapExact helper
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe

#1740 chore: fix typo in error message
  packages/zoe/src/contractSupport/zoeHelpers.js
Labels: Zoe

#1585 OTC Desk Contract
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/unitTests/contracts/test-otcDesk.js
Labels: Zoe

#1741 chore: cleanup exit type
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe

#1739 test: some tests for depositTo
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/test/unitTests/contractSupport/test-depositTo.js
Labels: Zoe, test

#1734 Further minor perf instrumentation tweaks
  packages/swingset-runner/demo/megaPong/vat-alice.js
  packages/swingset-runner/demo/megaPong/vat-bob.js
  packages/swingset-runner/polywhacker
  packages/swingset-runner/src/main.js
  packages/swingset-runner/trun
  packages/swingset-runner/whacker
Labels: enhancement, swingset-runner

#1742 add 'test-nyc' command to gather/report coverage data
  .nycrc.yaml
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/acorn-eventual-send/package.json
  packages/agoric-cli/package.json
  packages/assert/package.json
  packages/bundle-source/package.json
  packages/captp/package.json
  packages/cosmic-swingset/package.json
  packages/eventual-send/package.json
  packages/import-bundle/package.json
  packages/import-manager/package.json
  packages/install-metering-and-ses/package.json
  packages/install-ses/package.json
  packages/marshal/package.json
  packages/notifier/package.json
  packages/promise-kit/package.json
  packages/registrar/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
  packages/store/package.json
  packages/swing-store-lmdb/package.json
  packages/swing-store-simple/package.json
  packages/swingset-runner/package.json
  packages/tame-metering/package.json
  packages/transform-eventual-send/package.json
  packages/transform-metering/package.json
  packages/weak-store/package.json
  packages/xs-vat-worker/package.json
  packages/zoe/package.json
  patches/nyc+15.1.0.patch
  yarn.lock
Labels: tooling

#1748 test(cosmic-swingset): use access token
  packages/cosmic-swingset/lib/ag-solo/access-token.js
  packages/cosmic-swingset/lib/ag-solo/web.js
  packages/cosmic-swingset/test/captp-fixture.js
Labels: cosmic-swingset

#1750 test(cosmic-swingset): prevent flakey test-home
  packages/agoric-cli/lib/open.js
  packages/cosmic-swingset/lib/ag-solo/access-token.js
  packages/cosmic-swingset/test/captp-fixture.js
  packages/cosmic-swingset/test/test-home.js
Labels: test

#1743 test: simple tests of withdrawFrom
  packages/zoe/test/unitTests/contractSupport/test-withdrawFrom.js
Labels: Zoe, test

#1732 fix: simplify autoswap helper APIs
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
Labels: Zoe

#1759 fix: add a default offerHandler
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1758 chore: fix the param type of getInstance, getInstallation...
  packages/zoe/src/zoeService/types.js
Labels: Zoe

#1762 fix: Add a seat in mintGains() if none is provided
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe, zoe-alpha-release

#1760 fix: make brand optional in the types of `getAmountAllocated`
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1764 fix: remove ancient 'resolver' vatSlot type
  packages/SwingSet/src/parseVatSlots.js
Labels: SwingSet

#1765 test: cleanup test-devices.js
  packages/SwingSet/test/test-devices.js
Labels: SwingSet

#1766 fix: reject promises in the arguments to syscall.callNow()
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/test/files-devices/bootstrap-2.js
  packages/SwingSet/test/test-devices.js
Labels: SwingSet

#1768 test: add tests of zoe service
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-zoe.js
Labels: Zoe

#1763 fix: implement getLiquidityIssuer() in multipoolAutoswap pools
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/test/autoswapJig.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe, zoe-alpha-release

#1770 fix: exit zcfSeats immediately on shutdown.
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1771 test: add tests for zoeHelper assertions
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe, test, zoe-alpha-release

#1772 fix: stop accepting offers if zcf.shutdown is called
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1718 ag-solo plugin interface
  packages/SwingSet/package.json
  packages/SwingSet/src/devices/plugin-src.js
  packages/SwingSet/src/devices/plugin.js
  packages/SwingSet/src/index.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/SwingSet/test/device-plugin/bootstrap.js
  packages/SwingSet/test/device-plugin/pingpong.js
  packages/SwingSet/test/device-plugin/test-device.js
  packages/SwingSet/test/device-plugin/vat-bridge.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/captp/lib/captp.js
  packages/captp/test/test-disco.js
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/dapp-svelte-wallet/ui/package.json
  packages/eventual-send/src/index.d.ts
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-hp.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: SwingSet

#1784 test: add tests for swapExact
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe, test, zoe-alpha-release

#1788 fix: add check so that expected values must be null in assertProposalShape
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe

#1792 test: test removeLiquidity in multipoolAutoswap
  packages/zoe/test/autoswapJig.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe, test

#1791 chore: change exitKind to exit rule
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1790 fix: assert keyword in getPayout
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1796 fix: improve error messages for mintGains and burnLosses
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#1787 test: zoeHelpers tests for usesNatMath and saveAllIssuers
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe, test

#1801 fix: saveAllIssuers doc says it ignores the brand for known keywords
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe, bug

#1799 Packaging changes
  MAINTAINERS.md
  packages/eventual-send/package.json
  packages/zoe/package.json
Labels: agoric-cli

#1802 docs: add cross references from contract source to their write-ups
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/simpleExchange.js
Labels: Zoe, documentation

#1808 fix: add netstring encode/decode/stream library
  packages/SwingSet/src/netstring.js
  packages/SwingSet/test/test-netstring.js
Labels: SwingSet

#1797 worker fixes
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/nodeWorker.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/src/spawnSubprocessWorker.js
  packages/SwingSet/test/workers/test-worker.js
  packages/SwingSet/test/workers/vat-target.js
  packages/xs-vat-worker/src/vatWorker.js
Labels: SwingSet

#1789 fix: better error messages if a zoe invitation is required
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-zoe.js
Labels: Zoe

#1809 Captp integration
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/open.js
  packages/cosmic-swingset/lib/ag-solo/html/wallet-bridge.html
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/lib/ag-solo/web.js
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/api/src/wallet.js
  yarn.lock
Labels: cosmic-swingset

#1815 Improves the error messages if a Zoe invitation is required but not provided
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-zoe.js
Labels: Zoe

#1814 Overhaul swingset startup
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/index.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/kernel/deviceSlots.js
  packages/SwingSet/src/kernel/dynamicVat.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/messageResult.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/definition/test-vat-definition.js
  packages/SwingSet/test/device-plugin/test-device.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
  packages/SwingSet/test/test-device-bridge.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/timer-device/test-device.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/SwingSet/test/vat-admin/test-replay.js
  packages/SwingSet/test/workers/test-worker.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/swingset-runner/bin/runner-debug
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/trun
Labels: SwingSet, enhancement, swingset-runner

#1819 Clean up some debug log messages for consistency
  packages/SwingSet/src/kernel/vatTranslator.js
Labels: SwingSet, enhancement

#1821 fix(eventual-send): silence unhandled rejection for remote calls
  packages/eventual-send/src/index.js
Labels: eventual-send

#1818 docs: add docs-site pointer to notifier README
  packages/notifier/README.md
Labels: documentation, notifier

#1822 chore: add exported.js to files
  packages/ERTP/package.json
Labels: ERTP

#1810 refactor: move ERTP interfaces to separate file and pair with assertions of interfaces
  packages/ERTP/src/interfaces.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/types.js
  packages/ERTP/test/unitTests/test-interfaces.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/marshal/marshal.js
Labels: ERTP

#1825 feat: allow deploy scripts to see the deployment host and port
  packages/agoric-cli/lib/deploy.js
Labels: agoric-cli

#1803 fix: have liveSlots reject Promise arguments in D() invocations
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/files-devices/bootstrap-2.js
  packages/SwingSet/test/files-devices/bootstrap-4.js
  packages/SwingSet/test/test-devices.js
Labels: SwingSet

#1826 fix: minor fixes for bootstrap and web server
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/web.js
Labels: cosmic-swingset

#1824 feat: cleanups and fixes to the wallet
  packages/SwingSet/src/kernel/kernel.js
  packages/cosmic-swingset/lib/ag-solo/html/wallet-bridge.html
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/observable.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/src/Amount.svelte
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
Labels: wallet
