Repository Agoric/agoric-sdk, pull requests merged in 2020-11, with the labels that each got.

#1971 Tweaks for chain and hacktheorb.explorer.agoric.net
  packages/agoric-cli/lib/chain-config.js
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/deployment/Makefile
  packages/deployment/ansible/roles/export-genesis/tasks/main.yml
  packages/deployment/bigdipper/ag-bigdipper.sh
  packages/deployment/bigdipper/bigdipper-testnet.service
  packages/deployment/bigdipper/bigdipper.nginx
  packages/deployment/bigdipper/bigdipper.sh
  packages/deployment/main.js
Labels: deployment

#1970 test: a fake priceAuthority to support app devs using oracles
  packages/zoe/src/contracts/callSpread.js
  packages/zoe/test/fakePriceAuthority.js
  packages/zoe/test/unitTests/contracts/test-callSpread.js
  packages/zoe/test/unitTests/test-fakePriceAuthority.js
Labels: Zoe, test

#1975 ci: temporarily disable dapp-pegasus testing; it is not yet ready
  .github/workflows/test-dapp-pegasus.yml.DISABLED
Labels: tooling

#1964 feat: add a decimals parameter, and decimals method to brand
  packages/ERTP/src/displayInfo.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/types.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: ERTP, Zoe

#1988 Agoric CLI local chain/solo working without SDK
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/start.js
  scripts/create-agoric-cli.cjs
Labels: agoric-cli

#1952 Adopt dapp-oracle contracts into Zoe
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contractSupport/safeMath.js
  packages/zoe/src/contractSupport/statistics.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/oracle.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/test/unitTests/contracts/test-oracle.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/tools/types.js
Labels: Zoe

#1984 Add wallet support for decimal currencies and some examples
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/dapp-svelte-wallet/api/test/test-lib-dehydrate.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/rollup.config.js
  packages/dapp-svelte-wallet/ui/src/Amount.svelte
  packages/dapp-svelte-wallet/ui/src/Payment.svelte
  packages/dapp-svelte-wallet/ui/src/Purse.svelte
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/dapp-svelte-wallet/ui/src/Transfer.svelte
  packages/dapp-svelte-wallet/ui/src/display.js
  packages/dapp-svelte-wallet/ui/src/store.js
  packages/zoe/src/issuerTable.js
  packages/zoe/src/types.js
  yarn.lock
Labels: ERTP, cosmic-swingset, wallet

#1991 Wallet fixes
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/dapp-svelte-wallet/ui/src/captp.js
  scripts/create-agoric-cli.cjs
Labels: wallet

#1903 Loan Contract
  packages/zoe/exported.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/loan/addCollateral.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/close.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/loan/lend.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/test/fakePriceAuthority.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  packages/zoe/test/unitTests/contracts/loan/test-addCollateral.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-close.js
  packages/zoe/test/unitTests/contracts/loan/test-lend.js
  packages/zoe/test/unitTests/contracts/loan/test-liquidate.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
  packages/zoe/test/unitTests/contracts/loan/test-updateDebt.js
Labels: Zoe

#1985 feat: convert the fakePriceAuthority to a PlayerPiano model
  packages/ERTP/src/localAmountMath.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-priceAuthority.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/test/fakePriceAuthority.js
  packages/zoe/test/unitTests/contracts/loan/test-addCollateral.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-brokenContract.js
  packages/zoe/test/unitTests/contracts/test-callSpread.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-useObj.js
  packages/zoe/test/unitTests/test-fakePriceAuthority.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/priceAuthorityRegistry.js
  packages/zoe/tools/types.js
Labels: Zoe, test

#1992 feat: simple volatile priceAuthority
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-priceAuthority.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/priceAuthorityRegistry.js
Labels: Zoe, cosmic-swingset

#1954 Report number of significant round trips
  packages/cosmic-swingset/lib/ag-solo/outbound.js
Labels: cosmic-swingset

#1997 fix: properly generate a quote for the "player piano"
  MAINTAINERS.md
  packages/agoric-cli/lib/start.js
  packages/marshal/src/marshal.js
  packages/marshal/src/types.js
  packages/zoe/src/contracts/exported.js
  packages/zoe/tools/fakePriceAuthority.js
Labels: Zoe

#1998 fix: more support for hacktheorb
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/deployment/Makefile
  packages/deployment/docker/ag-setup-cosmos
Labels: agoric-cli, cosmic-swingset, deployment

#2000 fix: clear up all the paths through `agoric start`
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
  packages/deployment/bigdipper/bigdipper.sh
  packages/zoe/tools/types.js
Labels: agoric-cli

#1999 test: make a scripted oracle that can be used in tests
  packages/zoe/test/unitTests/bounty.js
  packages/zoe/test/unitTests/test-scriptedOracle.js
  packages/zoe/tools/scriptedOracle.js
Labels: Risk: Low, Small, Zoe, documentation, test

#2001 feat: implement makeQuoteNotifier(amountIn, brandOut)
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/priceAuthorityRegistry.js
  packages/zoe/tools/types.js
Labels: Zoe

#2011 docs: replace the png for the zoe-zcf interaction diagram
  packages/zoe/docs/zoe-zcf.png
Labels: Zoe, documentation

#2010 Demo fixes
  packages/agoric-cli/lib/open.js
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/dapp-svelte-wallet/ui/lib/ListCard.svelte
  packages/dapp-svelte-wallet/ui/src/App.svelte
  packages/dapp-svelte-wallet/ui/src/Contacts.svelte
  packages/dapp-svelte-wallet/ui/src/Dapps.svelte
  packages/dapp-svelte-wallet/ui/src/Issuers.svelte
  packages/dapp-svelte-wallet/ui/src/Payments.svelte
  packages/dapp-svelte-wallet/ui/src/Purses.svelte
  packages/dapp-svelte-wallet/ui/src/Transactions.svelte
  packages/dapp-svelte-wallet/ui/src/captp.js
  packages/dapp-svelte-wallet/ui/src/store.js
  packages/dapp-svelte-wallet/ui/src/websocket.js
  packages/transform-metering/src/transform.js
Labels: metering, wallet

#2012 Update deployment scripts
  .dockerignore
  packages/deployment/Dockerfile.sdk
  packages/deployment/ansible/roles/dweb-copy/tasks/main.yml
  packages/deployment/ansible/roles/prereq/tasks/main.yml
  packages/deployment/bigdipper/bigdipper.sh
Labels: deployment

#2015 ci: allow hackathon-2020-11 to diverge from master
  .github/workflows/update-hackathon-branch.yml.DISABLED
Labels: tooling

#2017 fix: work around Firefox's lack of Error.stackTraceLimit
  packages/dapp-svelte-wallet/ui/src/install-ses-lockdown.js
Labels: wallet

#2020 Introducing The Slogulator™ Mk I
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/swingset-runner/demo/exchangeBenchmark/annot.json
  packages/swingset-runner/demo/exchangeBenchmark/exchanger.js
  packages/swingset-runner/demo/terminateVat/bootstrap.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/slogulator.js
  yarn.lock
Labels: Beta, SwingSet, swingset-runner, tooling

#2021 chore: use new -resm logic to handle npm-installed package caches
  .github/workflows/detect-new-resm.yml
  patches/esm+3.2.25.patch
Labels: tooling

#2026 fix: upgrade to Cosmos-SDK v0.40.0-rc3
  packages/cosmic-swingset/app/app.go
  packages/cosmic-swingset/app/export.go
  packages/cosmic-swingset/app/params/proto.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/daemon/cmd/genaccounts.go
  packages/cosmic-swingset/lib/daemon/cmd/root.go
  packages/cosmic-swingset/lib/daemon/cmd/testnet.go
  packages/cosmic-swingset/proto/agoric/swingset/msgs.proto
  packages/cosmic-swingset/x/swingset/internal/keeper/keeper.go
  packages/cosmic-swingset/x/swingset/internal/types/codec.go
  packages/cosmic-swingset/x/swingset/internal/types/expected_keepers.go
  packages/cosmic-swingset/x/swingset/internal/types/msgs.pb.go
  packages/cosmic-swingset/x/swingset/module.go
Labels: cosmic-swingset

#2025 chore: Change `.catch` clauses to not suppress error if unnecessary
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/evalContractCode.js
  packages/zoe/src/contractFacet/fakeVatAdmin.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/unitTests/contracts/test-throwInOfferHandler.js
  packages/zoe/test/unitTests/contracts/throwInOfferHandler.js
Labels: Zoe

#2031 fix: upgrade the proto definitions
  packages/cosmic-swingset/third_party/proto/ibc/core/channel/v1/channel.proto
  packages/cosmic-swingset/third_party/proto/ibc/core/client/v1/client.proto
  packages/cosmic-swingset/x/swingset/genesis.go
  packages/cosmic-swingset/x/swingset/handler.go
Labels: cosmic-swingset

#2029 chore: revert #2025, but keep the additional tests.
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/evalContractCode.js
  packages/zoe/src/contractFacet/fakeVatAdmin.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/unitTests/contracts/test-throwInOfferHandler.js
Labels: Zoe

#2041 fix: report when there is a spawn error from the Agoric cli
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/agoric-cli/lib/cosmos.js
  packages/agoric-cli/lib/helpers.js
  packages/agoric-cli/lib/init.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/lib/start.js
Labels: agoric-cli

#2019 feat: 2 parties can buy callSpread positions separately
  packages/zoe/src/contracts/callSpread.js
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/position.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
  packages/zoe/test/unitTests/contracts/test-callSpread.js
Labels: Zoe

#2040 docs: repair zoe interaction diagram
  packages/zoe/docs/zoe-zcf.png
  packages/zoe/docs/zoe-zcf.puml
Labels: Zoe, documentation

#2053 feat(ertp): add purse.getCurrentAmountNotifier()
  packages/ERTP/NEWS.md
  packages/ERTP/package.json
  packages/ERTP/src/issuer.js
  packages/ERTP/src/types.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/observable.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: ERTP, wallet
