Repository Agoric/agoric-sdk, pull requests merged in 2020-02, with the labels that each got.

#497 Prepare for re-release of @agoric/ertp, @agoric/spawner, and @agoric/pixel-demo
  packages/ERTP/NEWS.md
  packages/ERTP/package.json
  packages/agoric-cli/template/contract/package.json
  packages/cosmic-swingset/package.json
  packages/pixel-demo/NEWS.md
  packages/pixel-demo/package.json
  packages/spawner/NEWS.md
  packages/spawner/package.json
  packages/zoe/package.json
  yarn.lock
Labels: ERTP

#508 Shelve Pixel Demo
  packages/ERTP/package.json
  packages/ERTP/src/config/extentOpsLib.js
  packages/cosmic-swingset/README.md
  packages/cosmic-swingset/lib/ag-solo/html/index.html
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-pixel.js
  packages/cosmic-swingset/package.json
  packages/pixel-demo/test/swingsetTests/gallery/test-gallery.js
  packages/pixel-demo/test/unitTests/pixels/test-gallery.js
Labels: ERTP, cosmic-swingset

#519 [agoric-cli] fix some lint
  packages/agoric-cli/.eslintignore
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/template/api/handler.js
  packages/agoric-cli/template/ui/src/setupProxy.js
  packages/agoric-cli/test/test-main.js
Labels: agoric-cli

#525 HandledPromise.unwrap: pass through non-Thenables before throwing
  packages/eventual-send/src/index.js
  packages/eventual-send/test/test-hp.js
Labels: eventual-send

#530 Separate SwingSet runner into own package, baby steps
  packages/SwingSet/.gitignore
  packages/swingset-runner/bin/runner
  packages/swingset-runner/package.json
  packages/swingset-runner/src/confignote
  packages/swingset-runner/src/lmdbStore.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/simpleStore.js
Labels: SwingSet

#561 Swingset cleanup
  package.json
  packages/swingset-runner/.eslintignore
  packages/swingset-runner/.eslintrc.js
  packages/swingset-runner/.gitignore
  packages/swingset-runner/.prettierignore
  packages/swingset-runner/.prettierrc.json
  packages/swingset-runner/demo/encouragementBot/bootstrap.js
  packages/swingset-runner/demo/encouragementBot/vat-bot.js
  packages/swingset-runner/demo/encouragementBot/vat-user.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/lmdbStore.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/simpleStore.js
  packages/swingset-runner/test/test-demo.js
  yarn.lock
Labels: swingset-runner

#580 Expunge buildStorageInMemory
  .github/workflows/test-all-packages.yml
  package.json
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/src/index.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/reset-state.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/cosmic-swingset/package.json
  packages/swing-store-lmdb/.eslintignore
  packages/swing-store-lmdb/.eslintrc.js
  packages/swing-store-lmdb/.gitignore
  packages/swing-store-lmdb/.prettierignore
  packages/swing-store-lmdb/.prettierrc.json
  packages/swing-store-lmdb/lmdbSwingStore.js
  packages/swing-store-lmdb/package.json
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/.eslintignore
  packages/swing-store-simple/.eslintrc.js
  packages/swing-store-simple/.gitignore
  packages/swing-store-simple/.prettierignore
  packages/swing-store-simple/.prettierrc.json
  packages/swing-store-simple/package.json
  packages/swing-store-simple/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/main.js
Labels: SwingSet, cosmic-swingset

#582 Remove redundant ${e} ${e.message}
  packages/SwingSet/src/devices/command-src.js
  packages/SwingSet/src/devices/command.js
  packages/SwingSet/src/devices/inbound-src.js
  packages/SwingSet/src/devices/mailbox-src.js
  packages/SwingSet/src/devices/mailbox.js
  packages/SwingSet/src/devices/timer.js
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#583 New implementation of isConstructor
  packages/tame-metering/src/tame.js
Labels: metering

#585 Remove .prototype via bind if necessary
  packages/tame-metering/src/tame.js
Labels: metering

#586 Refactor swing store API
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/reset-state.js
  packages/cosmic-swingset/lib/ag-solo/start.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/swing-store-lmdb/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, cosmic-swingset, swingset-runner

#620 Fix quadratic performance degradation issue
  packages/SwingSet/src/blockBuffer.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
Labels: SwingSet, bug

#636 Reenable the ag-solo bundle command
  packages/agoric-cli/template/contract/deploy-autoswap.js
  packages/agoric-cli/template/contract/deploy.js
  packages/cosmic-swingset/lib/ag-solo/bundle.js
Labels: cosmic-swingset

#637 Eliminate default fake delay, and add --delay option
  packages/agoric-cli/lib/start.js
Labels: agoric-cli
