Repository Agoric/agoric-sdk, pull requests merged in 2020-10, with the labels that each got.

#1828 fix(cosmic-swingset): make REPL history numbers more robust
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/lib/ag-solo/web.js
Labels: cosmic-swingset

#1833 Update swingset-runner demos for latest Zoe incarnation
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/prepareContracts.js
  packages/swingset-runner/demo/zoeTests/sampleArgs
  packages/swingset-runner/demo/zoeTests/swingset.json
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-carol.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
  packages/swingset-runner/trun
Labels: swingset-runner

#1811 fix kernel-worker protocol
  packages/SwingSet/package.json
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/src/netstring.js
  packages/SwingSet/src/spawnSubprocessWorker.js
  packages/SwingSet/src/worker-protocol.js
  packages/SwingSet/test/test-netstring.js
  packages/SwingSet/test/test-worker-protocol.js
  packages/SwingSet/test/workers/test-worker.js
  yarn.lock
Labels: SwingSet

#1649 test: new job to test the XS worker
  .github/workflows/test-all-packages.yml
  package.json
  packages/SwingSet/package.json
  packages/xs-vat-worker/.gitignore
  packages/xs-vat-worker/Makefile
  packages/xs-vat-worker/compartmap.json
  packages/xs-vat-worker/package.json
Labels: SwingSet

#1838 feat: implement the next available HD path coin type
  packages/cosmic-swingset/app/app.go
Labels: cosmic-swingset

#1839 chore(swing-store-lmdb): upgrade to node-lmdb@^0.9.4
  packages/cosmic-swingset/package.json
  packages/swing-store-lmdb/package.json
  yarn.lock
Labels: cosmic-swingset

#1842 add --slog option, and vat description
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/slogger.js
  packages/swingset-runner/src/main.js
Labels: SwingSet

#1849 Final touches for Stargate
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
Labels: cosmic-swingset

#1850 Offer result exceptions
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/wallet.js
Labels: wallet

#1798 feat!: add to zcf the ability to find out when/why a vat shut down
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-die-cleanly.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-no-zombies.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-speak-to-dead.js
  packages/SwingSet/test/vat-admin/terminate/bootstrap-terminate.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/unitTests/contractSupport/test-depositTo.js
  packages/zoe/test/unitTests/contractSupport/test-withdrawFrom.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/fakeVatAdmin.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zcf/setupZcfTest.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zcf/test-zcfSeat.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe

#1843 feat(store): implement external store machinery
  .github/workflows/test-all-packages.yml
  package.json
  packages/ERTP/package.json
  packages/ERTP/src/issuer.js
  packages/SwingSet/src/vats/network/internal-types.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/spawner/package.json
  packages/spawner/src/contractHost.js
  packages/store/README.md
  packages/store/exported.js
  packages/store/package.json
  packages/store/src/external/default.js
  packages/store/src/external/hydrate.js
  packages/store/src/external/memory.js
  packages/store/src/index.js
  packages/store/src/store.js
  packages/store/src/types.js
  packages/store/src/weak-store.js
  packages/store/test/test-external-store.js
  packages/weak-store/.eslintrc-jessie.js
  packages/weak-store/CHANGELOG.md
  packages/weak-store/CONTRIBUTING.md
  packages/weak-store/NEWS.md
  packages/weak-store/README.md
  packages/weak-store/package.json
  packages/weak-store/src/weakStore.js
  packages/zoe/exported.js
  packages/zoe/package.json
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerTable.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-cleanProposal.js
  packages/zoe/test/unitTests/test-rightsConservation.js
Labels: SwingSet

#1858 Prepare for testnet-3
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/NEWS.md
  packages/cosmic-swingset/docker/ag-setup-solo
  packages/cosmic-swingset/docker/ag-solo
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/daemon/cmd/root.go
  packages/deployment/Dockerfile.sdk
  packages/deployment/UPGRADING.md
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
  packages/deployment/main.js
Labels: cosmic-swingset, deployment

#1860 fix: push the @agoric/sdk tag separately to trigger Docker builds
  MAINTAINERS.md
  scripts/get-released-tags
Labels: tooling

#1856 Add vat storage syscalls to kernel
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/test/test-kernel.js
Labels: SwingSet, enhancement

#1868 refactor: remove theme toggle
  packages/dapp-svelte-wallet/ui/src/Config.svelte
Labels: wallet

#1871 doc(cosmic-swingset): update NEWS
  packages/cosmic-swingset/NEWS.md
Labels: cosmic-swingset

#1874 Split exchange benchmark rounds in two
  packages/swingset-runner/demo/exchangeBenchmark/bootstrap.js
Labels: swingset-runner

#1890 fix: export `@agoric/store/exported`
  packages/store/package.json
Labels: cosmic-swingset

#1886 swingset: add comms tests for third-party references
  packages/SwingSet/test/basedir-message-patterns/bootstrap-comms.js
  packages/SwingSet/test/basedir-message-patterns/bootstrap-local.js
  packages/SwingSet/test/basedir-message-patterns/vat-a.js
  packages/SwingSet/test/basedir-message-patterns/vat-b.js
  packages/SwingSet/test/basedir-message-patterns/vat-c.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-message-patterns.js
Labels: SwingSet

#1892 fix: refactor liveSlots so it could provide vat globals
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#1893 fix: remove unused 'state' arg from makeLiveslots()
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#1895 fix: add liveslots-provided globals to vat Compartments
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
Labels: SwingSet

#1882 docs: update faucet link to Discord
  packages/cosmic-swingset/lib/ag-solo/chain-cosmos-sdk.js
Labels: cosmic-swingset

#1924 chore: provide GC tools (WeakRef/FinalizationRegistry) to makeLiveSlots
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorkerSupervisor.js
  packages/SwingSet/src/kernel/vatManager/subprocessSupervisor.js
  packages/SwingSet/src/weakref.js
  packages/SwingSet/test/test-fake-weakref.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-marshal.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#1926 fix: add vatDecRef to kernel, offer to liveslots
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/localVatManager.js
  packages/SwingSet/src/kernel/vatManager/nodeWorker.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#1928 fix: integrate call spread contract with Oracle API.
  packages/zoe/src/contracts/callSpread.js
  packages/zoe/test/unitTests/contracts/test-callSpread.js
Labels: Zoe

#1854 feat: a call spread option contract and tests.
  packages/zoe/src/contracts/callSpread.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
  packages/zoe/test/unitTests/contracts/test-callSpread.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Zoe

#1945 fix: properly return .pluginRoot when deploying plugins
  packages/agoric-cli/lib/deploy.js
Labels: XSmall, agoric-cli

#1946 fix: prevent infinite loop when metering BigInt values
  packages/transform-metering/src/meter.js
  packages/transform-metering/test/test-meter.js
Labels: XSmall, metering

#1941 Add central `agoric.priceAuthority` and types
  packages/captp/lib/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/vat-priceAuthority.js
  packages/promise-kit/src/promiseKit.js
  packages/zoe/exported.js
  packages/zoe/jsconfig.json
  packages/zoe/src/contracts/callSpread.js
  packages/zoe/tools/internal-types.js
  packages/zoe/tools/manualTimer.js
  packages/zoe/tools/priceAuthorityRegistry.js
  packages/zoe/tools/types.js
Labels: Zoe, cosmic-swingset

#1951 chore: rename packages/*/exports.js to packages/*/exported.js
  packages/ERTP/jsconfig.json
  packages/SwingSet/jsconfig.json
  packages/assert/jsconfig.json
  packages/cosmic-swingset/jsconfig.json
  packages/dapp-svelte-wallet/api/jsconfig.json
  packages/marshal/jsconfig.json
  packages/notifier/exported.js
  packages/notifier/exports.js
  packages/notifier/jsconfig.json
  packages/notifier/package.json
  packages/promise-kit/jsconfig.json
  packages/store/jsconfig.json
  packages/zoe/exported.js
Labels: hygiene
