Repository Agoric/agoric-sdk, pull requests merged in 2020-03, with the labels that each got.

#653 Excise the rest of autoswap from static vats
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-exchange.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-exchange.js
Labels: cosmic-swingset

#658 Generalise the wallet to arbitrary offers
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/package.json
  yarn.lock
Labels: cosmic-swingset

#663 Backport scripts/link-cli.js
  package.json
  scripts/link-cli.cjs
  scripts/link-cli.js
Labels: agoric-cli

#666 Anachrophobia should crash hard
  packages/SwingSet/src/kernel/vatManager.js
Labels: SwingSet

#668 Update ERTP dependencies
  packages/cosmic-swingset/package.json
  packages/dapp-simple-exchange/contract/package.json
  packages/spawner/package.json
  packages/zoe/package.json
Labels: ERTP

#684 Comment out call to `harden` in `details` for performance reasons
  packages/assert/src/assert.js
Labels: assert, performance

#690 Use git clone for agoric init
  packages/agoric-cli/lib/init.js
Labels: agoric-cli

#692 Upgrade to new cosmos-sdk/ibc-alpha branch
  packages/cosmic-swingset/app.go
  packages/cosmic-swingset/go.mod
  packages/cosmic-swingset/go.sum
Labels: cosmic-swingset

#674 Allow vats under SwingSet to unwrap their promises
  packages/SwingSet/package.json
  packages/SwingSet/src/devices/command.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/makePromise.js
  packages/SwingSet/test/basedir-promises-2/bootstrap.js
  packages/SwingSet/test/basedir-promises/bootstrap.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-marshal.js
Labels: SwingSet

#696 Excise the gallery-specific code from vat-http
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
Labels: cosmic-swingset

#694 Add anylogger support
  packages/agoric-cli/bin/agoric
  packages/agoric-cli/lib/anylogger-agoric.js
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/init.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/lib/template.js
  packages/agoric-cli/package.json
  packages/agoric-cli/test/test-main.js
  packages/agoric-cli/test/test-workflow.js
  packages/cosmic-swingset/lib/ag-solo/main.js
  yarn.lock
Labels: agoric-cli

#699 Add legends to the graphs produced by stat-logger
  packages/stat-logger/src/statGraph.js
Labels: enhancement, swingset-runner

#702 feat: Add PDF and stdout support to stat-logger graphing
  packages/stat-logger/src/statGraph.js
  packages/swingset-runner/src/graphMem.js
  packages/swingset-runner/src/graphTime.js
Labels: enhancement, swingset-runner

#701 Fix regression in `agoric start --reset`
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/test/test-workflow.js
Labels: agoric-cli

#698 Separate wallet bridge from dApp API handlers
  packages/agoric-cli/agoric-wallet-build/asset-manifest.json
  packages/agoric-cli/agoric-wallet-build/index.html
  packages/agoric-cli/agoric-wallet-build/precache-manifest.81ac76d1232f29be088449d54b9983b8.js
  packages/agoric-cli/agoric-wallet-build/service-worker.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.2de9e919.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.2de9e919.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/main.8b821acd.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.8b821acd.chunk.js.map
  packages/cosmic-swingset/lib/ag-solo/html/wallet-bridge.html
  packages/cosmic-swingset/lib/ag-solo/register-http.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/lib/ag-solo/web.js
  packages/wallet-frontend/src/components/Inbox.jsx
  yarn.lock
Labels: cosmic-swingset, wallet

#705 Accomodate Zoe roles as is currently designed
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/offer-compiler.js
Labels: wallet

#707 Further improvements to swingset-runner
  packages/swingset-runner/bin/runner
  packages/swingset-runner/src/main.js
Labels: enhancement, swingset-runner

#706 Agoric cli improvements
  packages/agoric-cli/lib/init.js
  scripts/link-cli.cjs
Labels: agoric-cli

#725 Propagate makeContract exceptions
  packages/cosmic-swingset/lib/ag-solo/vats/lib-wallet.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/zoe/src/zoe.js
Labels: Zoe, hackathon-release

#755 fix: make the fake-chain better
  packages/agoric-cli/package.json
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
Labels: cosmic-swingset

#752 Multicast http handlers
  packages/agoric-cli/agoric-wallet-build/asset-manifest.json
  packages/agoric-cli/agoric-wallet-build/index.html
  packages/agoric-cli/agoric-wallet-build/precache-manifest.c6e69f21c2aea8705c2c098601680840.js
  packages/agoric-cli/agoric-wallet-build/service-worker.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.49aad819.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.49aad819.chunk.js.map
  packages/agoric-cli/agoric-wallet-build/static/js/main.873f8d69.chunk.js
  packages/agoric-cli/agoric-wallet-build/static/js/main.873f8d69.chunk.js.map
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/docker/ag-solo
  packages/cosmic-swingset/lib/ag-solo/bundle.js
  packages/cosmic-swingset/lib/ag-solo/html/main.js
  packages/cosmic-swingset/lib/ag-solo/html/wallet-bridge.html
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-wallet.js
  packages/cosmic-swingset/lib/ag-solo/web.js
  packages/cosmic-swingset/package.json
  packages/wallet-frontend/src/setupProxy.js
  packages/wallet-frontend/src/utils/fetch-websocket.js
Labels: cosmic-swingset

#764 Prevent simulated blocks from reentering the kernel
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
Labels: cosmic-swingset

#685 [Zoe] Zoe Release v0.3.0
  packages/zoe/NEWS.md
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contracts/atomicSwap.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/helpers/auctions.js
  packages/zoe/src/contracts/helpers/bondingCurves.js
  packages/zoe/src/contracts/helpers/userFlow.js
  packages/zoe/src/contracts/helpers/zoeHelpers.js
  packages/zoe/src/contracts/myFirstDapp.js
  packages/zoe/src/contracts/publicAuction.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/isOfferSafe.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/offerSafety.js
  packages/zoe/src/rightsConservation.js
  packages/zoe/src/state.js
  packages/zoe/src/zoe.chainmail
  packages/zoe/src/zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/bootstrap.js
  packages/zoe/test/swingsetTests/zoe-metering/infiniteTestLoop.js
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/unitTests/contracts/helpers/test-bondingCurves.js
  packages/zoe/test/unitTests/contracts/helpers/test-stateMachine.js
  packages/zoe/test/unitTests/contracts/helpers/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-myFirstDapp.js
  packages/zoe/test/unitTests/contracts/test-publicAuction.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/setupBasicMints2.js
  packages/zoe/test/unitTests/test-cleanProposal.js
  packages/zoe/test/unitTests/test-isOfferSafe.js
  packages/zoe/test/unitTests/test-objArrayConversion.js
  packages/zoe/test/unitTests/test-offerSafety.js
  packages/zoe/test/unitTests/test-rightsConservation.js
Labels: Zoe, hackathon-release

#775 [Zoe] Revert changes to zoe.js in #772
  packages/zoe/src/zoe.js
Labels: Zoe

#784 Discard dapp template history
  packages/agoric-cli/lib/init.js
  packages/agoric-cli/package.json
Labels: agoric-cli

#786 Use commander for better CLI conventions
  packages/agoric-cli/bin/agoric
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/init.js
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/agoric-cli/test/test-main.js
  yarn.lock
Labels: agoric-cli

#795 Allow optional arguments to redeem
  packages/zoe/src/contracts/helpers/zoeHelpers.js
  packages/zoe/src/zoe.chainmail
  packages/zoe/src/zoe.js
Labels: Zoe

#806 Run "yarn install" in the ui directory
  packages/agoric-cli/lib/install.js
  packages/agoric-cli/test/test-workflow.js
Labels: agoric-cli
