Repository Agoric/agoric-sdk, pull requests merged in 2021-12, with the labels that each got.

#4137 Beans per unit nondeterminism
  golang/cosmos/proto/agoric/swingset/swingset.proto
  golang/cosmos/x/swingset/types/params.go
  golang/cosmos/x/swingset/types/sim-params.go
  golang/cosmos/x/swingset/types/swingset.pb.go
  packages/cosmic-swingset/src/block-manager.js
  packages/cosmic-swingset/src/sim-params.js
  packages/deployment/package.json
  packages/deployment/scripts/crunch.mjs
  packages/deployment/scripts/find-nondeterminism.sh
  yarn.lock
Labels: cosmic-swingset, deployment, automerge:merge, proto:expect-breakage

#4138 ci(deployment-test): run against default branch
  .github/workflows/deployment-test.yml
Labels: deployment, automerge:merge

#4139 ci: also run `docker` and `deployment-test` on main branch PR close
  .github/workflows/deployment-test.yml
  .github/workflows/docker.yml
Labels: tooling, automerge:merge

#4020 feat: tweak fictional BLD price to suggest early phase
  packages/vats/src/issuers.js
Labels: automerge:merge

#4144 feat(far): new package `@agoric/far`
  .github/workflows/test-all-packages.yml
  package.json
  packages/far/README.md
  packages/far/jsconfig.json
  packages/far/package.json
  packages/far/src/index.js
  packages/far/test/prepare-test-env-ava.js
  packages/far/test/test-e.js
  packages/far/test/test-marshal-far-function.js
  packages/far/test/test-marshal-far-obj.js
Labels: eventual-send, marshal, far

#4145 fix(vats)!: migrate to use `@agoric/far`, remove deprecated REPL code
  packages/far/src/index.js
  packages/vats/package.json
  packages/vats/src/bootstrap.js
  packages/vats/src/bridge.js
  packages/vats/src/distributeFees.js
  packages/vats/src/ibc.js
  packages/vats/src/lib-board.js
  packages/vats/src/nameHub.js
  packages/vats/src/repl.js
  packages/vats/src/types.js
  packages/vats/src/ui-agent.js
  packages/vats/src/vat-bank.js
  packages/vats/src/vat-board.js
  packages/vats/src/vat-distributeFees.js
  packages/vats/src/vat-ibc.js
  packages/vats/src/vat-mints.js
  packages/vats/src/vat-network.js
  packages/vats/src/vat-priceAuthority.js
  packages/vats/src/vat-provisioning.js
  packages/vats/src/vat-sharing.js
  packages/vats/src/vat-walletManager.js
  packages/vats/src/vat-zoe.js
  packages/vats/src/virtual-purse.js
  packages/vats/test/test-distributeFees.js
  packages/vats/test/test-lib-board.js
  packages/vats/test/test-network.js
  packages/vats/test/test-vat-bank.js
  packages/vats/test/test-vpurse.js
Labels: automerge:merge, far

#4120 ci(dev-canary): publish a `dev` NPM dist tag on every push
  .github/workflows/test-all-packages.yml
Labels: automerge:merge

#4147 fix: represent storage in same order in genesis state
  golang/cosmos/proto/agoric/swingset/genesis.proto
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/types/genesis.pb.go
  golang/cosmos/x/swingset/types/swingset.pb.go
Labels: cosmic-swingset, automerge:merge, proto:expect-breakage

#4128 fix(solo): take a dependency on `esm` to reenable plugins
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/agoric-cli/tools/getting-started.js
  packages/agoric-cli/tools/resm-plugin/deploy.js
  packages/agoric-cli/tools/resm-plugin/package.json
  packages/agoric-cli/tools/resm-plugin/src/output.js
  packages/agoric-cli/tools/resm-plugin/src/plugin.js
  packages/solo/package.json
  packages/solo/src/entrypoint.js
  packages/solo/src/start.js
Labels: solo, automerge:merge

#4129 Fully support `agoric install <dist-tag>`
  MAINTAINERS.md
  packages/agoric-cli/src/install.js
  scripts/npm-dist-tag.sh
Labels: agoric-cli, automerge:merge

#4151 feat(wallet): add help link to documentation
  packages/wallet/ui/src/components/AppBar.jsx
  packages/wallet/ui/src/components/Requests.scss
Labels: automerge:rebase

#4158 fix(wallet): allow wallet app deep linking
  packages/solo/src/web.js
Labels: automerge:rebase

#4154 fix(wallet): render issuer brand correctly
  packages/wallet/ui/src/views/Issuers.jsx
Labels: automerge:rebase

#4162 build(deps): require Golang 1.17 (for Mac M1 compatibility)
  .github/workflows/deployment-test.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-golang.yml
  CONTRIBUTING.md
  go.mod
  go.sum
  golang/cosmos/app/version_check.go
  packages/cosmic-swingset/README.md
  packages/deployment/Dockerfile.sdk
Labels: tooling, automerge:merge

#4161 feat(deployment)!: optional first block argument to `crunch.mjs`
  packages/deployment/scripts/crunch.mjs
Labels: deployment, automerge:merge

#4166 Fix IBC (`x/capability`) nondeterminism after node restart
  golang/cosmos/app/app.go
  packages/agoric-cli/src/chain-config.js
  packages/deployment/src/init.js
Labels: cosmic-swingset, agoric-cli, deployment, automerge:merge

#4163 fix(treasury): use liquidationMargin for maxDebt calculation
  packages/treasury/src/vault.js
Labels: automerge:squash

#4171 Systematic Cosmos SDK/Gaia upgrades
  go.mod
  go.sum
  golang/cosmos/app/agoric_ante.go
  golang/cosmos/app/ante_handler.go
  golang/cosmos/app/app.go
  golang/cosmos/app/encoding.go
  golang/cosmos/app/genesis.go
  golang/cosmos/app/params/amino.go
  golang/cosmos/app/params/doc.go
  golang/cosmos/app/params/encoding.go
  golang/cosmos/app/params/proto.go
  golang/cosmos/app/params/weights.go
  golang/cosmos/app/sim_test.go
  golang/cosmos/app/vm_admission.go
  golang/cosmos/daemon/cmd/genaccounts.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/daemon/cmd/root_test.go
  golang/cosmos/daemon/cmd/testnet.go
  golang/cosmos/daemon/main.go
  golang/cosmos/upgradegaia.sh
  golang/cosmos/x/lien/keeper/keeper_test.go
  golang/cosmos/x/vbank/vbank_test.go
Labels: automerge:merge, agd

#4124 fix(liveSlots): reflect return value marshalling failures
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-liveslots.js
  packages/spawner/test/swingsetTests/contractHost/bootstrap.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/spawner/test/swingsetTests/contractHost/trivial.js
Labels: SwingSet, automerge:merge

#4183 fix(wallet): properly get the first timerService value
  packages/wallet/api/src/date-now.js
Labels: wallet, automerge:merge

#4121 Refactor parameter governance support to allow for Invitations
  packages/governance/README.md
  packages/governance/src/contractGovernor.js
  packages/governance/src/contractHelper.js
  packages/governance/src/index.js
  packages/governance/src/paramGovernance/assertions.js
  packages/governance/src/paramGovernance/governParam.js
  packages/governance/src/paramGovernance/paramMakers.js
  packages/governance/src/paramGovernance/paramManager.js
  packages/governance/src/paramMakers.js
  packages/governance/src/paramManager.js
  packages/governance/src/question.js
  packages/governance/src/types.js
  packages/governance/test/swingsetTests/contractGovernor/bootstrap.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/governance/test/swingsetTests/contractGovernor/test-governor.js
  packages/governance/test/swingsetTests/contractGovernor/vat-voter.js
  packages/governance/test/unitTests/test-buildParamManager.js
  packages/governance/test/unitTests/test-param-manager.js
  packages/governance/test/unitTests/test-paramChangePositions.js
  packages/governance/test/unitTests/test-paramGovernance.js
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/package.json
  packages/treasury/src/params.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/swingsetTests/governance/test-governance.js
  packages/treasury/test/swingsetTests/governance/vat-voter.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/vault-contract-wrapper.js
  packages/zoe/package.json
  packages/zoe/src/contracts/vpool-xyk-amm/multipoolMarketMaker.js
  packages/zoe/src/contracts/vpool-xyk-amm/params.js
  packages/zoe/test/unitTests/contracts/vpool-xyk-amm/test-amm-governance.js
  packages/zoe/test/unitTests/contracts/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zcf/setupZcfTest.js
  packages/zoe/test/unitTests/zcf/zcfTesterContract.js
Labels: hygiene, Beta, Governance, automerge:squash

#4194 chore: create web-components package
  .github/workflows/test-all-packages.yml
  package.json
  packages/wallet-connection/agoric-wallet-connection.js
  packages/wallet-connection/index.js
  packages/wallet-connection/package.json
  packages/wallet-connection/react.js
  packages/web-components/.editorconfig
  packages/web-components/.gitignore
  packages/web-components/CHANGELOG.md
  packages/web-components/LICENSE
  packages/web-components/README.md
  packages/web-components/agoric-wallet-connection.js
  packages/web-components/demo/index.html
  packages/web-components/demo/install-ses-lockdown.js
  packages/web-components/index.js
  packages/web-components/jsconfig.json
  packages/web-components/package.json
  packages/web-components/react.js
  packages/web-components/src/AgoricIframeMessenger.js
  packages/web-components/src/AgoricWalletConnection.js
  packages/web-components/src/admin-websocket-connector.js
  packages/web-components/src/agoric-iframe-messenger.js
  packages/web-components/src/bridge-iframe-connector.js
  packages/web-components/src/states.js
  packages/web-components/test/agoric-wallet-connection.test.js
  packages/web-components/web-dev-server.config.mjs
  packages/web-components/web-test-runner.config.mjs
Labels: automerge:squash, automerge:rebase, web-components

#4168 Mutable electorate
  packages/governance/README.md
  packages/governance/docs/AttackGuide.md
  packages/governance/package.json
  packages/governance/src/contractGovernor.js
  packages/governance/src/index.js
  packages/governance/src/paramGovernance/governParam.js
  packages/governance/src/paramGovernance/paramManager.js
  packages/governance/src/types.js
  packages/governance/test/swingsetTests/contractGovernor/bootstrap.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/governance/test/swingsetTests/contractGovernor/test-governor.js
  packages/governance/test/swingsetTests/contractGovernor/vat-voter.js
  packages/governance/test/unitTests/test-ballotCount.js
  packages/governance/test/unitTests/test-buildParamManager.js
  packages/governance/test/unitTests/test-paramChangePositions.js
  packages/governance/test/unitTests/test-paramGovernance.js
  packages/governance/test/unitTests/test-shareHolders.js
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/src/params.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/types.js
  packages/treasury/test/swingsetTests/governance/bootstrap.js
  packages/treasury/test/swingsetTests/governance/test-governance.js
  packages/treasury/test/swingsetTests/governance/vat-owner.js
  packages/treasury/test/swingsetTests/setup.js
  packages/treasury/test/swingsetTests/treasury/bootstrap.js
  packages/treasury/test/swingsetTests/treasury/vat-owner.js
  packages/treasury/test/test-bootstrapPayment.js
  packages/treasury/test/test-stablecoin.js
  packages/vats/src/bootstrap.js
  packages/zoe/src/contracts/vpool-xyk-amm/multipoolMarketMaker.js
  packages/zoe/src/contracts/vpool-xyk-amm/params.js
  packages/zoe/src/contracts/vpool-xyk-amm/types.js
  packages/zoe/test/unitTests/contracts/vpool-xyk-amm/setup.js
  packages/zoe/test/unitTests/contracts/vpool-xyk-amm/test-amm-governance.js
  packages/zoe/test/unitTests/contracts/vpool-xyk-amm/test-xyk-amm-swap.js
Labels: Medium, Core Economy, treasury, Governance, AMM, automerge:squash

#4195 Convert functions to arrow functions in Treasury
  packages/treasury/src/burn.js
  packages/treasury/src/interest.js
  packages/treasury/src/liquidateMinimum.js
  packages/treasury/src/liquidation.js
  packages/treasury/src/makeTracer.js
  packages/treasury/src/prioritizedVaults.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
Labels: XSmall, Core Economy, code-style, treasury, automerge:squash

#4190 Extract early changes from PR 4136
  packages/ERTP/src/mathHelpers/setMathHelpers.js
  packages/ERTP/src/typeGuards.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/install-ses/package.json
  packages/marshal/index.js
  packages/marshal/src/deeplyFulfilled.js
  packages/marshal/src/dot-membrane.js
  packages/marshal/src/helpers/copyArray.js
  packages/marshal/src/helpers/copyRecord.js
  packages/marshal/src/helpers/error.js
  packages/marshal/src/helpers/iter-helpers.js
  packages/marshal/src/helpers/passStyle-helpers.js
  packages/marshal/src/helpers/remotable.js
  packages/marshal/src/helpers/symbol.js
  packages/marshal/src/helpers/tagged.js
  packages/marshal/src/make-far.js
  packages/marshal/src/makeTagged.js
  packages/marshal/src/marshal-justin.js
  packages/marshal/src/marshal.js
  packages/marshal/src/passStyleOf.js
  packages/marshal/src/pureCopy.js
  packages/marshal/src/structure.js
  packages/marshal/src/types.js
  packages/marshal/test/test-marshal-justin.js
  packages/marshal/test/test-marshal.js
  packages/same-structure/NEWS.md
  packages/same-structure/README.md
  packages/same-structure/index.js
  packages/same-structure/package.json
  packages/store/exported.js
  packages/store/package.json
  packages/store/src/index.js
  packages/store/src/keys/checkKey.js
  packages/store/src/keys/compareKeys.js
  packages/store/src/keys/copyMap.js
  packages/store/src/keys/copySet.js
  packages/store/src/legacy/legacyMap.js
  packages/store/src/legacy/legacyWeakMap.js
  packages/store/src/patterns/internal-types.js
  packages/store/src/patterns/patternMatchers.js
  packages/store/src/patterns/rankOrder.js
  packages/store/src/scalarMap.js
  packages/store/src/scalarWeakMap.js
  packages/store/src/stores/scalarMapStore.js
  packages/store/src/stores/scalarSetStore.js
  packages/store/src/stores/scalarWeakMapStore.js
  packages/store/src/stores/scalarWeakSetStore.js
  packages/store/src/stores/store-utils.js
  packages/store/src/types.js
  packages/store/test/test-patterns.js
  packages/store/test/test-store.js
  packages/wallet/api/test/test-lib-wallet.js
  packages/zoe/src/contracts/vpool-xyk-amm/multipoolMarketMaker.js
  packages/zoe/test/unitTests/contracts/attestation/test-exampleVotingUsage.js
Labels: automerge:squash

#4202 chore(release): publish 12.0.0
  CHANGELOG.md
  golang/cosmos/CHANGELOG.md
  golang/cosmos/package.json
  package.json
  packages/ERTP/CHANGELOG.md
  packages/ERTP/package.json
  packages/SwingSet/CHANGELOG.md
  packages/SwingSet/package.json
  packages/agoric-cli/CHANGELOG.md
  packages/agoric-cli/package.json
  packages/captp/CHANGELOG.md
  packages/captp/package.json
  packages/cosmic-swingset/CHANGELOG.md
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/CHANGELOG.md
  packages/deploy-script-support/package.json
  packages/deployment/CHANGELOG.md
  packages/deployment/package.json
  packages/governance/CHANGELOG.md
  packages/governance/package.json
  packages/import-bundle/CHANGELOG.md
  packages/import-bundle/package.json
  packages/import-manager/CHANGELOG.md
  packages/import-manager/package.json
  packages/notifier/CHANGELOG.md
  packages/notifier/package.json
  packages/pegasus/CHANGELOG.md
  packages/pegasus/package.json
  packages/sharing-service/CHANGELOG.md
  packages/sharing-service/package.json
  packages/solo/CHANGELOG.md
  packages/solo/package.json
  packages/spawner/CHANGELOG.md
  packages/spawner/package.json
  packages/store/CHANGELOG.md
  packages/store/package.json
  packages/swingset-runner/CHANGELOG.md
  packages/swingset-runner/package.json
  packages/treasury/CHANGELOG.md
  packages/treasury/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
  packages/vats/CHANGELOG.md
  packages/vats/package.json
  packages/wallet-connection/CHANGELOG.md
  packages/wallet-connection/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/api/CHANGELOG.md
  packages/wallet/api/package.json
  packages/wallet/package.json
  packages/wallet/ui/CHANGELOG.md
  packages/wallet/ui/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/zoe/CHANGELOG.md
  packages/zoe/package.json
Labels: automerge:merge

#4208 refactor(promise-kit): Relax dependence on eventual-send
  packages/promise-kit/package.json
  packages/promise-kit/src/promiseKit.js
Labels: automerge:merge

#4221 fix(wallet-backend): next new purse is autodeposit if there was none
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/test/test-getPursesNotifier.js
  packages/wallet/api/test/test-lib-wallet.js
Labels: wallet, automerge:merge

#4218 Move AMM into a package that collects RUN protocol components
  docs/threat_models/index.md
  docs/threat_models/pegasus/pegasus_component.png
  docs/threat_models/pegasus/pegasus_sequence.png
  docs/threat_models/smart_contracts/multipool_autoswap/mpas_component.png
  docs/threat_models/smart_contracts/multipool_autoswap/mpas_sequence.png
  docs/threat_models/smart_contracts/multipool_autoswap/mpas_sequence_001.png
  docs/threat_models/smart_contracts/multipool_autoswap/mpas_sequence_002.png
  docs/threat_models/smart_contracts/multipool_autoswap/mpas_sequence_003.png
  docs/threat_models/treasury/treasury.png
  docs/threat_models/vaultFactory/vaultFactory.png
  docs/threat_models/vaultFactory/vaultFactory.puml
  packages/SwingSet/misc-tools/measure-metering/measure.js
  packages/run-protocol/bundles/install-on-chain.js
  packages/run-protocol/exported.js
  packages/run-protocol/scripts/build-bundles.js
  packages/run-protocol/src/exported.js
  packages/run-protocol/src/vpool-xyk-amm/addLiquidity.js
  packages/run-protocol/src/vpool-xyk-amm/collectFees.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/README.md
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/calcFees.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/calcSwapPrices.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/core.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/defaults.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/getXY.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/internal-types.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/invariants.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/swap.js
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/types.js
  packages/run-protocol/src/vpool-xyk-amm/doublePool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/src/vpool-xyk-amm/params.js
  packages/run-protocol/src/vpool-xyk-amm/pool.js
  packages/run-protocol/src/vpool-xyk-amm/priceAuthority.js
  packages/run-protocol/src/vpool-xyk-amm/removeLiquidity.js
  packages/run-protocol/src/vpool-xyk-amm/singlePool.js
  packages/run-protocol/src/vpool-xyk-amm/swap.js
  packages/run-protocol/src/vpool-xyk-amm/types.js
  packages/run-protocol/test/amm/constantProduct/setupMints.js
  packages/run-protocol/test/amm/constantProduct/test-calcDeltaX.js
  packages/run-protocol/test/amm/constantProduct/test-calcDeltaY.js
  packages/run-protocol/test/amm/constantProduct/test-checkInvariants.js
  packages/run-protocol/test/amm/constantProduct/test-compareBondingCurves.js
  packages/run-protocol/test/amm/constantProduct/test-getXY.js
  packages/run-protocol/test/amm/constantProduct/test-readmeScenario.js
  packages/run-protocol/test/amm/constantProduct/test-swapScenarios.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-governance.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/bootstrap.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-alice.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-owner.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-priceAuthority.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-zoe.js
  packages/run-protocol/test/vaultFactory/test-bootstrapPayment.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/zoe/src/contracts/exported.js
Labels: hygiene, Core Economy, RUN-protocol, AMM, automerge:squash

#4229 fix(wallet): fix crash when deleting dapps
  packages/wallet/ui/src/views/Dapps.jsx
Labels: automerge:rebase

#4226 docs: updated link to getting started
  README.md
Labels: automerge:merge
