Repository Agoric/agoric-sdk, pull requests merged in 2021-05, with the labels that each got.

#2974 feat: first cut at a virtual purse API
  golang/cosmos/app/app.go
  golang/cosmos/proto/agoric/vpurse/genesis.proto
  golang/cosmos/proto/agoric/vpurse/msgs.proto
  golang/cosmos/x/vpurse/alias.go
  golang/cosmos/x/vpurse/genesis.go
  golang/cosmos/x/vpurse/handler.go
  golang/cosmos/x/vpurse/keeper/keeper.go
  golang/cosmos/x/vpurse/module.go
  golang/cosmos/x/vpurse/types/codec.go
  golang/cosmos/x/vpurse/types/expected_keepers.go
  golang/cosmos/x/vpurse/types/genesis.pb.go
  golang/cosmos/x/vpurse/types/key.go
  golang/cosmos/x/vpurse/types/msgs.go
  golang/cosmos/x/vpurse/types/msgs.pb.go
  golang/cosmos/x/vpurse/vpurse.go
  packages/agoric-cli/lib/chain-config.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/deployment/setup.js
  packages/vats/decentral-config.json
  packages/vats/jsconfig.json
  packages/vats/package.json
  packages/vats/src/bootstrap.js
  packages/vats/src/bridge.js
  packages/vats/src/issuers.js
  packages/vats/src/vat-bank.js
  packages/vats/src/virtual-purse.js
  packages/vats/test/test-vat-bank.js
  packages/vats/test/test-vpurse.js
Labels: cosmic-swingset, wallet

#3013 Fixes for bootstrap tokens
  .github/workflows/docker.yml
  .github/workflows/test-all-packages.yml
  docker/ag-setup-solo
  docker/ag-solo
  golang/cosmos/.gitignore
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/set-defaults.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/cosmic-swingset/.dockerignore
  packages/cosmic-swingset/.gitignore
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/Dockerfile
  packages/deployment/Dockerfile.sdk
  packages/deployment/Makefile
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/ansible/install-cosmos.yml
  packages/deployment/ansible/prepare-cosmos.yml
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/bigdipper/settings.json
  packages/deployment/docker/ag-setup-cosmos
  packages/deployment/main.js
  packages/solo/Dockerfile
  packages/solo/bin/ag-solo
  packages/solo/package.json
  packages/solo/src/entrypoint.cjs
  packages/solo/src/init-basedir.js
  packages/solo/src/main.js
  packages/solo/src/start.js
  packages/solo/test/startsolo.sh
Labels: agoric-cli, cosmic-swingset, deployment

#2990 refactor: encapsulate authority in zoeService and contractFacet
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
Labels: Zoe

#2944 new swap that charges protocol fees
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/newSwap/getCurrentPrice.js
  packages/zoe/test/unitTests/contracts/test-newSwapPrice.js
Labels: Beta, Core Economy, Medium, Zoe Contract, treasury

#3024 Disable comms vat termination via remote comms errors
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet, bug

#2971 Implement Swap for the newSwap AMM
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/newSwap/multipoolAutoswap.js
  packages/zoe/src/contracts/newSwap/swap.js
  packages/zoe/src/contracts/newSwap/types.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwapPrice.js
Labels: Beta, Core Economy, Medium, enhancement, treasury

#2975 Add a creatorFacet for withdrawing accumulated fees from the AMM
  packages/zoe/src/contracts/newSwap/collectFees.js
  packages/zoe/src/contracts/newSwap/multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
Labels: Beta, Core Economy, Small, treasury

#3010 Extract fees from Treasury
  packages/treasury/src/collectRewardFees.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/test/test-stablecoin.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/newSwap/getCurrentPrice.js
Labels: Beta, Core Economy, Small, treasury

#3014 Distribute fees from the Treasury via the bank
  packages/vats/jsconfig.json
  packages/vats/src/distributeFees.js
  packages/vats/src/types.js
  packages/vats/src/vat-distributeFees.js
  packages/vats/test/test-distributeFees.js
Labels: Beta, Core Economy, Small, treasury

#3025 Virtual purse balance updates
  go.mod
  go.sum
  golang/cosmos/app/app.go
  golang/cosmos/x/vpurse/keeper/keeper.go
  golang/cosmos/x/vpurse/module.go
  golang/cosmos/x/vpurse/vpurse.go
  packages/cosmic-swingset/src/block-manager.js
  packages/vats/src/bridge.js
  packages/vats/src/issuers.js
  packages/vats/src/vat-bank.js
Labels: cosmic-swingset

#2995 feat: default to xs-worker in chain
  packages/solo/solo-config.json
  packages/vats/decentral-config.json
Labels: xsnap

#3028 Use seat.fail(error) to report a problem
  packages/treasury/src/vault.js
Labels: XSmall, code-style

#3030 Distribute fees
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/jsconfig.json
  packages/treasury/scripts/build-bundles.js
  packages/treasury/test/swingsetTests/test-treasury.js
  packages/treasury/test/swingsetTests/vat-alice.js
  packages/treasury/test/swingsetTests/vat-owner.js
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/test-vault.js
  packages/vats/decentral-config.json
  packages/vats/jsconfig.json
  packages/vats/src/bootstrap.js
  packages/vats/src/distributeFees.js
  packages/vats/src/types.js
  packages/vats/src/vat-bank.js
  packages/vats/src/vat-distributeFees.js
  packages/vats/test/test-distributeFees.js
  packages/zoe/src/contracts/newSwap/collectFees.js
  packages/zoe/src/contracts/newSwap/swap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
  packages/zoe/test/unitTests/setupBasicMints.js
Labels: cosmic-swingset

#3029 chore: try to better handle misbehavior related to ZCFSeat.fail and ZCFSeat.exit
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/test/unitTests/zcf/test-zcfSeat-exit.js
Labels: Zoe

#3036 fix!: rights conservation should allow new brands or dropped brands if sum is empty
  packages/zoe/src/contractFacet/rightsConservation.js
  packages/zoe/test/unitTests/zcf/test-reallocate-empty.js
Labels: Zoe

#3051 Simplify scheduling in distributeFees
  packages/vats/src/bootstrap.js
  packages/vats/src/distributeFees.js
  packages/vats/src/types.js
  packages/vats/src/vat-bank.js
  packages/vats/test/test-distributeFees.js
Labels: Beta, Core Economy, Small, bug, performance

#3055 chore: export `AmountMath` and deprecate but still export `amountMath`
  packages/ERTP/src/amountMath.js
Labels: ERTP

#3009 chore: add catalog of storage in Zoe
  packages/zoe/docs/zoe-catalog-of-storage.md
Labels: Zoe

#3050 Release cleanups
  docker/docker-compose.yml
  golang/cosmos/x/swingset/storage.go
  golang/cosmos/x/vpurse/module.go
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/check-validator.js
  packages/deployment/ansible/copy.yml
  packages/solo/test/captp-fixture.js
  packages/solo/test/test-home.js
Labels: cosmic-swingset

#3067 Switch AMMs
  packages/treasury/scripts/build-bundles.js
Labels: Beta, Core Economy, Testnet, XSmall, deployment, treasury

#3084 Move registrar to packages/Attic
  .github/workflows/test-all-packages.yml
  package.json
  packages/Attic/registrar/CHANGELOG.md
  packages/Attic/registrar/CONTRIBUTING.md
  packages/Attic/registrar/NEWS.md
  packages/Attic/registrar/README.md
  packages/Attic/registrar/package.json
  packages/Attic/registrar/src/registrar.js
  packages/Attic/registrar/test/unitTests/test-registrar.js
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/solo/test/test-home.js
  packages/vats/decentral-config.json
  packages/vats/package.json
  packages/vats/src/bootstrap.js
  packages/vats/src/vat-registrar.js
Labels: hygiene

#3083 fix(repl): render the unjsonable things described in #2278
  packages/dapp-svelte-wallet/ui/lib/Debug.svelte
  packages/dapp-svelte-wallet/ui/lib/helpers.js
  packages/vats/src/repl.js
  packages/vats/test/test-dump.js
  packages/vats/test/test-repl.js
Labels: wallet

#3090 chore: add invariant helper and constant product example
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/multipoolAutoswap/constantProduct.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-constantProduct.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-multipoolPriceAuthority.js
Labels: Zoe

#3082 Parser cleanup
  .github/workflows/test-all-packages.yml
  package.json
  packages/Attic/registrar/CHANGELOG.md
  packages/Attic/registrar/CONTRIBUTING.md
  packages/Attic/registrar/NEWS.md
  packages/Attic/registrar/README.md
  packages/Attic/registrar/package.json
  packages/Attic/registrar/src/registrar.js
  packages/Attic/registrar/test/unitTests/test-registrar.js
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/metering.js
  packages/SwingSet/test/metering/test-metering.js
  packages/acorn-eventual-send/.circleci/config.yml
  packages/acorn-eventual-send/.eslintignore
  packages/acorn-eventual-send/.gitignore
  packages/acorn-eventual-send/.npmignore
  packages/acorn-eventual-send/CHANGELOG.md
  packages/acorn-eventual-send/LICENSE
  packages/acorn-eventual-send/README.md
  packages/acorn-eventual-send/changelogs/README-changelogs.md
  packages/acorn-eventual-send/encouragementBotCommsWavyDot/bootstrap.js
  packages/acorn-eventual-send/index.js
  packages/acorn-eventual-send/package.json
  packages/acorn-eventual-send/scripts/npm-audit-fix.sh
  packages/acorn-eventual-send/scripts/setup-agoric-bot.md
  packages/acorn-eventual-send/setup-circleci.md
  packages/acorn-eventual-send/test/test-parser.js
  packages/acorn-eventual-send/test/test-rollup.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/dapp-svelte-wallet/package.json
  packages/transform-eventual-send/.circleci/config.yml
  packages/transform-eventual-send/.eslintignore
  packages/transform-eventual-send/.gitignore
  packages/transform-eventual-send/.npmignore
  packages/transform-eventual-send/CHANGELOG.md
  packages/transform-eventual-send/LICENSE
  packages/transform-eventual-send/NEWS.md
  packages/transform-eventual-send/README.md
  packages/transform-eventual-send/changelogs/README-changelogs.md
  packages/transform-eventual-send/package.json
  packages/transform-eventual-send/scripts/npm-audit-fix.sh
  packages/transform-eventual-send/scripts/setup-agoric-bot.md
  packages/transform-eventual-send/setup-circleci.md
  packages/transform-eventual-send/src/.gitignore
  packages/transform-eventual-send/src/index.js
  packages/transform-eventual-send/test/test-transformer.js
  packages/transform-metering/README.md
  packages/transform-metering/package.json
  packages/transform-metering/src/pure-babel-core.js
  packages/transform-metering/src/transform.js
  packages/transform-metering/test/test-transform.js
  packages/transform-metering/test/test-zzz-eval.js
  packages/vats/package.json
  packages/vats/src/repl.js
  packages/vats/test/test-repl.js
  yarn.lock
Labels: hygiene

#3098 Update parsers
  packages/SwingSet/package.json
  packages/SwingSet/test/test-transcript.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/eventual-send/package.json
  packages/transform-metering/package.json
  packages/transform-metering/rollup.config.js
  packages/transform-metering/src/transform.js
  packages/vats/package.json
  packages/vats/src/issuers.js
  patches/acorn+7.4.1.patch
  yarn.lock
Labels: tooling

#3075 repair multipoolAutoswap swapOut secondary to secondary
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-multipoolAutoswap.js
Labels: Beta, Core Economy, Small, Testnet, Zoe Contract, bug

#2996 Use WeakRefs to ensure virtual objects have at most one representative
  packages/SwingSet/docs/virtual-objects.md
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/src/weakref.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/import-bundle/src/compartment-wrapper.js
  packages/import-bundle/src/index.js
  packages/import-bundle/test/test-compartment-wrapper.js
Labels: SwingSet, enhancement, security

#3119 add transcript extraction+replay tools
  packages/SwingSet/bin/extract-transcript-from-kerneldb.js
  packages/SwingSet/bin/extract-transcript-from-slogfile.js
  packages/SwingSet/bin/replay-transcript.js
  packages/SwingSet/docs/how-to-replay.md
  packages/SwingSet/package.json
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/transcript.js
  packages/SwingSet/src/types.js
Labels: SwingSet

#3128 refactor(zoe): rename addSeat to handleOffer
  packages/zoe/docs/zoe-zcf.puml
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
Labels: Zoe

#3100 Enable coverage reporting
  .github/workflows/ag-solo-xs.yml.DISABLED
  .github/workflows/test-all-packages.yml
  COVERAGE.md
  COVERAGE_NETLIFY_SITE_ID
  golang/cosmos/package.json
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/agoric-cli/.ava-unit-test.config.js
  packages/agoric-cli/package.json
  packages/assert/package.json
  packages/bundle-source/package.json
  packages/captp/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/eslint-config/eslint-config.json
  packages/eventual-send/package.json
  packages/import-bundle/package.json
  packages/import-manager/package.json
  packages/install-metering-and-ses/package.json
  packages/install-ses/package.json
  packages/marshal/package.json
  packages/notifier/package.json
  packages/pegasus/package.json
  packages/promise-kit/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/solo/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
  packages/store/package.json
  packages/swing-store-lmdb/package.json
  packages/swing-store-simple/ava-nesm.config.js
  packages/swing-store-simple/package.json
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/package.json
  packages/tame-metering/package.json
  packages/transform-metering/package.json
  packages/treasury/package.json
  packages/vats/package.json
  packages/zoe/package.json
  patches/esm+3.2.25.patch
  patches/nyc+15.1.0.patch
  scripts/ava-nesm.cjs
  yarn.lock
Labels: tooling

#3060 fix for a bug in newSwap calculations
  packages/zoe/src/contracts/newSwap/getCurrentPrice.js
  packages/zoe/src/contracts/newSwap/swap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwapPrice.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newswap-bug.js
Labels: Beta, Core Economy, Small, Zoe Contract, bug, treasury

#3126 chore(zoe): add test of burnInvitation.js
  packages/zoe/test/unitTests/zoe/test-burnInvitation.js
Labels: Zoe

#3122 refactor: restructure host store API
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/storageAPI.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/device-plugin/test-device.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
  packages/SwingSet/test/test-device-bridge.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/test-vattp.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/timer-device/test-device.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-replay.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/tools/db-delete.js
  packages/SwingSet/tools/db-get.js
  packages/SwingSet/tools/db-set.js
  packages/SwingSet/tools/replace-bundle.js
  packages/agoric-cli/lib/open.js
  packages/cosmic-swingset/src/check-lmdb.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/solo/src/access-token.js
  packages/solo/src/start.js
  packages/swing-store-lmdb/jsconfig.json
  packages/swing-store-lmdb/package.json
  packages/swing-store-lmdb/src/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/jsconfig.json
  packages/swing-store-simple/package.json
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/demo/encouragementBotComms/runnerArgs
  packages/swingset-runner/demo/vatFailure/vat-bad.js
  packages/swingset-runner/demo/zoeTests/manualTimer.js
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/test/test-demo.js
  packages/swingset-runner/trun
Labels: SwingSet

#3140 drop support for Node 12
  .github/workflows/ag-solo-xs.yml.DISABLED
  .github/workflows/integration.yml
  .github/workflows/test-all-packages.yml
  README.md
  package.json
Labels: tooling

#3145 ci: correctly handle the case of no coverage data
  .github/workflows/test-all-packages.yml
Labels: tooling

#3136 fix(swingset,xsnap): add gcAndFinalize, tests
  packages/SwingSet/package.json
  packages/SwingSet/src/gc.js
  packages/SwingSet/test/test-gc.js
  packages/xsnap/src/xsnap.c
  packages/xsnap/test/gc.js
  packages/xsnap/test/test-gc.js
Labels: SwingSet, xsnap

#3142 Properly handle remotables vs presences in weak collections
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-weakcollections.js
  packages/SwingSet/test/virtualObjects/vat-weakcollections-alice.js
  packages/SwingSet/test/virtualObjects/vat-weakcollections-bootstrap.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
Labels: SwingSet, enhancement

#3130 feat(SwingSet): add "reachable" flag to clist entries
  packages/SwingSet/src/blockBuffer.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet

#3148 fix(swingset): do not record GC syscalls in the transcript
  packages/SwingSet/src/kernel/vatManager/transcript.js
  packages/SwingSet/test/test-gc-transcript.js
Labels: SwingSet

#3117 refactor(ERTP): get ERTP into a better form for auditing
  packages/ERTP/jsconfig.json
  packages/ERTP/package.json
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/brand.js
  packages/ERTP/src/index.js
  packages/ERTP/src/interfaces.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/payment.js
  packages/ERTP/src/paymentLedger.js
  packages/ERTP/src/purse.js
  packages/ERTP/src/types.js
  packages/ERTP/test/swingsetTests/splitPayments/bootstrap.js
  packages/ERTP/test/swingsetTests/splitPayments/vat-alice.js
  packages/ERTP/test/unitTests/mathHelpers/mockBrand.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-strSetMathHelpers.js
  packages/ERTP/test/unitTests/test-interfaces.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/ERTP/test/unitTests/test-mintObj.js
Labels: ERTP

#3080 Clean-up a work-around for a bug that's been fixed
  packages/zoe/src/contracts/newSwap/collectFees.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
Labels: Beta, XSmall, Zoe Contract, bug, xsnap

#3152 refactor virtual object manager
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-weakcollections.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/SwingSet/tools/prepare-test-env.js
Labels: SwingSet

#3153 fix(SwingSet): VOM retains Remotables used in virtualized data
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-retain-remotable.js
Labels: SwingSet

#3125 refactor(zoe): create helper for preventing the UnhandledPromiseRejectionWarning
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/evalContractCode.js
  packages/zoe/src/handleWarning.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: Zoe

#3124 refactor(zoe): add instantiation step to issuerStorage and instanceRecordStorage
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/test-instanceStorage.js
  packages/zoe/test/unitTests/test-issuerStorage.js
Labels: Zoe

#3127 refactor(zoe): separate offerHandlerStorage and delete entry after use
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/offerHandlerStorage.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/test/unitTests/zcf/test-offerHandlerStorage.js
Labels: Zoe

#3159 fix: use --expose-gc for top-level 'yarn test'
  package.json
Labels: tooling

#3169 add block events to the slogfile
  packages/SwingSet/src/controller.js
  packages/cosmic-swingset/src/launch-chain.js
Labels: SwingSet, cosmic-swingset

#3157 fix(SwingSet): VOM tracks Presence vrefs in virtualized data
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-reachable-vrefs.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
Labels: SwingSet

#3162 fix liveslots object retention
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#3163 fix(swingset): remove liveslots "safety pins"
  packages/SwingSet/src/kernel/liveSlots.js
Labels: SwingSet

#3164 feat(swingset): drop Presences, trigger `syscall.dropImports`
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#3165 fix(swingset): activate `dispatch.dropExports`
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#3176 remove console noise from test-promises
  packages/SwingSet/test/basedir-promises/bootstrap.js
Labels: SwingSet

#3160 Provide StreamStore implementations
  packages/swing-store-lmdb/src/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
Labels: SwingSet, enhancement

#3194 chore(swingset): move gc.js to gc-and-finalize.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/gc-and-finalize.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-gc-and-finalize.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/virtualObjects/test-retain-remotable.js
Labels: SwingSet

#3193 chore(swingset): log syscall translations errors to stdout
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#3196 refactor(ERTP): no implicit `any` types in ERTP/src
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/displayInfo.js
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/mathHelpers/setMathHelpers.js
  packages/ERTP/src/payment.js
  packages/ERTP/src/paymentLedger.js
  packages/ERTP/src/types.js
Labels: ERTP

#3205 chore: fix types, rename exportInstanceRecord as well for coherence
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/test-instanceStorage.js
Labels: Zoe

#3197 Clean up handling of RUN bank purses
  golang/cosmos/Makefile
  golang/cosmos/app/app.go
  golang/cosmos/proto/agoric/vpurse/genesis.proto
  golang/cosmos/x/vpurse/genesis.go
  golang/cosmos/x/vpurse/types/genesis.pb.go
  packages/SwingSet/src/gc-and-finalize.js
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/set-defaults.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/vats/src/bootstrap.js
  packages/vats/src/vat-bank.js
  packages/vats/src/virtual-purse.js
  packages/vats/test/test-vat-bank.js
  packages/vats/test/test-vpurse.js
  packages/xsnap/test/gc.js
Labels: SwingSet, cosmic-swingset, deployment

#3177 refactor(zoe): create instanceAdminStorage and move it into the zoeStorageManager
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/instanceAdminStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/test-instanceStorage.js
  packages/zoe/test/unitTests/test-issuerStorage.js
  packages/zoe/test/unitTests/zoe/test-instanceAdminStorage.js
Labels: Zoe

#3199 Move transcripts out of key-value store and into stream stores
  packages/SwingSet/bin/extract-transcript-from-kerneldb.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-gc-transcript.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-replay.js
  packages/swing-store-lmdb/src/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/.gitignore
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement

#3211 Remove cosmic-swingset's no-LMDB fallback thing
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/check-lmdb.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/solo/src/reset-state.js
  packages/solo/src/start.js
Labels: cosmic-swingset

#3195 refactor(swingset): replace queueToExport to queueToKref
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-kernel.js
Labels: SwingSet

#3216 feat: new access-token package for encapsulation from swing-store
  package.json
  packages/access-token/.eslintignore
  packages/access-token/.esmrc.json
  packages/access-token/.gitignore
  packages/access-token/.prettierignore
  packages/access-token/CHANGELOG.md
  packages/access-token/LICENSE
  packages/access-token/package.json
  packages/access-token/src/access-token.js
  packages/access-token/src/json-store.js
  packages/access-token/test/test-state.js
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/open.js
  packages/agoric-cli/package.json
  packages/solo/package.json
  packages/solo/src/web.js
  packages/solo/test/captp-fixture.js
Labels: agoric-cli

#3214 Remove .jsonlines hack from simple swing store
  package.json
  packages/access-token/.eslintignore
  packages/access-token/.esmrc.json
  packages/access-token/.gitignore
  packages/access-token/.prettierignore
  packages/access-token/CHANGELOG.md
  packages/access-token/LICENSE
  packages/access-token/package.json
  packages/access-token/src/access-token.js
  packages/access-token/src/json-store.js
  packages/access-token/test/test-state.js
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/open.js
  packages/agoric-cli/package.json
  packages/solo/package.json
  packages/solo/src/web.js
  packages/solo/test/captp-fixture.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/src/kerneldump.js
Labels: enhancement, hygiene
