Repository Agoric/agoric-sdk, pull requests merged in 2021-08, with the labels that each got.

#3576 Feat: Add private arguments to contract `start` functions, via E(zoe).startInstance
  packages/zoe/src/contractFacet/internal-types.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/vatRoot.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/privateArgsUsageContract.js
  packages/zoe/test/swingsetTests/privateArgs/bootstrap.js
  packages/zoe/test/swingsetTests/privateArgs/test-privateArgs.js
  packages/zoe/test/swingsetTests/privateArgs/vat-alice.js
  packages/zoe/test/swingsetTests/privateArgs/vat-zoe.js
Labels: Zoe

#3580 add "run policy" object to controller.run()
  packages/SwingSet/docs/run-policy.md
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/runPolicies.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/run-policy/test-run-policy.js
  packages/SwingSet/test/run-policy/vat-policy-left.js
  packages/SwingSet/test/run-policy/vat-policy-right.js
  packages/SwingSet/test/util.js
Labels: SwingSet

#3578 feat: allow users to pass offerArgs with their offer
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/test/offerArgsUsageContract.js
  packages/zoe/test/swingsetTests/offerArgs/bootstrap.js
  packages/zoe/test/swingsetTests/offerArgs/test-offerArgs.js
  packages/zoe/test/swingsetTests/offerArgs/vat-alice.js
  packages/zoe/test/swingsetTests/offerArgs/vat-zoe.js
Labels: Zoe

#3589 chore: add method to ZoeService to get Installation given Instance
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/instanceAdminStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/test-instanceStorage.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zoe/test-instanceAdminStorage.js
Labels: Zoe

#2978 refactor(xsnap): Externalize netstring IO dependency
  packages/xsnap/package.json
  packages/xsnap/src/netstring.js
  packages/xsnap/src/xsnap.js
  packages/xsnap/test/test-netstring.js
  yarn.lock
Labels: xsnap

#3615 fix: move the assertion that `allStagedSeatsUsed` into `reallocate`
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/test/unitTests/zcf/test-allStagedSeatsUsed.js
Labels: bug, Zoe

#3617 chore: delete outdated internal Zoe docs
  packages/zoe/docs/seats.md
  packages/zoe/docs/user-seat-exit-flow.png
  packages/zoe/docs/user-seat-exit-flow.puml
  packages/zoe/docs/zcf-reallocate-flow.png
  packages/zoe/docs/zcf-reallocate-flow.puml
  packages/zoe/docs/zcf-seat-exit-flow.png
  packages/zoe/docs/zcf-seat-exit-flow.puml
  packages/zoe/docs/zoe-catalog-of-storage.md
  packages/zoe/docs/zoe-zcf.md
  packages/zoe/docs/zoe-zcf.png
  packages/zoe/docs/zoe-zcf.puml
Labels: Zoe

#3618 fix(xsnap): tolerate Symbols in console.log() arguments
  packages/xsnap/lib/console-shim.js
  packages/xsnap/test/test-boot-lockdown.js
Labels: xsnap

#3610 chore(swingset): basic fixes to docs/liveslots.md
  packages/SwingSet/docs/liveslots.md
Labels: SwingSet

#3604 fix: Treasury burn debt repayment before zeroing the amount owed
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: bug, Beta, Core Economy, treasury

#3611 feat(solo): accept $SOLO_SLOGFILE to write a slogfile
  packages/solo/src/start.js
Labels: solo

#3614 fix(agoric-cli): use 'yarn workspaces' instead of hard-coded list
  packages/agoric-cli/lib/install.js
Labels: agoric-cli

#3625 expose hash of kernel state changes as "activityhash"
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hasher.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-hasher.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
Labels: SwingSet

#3626 feat(cosmic-swingset): add swingset 'crankhash' to state vector
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
Labels: cosmic-swingset

#3667 exclude liveslots deserialization code from metering
  packages/SwingSet/docs/liveslots.md
  packages/SwingSet/src/kernel/dummyMeterControl.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-marshal.js
  packages/SwingSet/test/test-metering-control.js
Labels: SwingSet

#3679 chore: drop unused function in treasury
  packages/treasury/src/make-empty.js
Labels: hygiene, XSmall, Beta, technical-debt, treasury

#3690 chore: specify fees in invitations and if present, charge those fees
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/treasury/src/stablecoinMachine.js
  packages/zoe/src/constants.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/offer/burnInvitation.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-feeCharged.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/newSwap/test-newSwap-swap.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zoe/test-burnInvitation.js
  packages/zoe/test/unitTests/zoe/test-makeInvitation.js
Labels: Zoe

#3695 Fix chain again
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/keeper_test.go
  golang/cosmos/x/swingset/keeper/querier.go
  packages/agoric-cli/jsconfig.json
  packages/agoric-cli/lib/cosmos.js
  packages/agoric-cli/lib/helpers.js
  packages/agoric-cli/lib/start.js
  packages/agoric-cli/package.json
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/test/test-make.js
  packages/solo/src/chain-cosmos-sdk.js
  packages/solo/src/init-basedir.js
Labels: cosmic-swingset

#3697 chore(swingset): add tool to measure+display metering usage
  packages/SwingSet/tools/measure-metering/measure.js
  packages/SwingSet/tools/measure-metering/measurement-bootstrap.js
  packages/SwingSet/tools/measure-metering/measurement-target.js
  packages/SwingSet/tools/measure-metering/measurement-zoe.js
Labels: SwingSet, metering

#3693 WIP: all CI tests pass, dapps are updated
  .github/workflows/integration.yml
  packages/ERTP/src/paymentLedger.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/lib-dehydrate.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-getPursesNotifier.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/pegasus/bundles/install-on-chain.js
  packages/solo/package.json
  packages/solo/test/test-home.js
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/test/test-bootstrapPayment.js
  packages/vats/src/bootstrap.js
  packages/vats/src/issuers.js
  packages/vats/src/vat-zoe.js
  packages/zoe/src/zoeService/feePurse.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/contracts/attestation/returnableNFT/test-userFlow.js
Labels: Zoe

#3656 fix: return funds from liquidation via a seat payout
  packages/treasury/src/liquidation.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/swingsetTests/vat-alice.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: bug, Zoe Contract, Core Economy, treasury

#3719 fix(swingset): make test-controller less sensitive to source changes
  packages/SwingSet/test/test-controller.js
Labels: SwingSet

#3721 fix(swingset): record cranks and crankhash/activityhash in slog
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#3723 fix(swingset): commit crank-buffer after every c.step/c.run
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/test-activityhash-vs-start.js
  packages/SwingSet/test/vat-empty-setup.js
Labels: SwingSet

#3727 fix(swingset): comms initialization check must be deterministic
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/test-activityhash-vs-start.js
  packages/SwingSet/test/test-comms.js
  packages/SwingSet/test/vat-activityhash-comms.js
Labels: SwingSet

#3728 Misc cleanups needed for chain deploy
  golang/cosmos/x/swingset/keeper/grpc_query.go
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/solo/src/chain-cosmos-sdk.js
Labels: cosmic-swingset, agoric-cli, hygiene

#3677 feat!: add required rounding modes to ratio APIs
  packages/governance/test/test-param-manager.js
  packages/treasury/test/swingsetTests/vat-owner.js
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-vault-interest.js
  packages/vats/src/bootstrap.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/test/unitTests/contractSupport/test-ratio.js
Labels: enhancement, hygiene, Small, Beta, Core Economy, code-style, technical-debt, devex, treasury

#3681 Use Ratio operations with explicitly rounding
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/test/unitTests/contractSupport/test-percentSupport.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-updateDebt.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
Labels: hygiene, XSmall, Beta, Zoe Contract, technical-debt

#3737 Display wallet fees
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/deployment/src/main.js
  packages/solo/src/chain-cosmos-sdk.js
Labels: wallet

#3740 fix(cosmos): ensure simulated transactions can't trigger SwingSet
  golang/cosmos/app/app.go
  golang/cosmos/vm/controller.go
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/handler.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/msg_server.go
  golang/cosmos/x/swingset/storage.go
  golang/cosmos/x/vbank/handler.go
  golang/cosmos/x/vbank/keeper/keeper.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vbank/vbank.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vibc/handler.go
  golang/cosmos/x/vibc/ibc.go
  golang/cosmos/x/vibc/keeper/keeper.go
Labels: cosmic-swingset

#3745 chore(release): publish 8.1.3
  CHANGELOG.md
  golang/cosmos/CHANGELOG.md
  golang/cosmos/app/app.go
  golang/cosmos/package.json
  golang/cosmos/vm/controller.go
  golang/cosmos/vm/height.go
  golang/cosmos/x/swingset/handler.go
  golang/cosmos/x/swingset/storage.go
  golang/cosmos/x/vbank/handler.go
  golang/cosmos/x/vibc/handler.go
  golang/cosmos/x/vibc/ibc.go
  package.json
  packages/cosmic-swingset/CHANGELOG.md
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/CHANGELOG.md
  packages/dapp-svelte-wallet/api/CHANGELOG.md
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/package.json
  packages/dapp-svelte-wallet/ui/CHANGELOG.md
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/src/Transaction.svelte
  packages/deploy-script-support/CHANGELOG.md
  packages/deploy-script-support/package.json
  packages/deployment/CHANGELOG.md
  packages/deployment/package.json
  packages/deployment/src/main.js
  packages/pegasus/CHANGELOG.md
  packages/pegasus/package.json
  packages/solo/CHANGELOG.md
  packages/solo/package.json
  packages/solo/src/chain-cosmos-sdk.js
  packages/treasury/CHANGELOG.md
  packages/treasury/package.json
  packages/vats/CHANGELOG.md
  packages/vats/package.json
Labels: tooling

#3747 fix(solo): make solo-to-chain more robust
  packages/solo/src/chain-cosmos-sdk.js
Labels: solo

#3744 Cosmos bootstrap block is not a simulation
  golang/cosmos/app/app.go
  golang/cosmos/vm/height.go
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/msg_server.go
  golang/cosmos/x/vbank/keeper/keeper.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vbank/vbank.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vibc/handler.go
  golang/cosmos/x/vibc/ibc.go
  golang/cosmos/x/vibc/keeper/keeper.go
Labels: cosmic-swingset

#3714 Attacker's guide to governance
  packages/governance/docs/AttackGuide.md
Labels: documentation, security, Governance

#3753 Clean up organization of swing-store code
  .github/workflows/test-all-packages.yml
  package.json
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/test-activityhash-vs-start.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-replay.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
  packages/SwingSet/tools/db-delete.js
  packages/SwingSet/tools/db-get.js
  packages/SwingSet/tools/db-set.js
  packages/SwingSet/tools/rekernelize.js
  packages/SwingSet/tools/replace-bundle.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/launch-chain.js
  packages/solo/package.json
  packages/solo/src/reset-state.js
  packages/solo/src/start.js
  packages/solo/test/test-xsnap-store.js
  packages/swing-store-simple/.eslintignore
  packages/swing-store-simple/.gitignore
  packages/swing-store-simple/.prettierignore
  packages/swing-store-simple/CHANGELOG.md
  packages/swing-store-simple/LICENSE
  packages/swing-store-simple/ava-nesm.config.js
  packages/swing-store-simple/jsconfig.json
  packages/swing-store-simple/package.json
  packages/swing-store-simple/test/test-state.js
  packages/swing-store/.eslintignore
  packages/swing-store/.gitignore
  packages/swing-store/.prettierignore
  packages/swing-store/CHANGELOG.md
  packages/swing-store/LICENSE
  packages/swing-store/jsconfig.json
  packages/swing-store/package.json
  packages/swing-store/src/ephemeralSwingStore.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/sqlStreamStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/test/test-snapstore.js
  packages/swing-store/test/test-state.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, hygiene
