Repository Agoric/agoric-sdk, pull requests merged in 2021-09, with the labels that each got.

#3786 Test with Node.js 16.x and fix breaking changes
  .github/workflows/test-all-packages.yml
  package.json
  packages/SwingSet/package.json
  packages/access-token/test/test-state.js
  packages/cosmic-swingset/package.json
  packages/solo/package.json
  packages/swing-store/package.json
  packages/swing-store/src/swingStore.js
  packages/swing-store/test/test-state.js
  packages/swingset-runner/package.json
  packages/swingset-runner/test/test-demo.js
  packages/transform-metering/package.json
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
  yarn.lock
Labels: tooling

#3798 docs(env): first cut at describing SDK environment variables
  env.md
Labels: documentation, help wanted, hygiene

#3799 Implement less solo overhead, part 1
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/querier.go
  golang/cosmos/x/swingset/types/events.go
  packages/solo/src/chain-cosmos-sdk.js
Labels: cosmic-swingset

#3807 refactor(solo): don't use `ag-cosmos-helper` for solo queries
  packages/solo/src/chain-cosmos-sdk.js
Labels: hygiene, solo

#3808 Mitigate more ag-solo robustness issues
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/deploy.js
  packages/agoric-cli/lib/entrypoint.js
  packages/dapp-svelte-wallet/api/deploy.js
  packages/solo/src/captp.js
  packages/solo/src/scratch.js
Labels: captp, agoric-cli, wallet

#3813 test(xsnap): round-trip byte sequences from Golang for dynamic IBC
  packages/xsnap/test/test-xs-js.js
Labels: xsnap

#3811 fix!: improve error message when a purse is overdrawn
  packages/ERTP/src/paymentLedger.js
  packages/ERTP/test/unitTests/test-issuerObj.js
Labels: ERTP

#3796 Only use ABCI write lock when persistent data changes
  go.mod
  go.sum
  packages/cosmic-swingset/perf.sh
Labels: cosmic-swingset, performance

#3826 chore(vats): use polycrc@1.1.0 since Agoric changes landed upstream
  packages/vats/package.json
  yarn.lock
Labels: hygiene

#3831 Fixes to the Solo for Demo
  packages/agoric-cli/lib/start.js
  packages/deployment/Makefile
  packages/solo/src/chain-cosmos-sdk.js
Labels: wallet, solo

#3838 fix(solo): don't enforce origin identity; we have access tokens
  packages/solo/src/web.js
Labels: security, solo

#3853 Renovate timer services
  packages/SwingSet/docs/timer.md
  packages/SwingSet/src/devices/timer-src.js
  packages/SwingSet/src/vats/types.js
  packages/SwingSet/src/vats/vat-timerWrapper.js
  packages/cosmic-swingset/TimerService.md
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/start.js
  packages/solo/test/test-home.js
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/manualTimer.js
  packages/zoe/tools/manualTimer.js
Labels: notifier

#3858 fix: fix bug which breaks rights conservation and offer safety guarantees
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/test/unitTests/zcf/test-reallocateForZCFMint.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe

#3841 feat(solo): make client objects appear earlier, parallelise chain
  packages/agoric-cli/lib/main.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/start.js
  packages/solo/src/vat-http.js
  packages/vats/src/bootstrap.js
  packages/vats/src/vat-provisioning.js
Labels: solo

#3872 Make `stat-logger` dependencies on vega+node-canvas dynamic
  .github/workflows/test-all-packages.yml
  packages/stat-logger/README.md
  packages/stat-logger/package.json
  packages/stat-logger/patches/d3-color+2.0.0.patch
  packages/stat-logger/patches/vega-util+1.16.0.patch
  packages/stat-logger/src/statGraph.js
  yarn.lock
Labels: tooling, hygiene

#3875 Deployment fixes
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-validators/tasks/main.yml
Labels: deployment

#3789 chore: consolidate and add a collection of swingset analysis tools
  packages/SwingSet/.eslintignore
  packages/SwingSet/.prettierignore
  packages/SwingSet/bin/rekernelize
  packages/SwingSet/misc-tools/README-analysis-tools.md
  packages/SwingSet/misc-tools/count-mint-exports.py
  packages/SwingSet/misc-tools/db-delete.js
  packages/SwingSet/misc-tools/db-dump.js
  packages/SwingSet/misc-tools/db-get.js
  packages/SwingSet/misc-tools/db-set.js
  packages/SwingSet/misc-tools/dump-slog.py
  packages/SwingSet/misc-tools/estimate-heap.py
  packages/SwingSet/misc-tools/extract-block.py
  packages/SwingSet/misc-tools/extract-msgs.py
  packages/SwingSet/misc-tools/extract-transcript-from-kerneldb.js
  packages/SwingSet/misc-tools/extract-transcript-from-slogfile.js
  packages/SwingSet/misc-tools/find-last-v5-use.py
  packages/SwingSet/misc-tools/find-leaks.py
  packages/SwingSet/misc-tools/find_activity.py
  packages/SwingSet/misc-tools/import-export.py
  packages/SwingSet/misc-tools/measure-metering/measure.js
  packages/SwingSet/misc-tools/measure-metering/measurement-bootstrap.js
  packages/SwingSet/misc-tools/measure-metering/measurement-target.js
  packages/SwingSet/misc-tools/measure-metering/measurement-zoe.js
  packages/SwingSet/misc-tools/mint-gca.py
  packages/SwingSet/misc-tools/monitor-slog-block-time.py
  packages/SwingSet/misc-tools/parse-keys.py
  packages/SwingSet/misc-tools/parse-keys2.py
  packages/SwingSet/misc-tools/rekernelize.js
  packages/SwingSet/misc-tools/replace-bundle.js
  packages/SwingSet/misc-tools/replay-transcript.js
  packages/SwingSet/misc-tools/vat-map.py
  packages/SwingSet/misc-tools/vat-stats.js
  packages/SwingSet/misc-tools/vattp-computrons.py
Labels: SwingSet

#3479 fix(SwingSet): improve slogging during replay
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/vatManager/vat-warehouse.js
  packages/SwingSet/src/types.js
Labels: SwingSet

#3842 feat(wallet-backend): attach timestamp and sequence metadata
  MAINTAINERS.md
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/dapp-svelte-wallet/api/src/issuerTable.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: wallet

#3771 Constant product
  packages/zoe/src/contracts/constantProduct/README.md
  packages/zoe/src/contracts/constantProduct/calcFees.js
  packages/zoe/src/contracts/constantProduct/calcSwapPrices.js
  packages/zoe/src/contracts/constantProduct/core.js
  packages/zoe/src/contracts/constantProduct/defaults.js
  packages/zoe/src/contracts/constantProduct/getXY.js
  packages/zoe/src/contracts/constantProduct/internal-types.js
  packages/zoe/src/contracts/constantProduct/invariants.js
  packages/zoe/src/contracts/constantProduct/swap.js
  packages/zoe/src/contracts/constantProduct/types.js
  packages/zoe/test/unitTests/contracts/constantProduct/setupMints.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-calcDeltaX.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-calcDeltaY.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-checkInvariants.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-compareBondingCurves.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-compareNewSwapPrice.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-getXY.js
  packages/zoe/test/unitTests/contracts/constantProduct/test-swapScenarios.js
Labels: enhancement, Medium, Beta, Core Economy, AMM
