Repository Agoric/agoric-sdk, pull requests merged in 2021-03, with the labels that each got.

#2441 refactor: remove all unnecessary @ts-ignore annotations
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/vats/types.js
  packages/dapp-svelte-wallet/api/test/test-getPursesNotifier.js
  packages/deploy-script-support/test/unitTests/test-install.js
  packages/marshal/src/marshal.js
  packages/notifier/test/test-subscriber-examples.js
  packages/xsnap/lib/lockdown-shim.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/tools/manualTimer.js
Labels: hygiene

#2554 feat: push metrics from autobench
  .github/workflows/test-all-packages.yml
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/cosmic-swingset/lib/kernel-stats.js
  packages/deployment/main.js
  packages/swingset-runner/autobench
  packages/swingset-runner/src/push-metrics.js
Labels: swingset-runner

#2558 a helper for destructuring priceQuotes
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/priceQuote.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/test/unitTests/test-fakePriceAuthority.js
Labels: Risk: Low, XSmall, Zoe Contract

#2536 Use ratios
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/percent.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/test/unitTests/contractSupport/test-percentSupport.js
  packages/zoe/test/unitTests/contractSupport/test-ratio.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  packages/zoe/test/unitTests/contracts/loan/test-addCollateral.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-lend.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
  packages/zoe/test/unitTests/contracts/loan/test-updateDebt.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
Labels: Beta, Small, Zoe Contract

#2531 annotate ERTP with Data/Far
  packages/ERTP/src/displayInfo.js
  packages/ERTP/test/swingsetTests/splitPayments/bootstrap.js
  packages/ERTP/test/swingsetTests/splitPayments/vat-alice.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-strSetMathHelpers.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/ERTP/test/unitTests/test-mintObj.js
Labels: ERTP, captp

#2540 annotate zoe with Far/Data
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/src/contractFacet/fakeVatAdmin.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractSupport/percentMath.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/secondPriceAuction.js
  packages/zoe/src/contracts/automaticRefund.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/src/contracts/mintAndSellNFT.js
  packages/zoe/src/contracts/mintPayments.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/oracle.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/contracts/simpleExchange.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/autoswapJig.js
  packages/zoe/test/swingsetTests/brokenContracts/bootstrap.js
  packages/zoe/test/swingsetTests/brokenContracts/crashingAutoRefund.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-alice.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-zoe.js
  packages/zoe/test/swingsetTests/zoe-metering/bootstrap.js
  packages/zoe/test/swingsetTests/zoe-metering/infiniteTestLoop.js
  packages/zoe/test/swingsetTests/zoe-metering/testBuiltins.js
  packages/zoe/test/swingsetTests/zoe-metering/vat-zoe.js
  packages/zoe/test/swingsetTests/zoe/bootstrap.js
  packages/zoe/test/swingsetTests/zoe/vat-alice.js
  packages/zoe/test/swingsetTests/zoe/vat-bob.js
  packages/zoe/test/swingsetTests/zoe/vat-carol.js
  packages/zoe/test/swingsetTests/zoe/vat-dave.js
  packages/zoe/test/swingsetTests/zoe/vat-zoe.js
  packages/zoe/test/unitTests/bounty.js
  packages/zoe/test/unitTests/contractSupport/test-offerTo.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/loan/test-liquidate.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/contracts/test-oracle.js
  packages/zoe/test/unitTests/contracts/test-otcDesk.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/test/unitTests/contracts/throwInOfferHandler.js
  packages/zoe/test/unitTests/contracts/useObjExample.js
  packages/zoe/test/unitTests/test-cleanProposal.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/tools/manualTimer.js
Labels: Beta, Zoe, marshal, notifier

#2570 fix: don't keep autobench stats for multiple revisions
  packages/swingset-runner/src/push-metrics.js
Labels: swingset-runner

#2568 chore(captp): annotate everything with Far
  packages/captp/test/test-loopback.js
Labels: captp

#2569 fix(swingset): more Far/Data on the network vat
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
Labels: SwingSet

#2563 annotate swingset runner with Far/Data
  packages/swingset-runner/demo/encouragementBot/bootstrap.js
  packages/swingset-runner/demo/encouragementBot/vat-bot.js
  packages/swingset-runner/demo/encouragementBot/vat-user.js
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/src/vat-launcher.js
Labels: swingset-runner

#2488 refactor: use for-await-of in updateDebt.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
Labels: Zoe Contract, hygiene, notifier

#2564 fix(sharing-service): add Far to all pass-by-reference objects
  packages/sharing-service/package.json
  packages/sharing-service/src/sharedMap.js
  packages/sharing-service/src/sharing.js
  packages/sharing-service/test/swingsetTests/sharingService/bootstrap.js
  packages/sharing-service/test/swingsetTests/sharingService/vat-alice.js
  packages/sharing-service/test/swingsetTests/sharingService/vat-bob.js
  packages/sharing-service/test/swingsetTests/sharingService/vat-sharing.js
Labels: sharing-service

#2576 feat: default new purses to autodeposit
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
Labels: wallet

#2577 fix(zoe): add Far to periodObserver
  packages/zoe/src/contracts/loan/updateDebt.js
Labels: Zoe

#2565 fix(notifier): add Far/Data to notifier
  packages/notifier/package.json
  packages/notifier/src/notifier.js
  packages/notifier/src/subscriber.js
Labels: notifier

#2566 fix(spawner): add enough Far/Data to pass tests
  packages/spawner/package.json
  packages/spawner/src/contractHost.js
  packages/spawner/test/swingsetTests/contractHost/bootstrap.js
  packages/spawner/test/swingsetTests/contractHost/vat-alice.js
  packages/spawner/test/swingsetTests/contractHost/vat-bob.js
  packages/spawner/test/swingsetTests/contractHost/vat-fred.js
  packages/spawner/test/swingsetTests/contractHost/vat-host.js
  packages/spawner/test/swingsetTests/contractHost/vat-mint.js
Labels: spawner

#2515 Add zcf.assert which fails by shutting down the contract
  packages/assert/src/assert.js
  packages/assert/src/types.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: security

#2583 fix(agoric-cli): remove package links before running yarn install
  packages/agoric-cli/lib/install.js
Labels: agoric-cli

#2516 Fix redundant resolves in comms vat interaction
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist.js
Labels: SwingSet, bug

#2587 Clean up tools and diagnostic messages
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/vats/comms/cdebug.js
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist-xgress.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/swingset-runner/bin/runner-debug
  packages/swingset-runner/bin/slogulator
  packages/swingset-runner/src/slogulator.js
Labels: SwingSet, hygiene, swingset-runner

#2550 New SES typings
  packages/ERTP/jsconfig.json
  packages/SwingSet/jsconfig.json
  packages/assert/jsconfig.json
  packages/cosmic-swingset/jsconfig.json
  packages/dapp-svelte-wallet/api/jsconfig.json
  packages/deploy-script-support/jsconfig.json
  packages/marshal/jsconfig.json
  packages/notifier/jsconfig.json
  packages/promise-kit/jsconfig.json
  packages/store/jsconfig.json
  packages/store/src/types.js
Labels: hygiene

#2593 test(cosmic-swingset): more robustness around termination
  packages/cosmic-swingset/test/captp-fixture.js
  packages/cosmic-swingset/test/test-home.js
Labels: cosmic-swingset

#2595 'use jessie' detection with eslint and prettier
  packages/ERTP/package.json
  packages/agoric-cli/package.json
  packages/assert/package.json
  packages/captp/package.json
  packages/dapp-svelte-wallet/api/package.json
  packages/deploy-script-support/package.json
  packages/eslint-config/eslint-config.json
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/processors/use-jessie.js
  packages/import-manager/package.json
  packages/notifier/package.json
  packages/promise-kit/package.json
  packages/registrar/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/store/package.json
  packages/zoe/package.json
Labels: hygiene

#2561 feat: add static amountMath. Backwards compatible with old amountMath
  packages/ERTP/src/amountMath.js
  packages/ERTP/src/deprecatedAmountMath.js
  packages/ERTP/src/displayInfo.js
  packages/ERTP/src/index.js
  packages/ERTP/src/interfaces.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/localAmountMath.js
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/mathHelpers/setMathHelpers.js
  packages/ERTP/src/mathHelpers/strSetMathHelpers.js
  packages/ERTP/src/types.js
  packages/ERTP/test/swingsetTests/splitPayments/bootstrap.js
  packages/ERTP/test/swingsetTests/splitPayments/test-splitPayments.js
  packages/ERTP/test/swingsetTests/splitPayments/vat-alice.js
  packages/ERTP/test/unitTests/mathHelpers/mockBrand.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/ERTP/test/unitTests/mathHelpers/test-strSetMathHelpers.js
  packages/ERTP/test/unitTests/test-interfaces.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/ERTP/test/unitTests/test-mintObj.js
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/deploy-script-support/src/externalTypes.js
  packages/deploy-script-support/src/internalTypes.js
  packages/deploy-script-support/src/offer.js
  packages/deploy-script-support/src/saveLocalAmountMath.js
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contractFacet/offerSafety.js
  packages/zoe/src/contractFacet/rightsConservation.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/tools/fakePriceAuthority.js
Labels: Beta, ERTP

#2567 fix(cosmic-swingset): apply Far/Data everywhere I could think of
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-host.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-ibc.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-mints.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-network.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-priceAuthority.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-provisioning.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-registrar.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-sharing.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-uploads.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-zoe.js
  packages/cosmic-swingset/test/test-home.js
  packages/cosmic-swingset/test/unitTests/test-lib-board.js
Labels: cosmic-swingset

#2623 fix(swingset): allow Symbol.asyncIterator as a method name
  packages/SwingSet/docs/liveslots.md
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#2622 fix(marshal): serialize empty objects as data, not pass-by-reference
  packages/marshal/src/marshal.js
  packages/marshal/test/test-marshal-stringify.js
  packages/marshal/test/test-marshal.js
Labels: marshal

#2638 chore(cosmic-swingset): repl.js imports getInterfaceOf/etc
  packages/cosmic-swingset/lib/ag-solo/vats/repl.js
Labels: cosmic-swingset

#2639 fix(swingset): remove Far/Remotable/getInterfaceOf from vatPowers
  packages/SwingSet/docs/static-vats.md
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
Labels: SwingSet

#2645 fix(swingset): add exit/vatstore syscalls to non-local vat workers
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
Labels: SwingSet

#2649 fix: make separate 'test:xs' target, remove XS from 'test' target
  golang/cosmos/package.json
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/acorn-eventual-send/package.json
  packages/agoric-cli/package.json
  packages/assert/package.json
  packages/base64/package.json
  packages/bundle-source/package.json
  packages/captp/package.json
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/package.json
  packages/dapp-svelte-wallet/ui/package.json
  packages/deploy-script-support/package.json
  packages/deployment/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/eventual-send/package.json
  packages/import-bundle/package.json
  packages/import-manager/package.json
  packages/install-metering-and-ses/package.json
  packages/install-ses/package.json
  packages/marshal/package.json
  packages/notifier/package.json
  packages/promise-kit/package.json
  packages/registrar/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
  packages/store/package.json
  packages/swing-store-lmdb/package.json
  packages/swing-store-simple/package.json
  packages/swingset-runner/package.json
  packages/tame-metering/package.json
  packages/transform-eventual-send/package.json
  packages/transform-metering/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
Labels: tooling

#2641 provide 'gcTools' consistently across all vat worker types
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
Labels: SwingSet

#2651 chore: CI will run test:xs, but failures won't block PRs
  .github/workflows/test-all-packages.yml
Labels: tooling

#2669 chore: upgrade to Typescript 4.2
  package.json
  packages/SwingSet/src/capdata.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/src/vats/network/types.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/captp/lib/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/bridge.js
  packages/cosmic-swingset/lib/ag-solo/vats/ui-agent.js
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/dapp-svelte-wallet/api/src/lib-dehydrate.js
  packages/eslint-config/package.json
  packages/promise-kit/src/promiseKit.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/objArrayConversion.js
  packages/zoe/src/types.js
  yarn.lock
Labels: hygiene, tooling

#2616 add support for E.get()
  packages/agoric-cli/lib/deploy.js
  packages/captp/lib/captp.js
  packages/captp/test/test-disco.js
  packages/captp/test/test-loopback.js
  packages/cosmic-swingset/test/captp-fixture.js
  packages/cosmic-swingset/test/test-home.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/ui/src/captp.js
  packages/dapp-svelte-wallet/ui/src/store.js
  packages/deploy-script-support/src/helpers.js
  packages/eventual-send/src/E.js
  packages/eventual-send/src/index.d.ts
  packages/eventual-send/test/test-e.js
  packages/notifier/src/subscriber.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/swingsetTests/brokenContracts/vat-alice.js
Labels: Beta, Small, enhancement, eventual-send

#2677 fix: deploy-script-support tests
  .github/workflows/test-all-packages.yml
  packages/deploy-script-support/test/unitTests/test-assertOfferResult.js
  packages/deploy-script-support/test/unitTests/test-depositInvitation.js
  packages/deploy-script-support/test/unitTests/test-findInvitationAmount.js
  packages/deploy-script-support/test/unitTests/test-install.js
  packages/deploy-script-support/test/unitTests/test-offer.js
  packages/deploy-script-support/test/unitTests/test-resolvePathForLocalContract.js
  packages/deploy-script-support/test/unitTests/test-resolvePathForPackagedContract.js
  packages/deploy-script-support/test/unitTests/test-saveLocalAmountMaths.js
  packages/deploy-script-support/test/unitTests/test-startInstance.js
Labels: Beta, Dapp & UI Support

#2683 feat(xsnap): enable gc() in the start compartment
  packages/xsnap/src/xsnap.c
  packages/xsnap/test/test-xsnap.js
Labels: SwingSet

#2654 add syscall.dropImports, vatPowers.disavow
  packages/SwingSet/docs/configuration.md
  packages/SwingSet/docs/static-vats.md
  packages/SwingSet/docs/vat-worker.md
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/workers/bootstrap.js
  packages/SwingSet/test/workers/test-worker.js
  packages/SwingSet/test/workers/vat-target.js
Labels: SwingSet

#2690 Expose metrics via slogger
  golang/cosmos/x/dibc/ibc.go
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/metering.js
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/types.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/kernel-stats.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/xsnap/src/xsnap.js
Labels: SwingSet, cosmic-swingset

#2693 chore(assert): point to upstream sources
  packages/assert/src/assert.js
Labels: assert

#2665 chore: some type fixes made when type checking Zoe
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/base64/package.json
  packages/marshal/src/types.js
  packages/notifier/src/types.js
  yarn.lock
Labels: Beta

#2696 Have `yarn lint-fix` run ESLint --fix before Typescript checks
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/assert/package.json
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/ui/package.json
  packages/dapp-svelte-wallet/ui/src/captp.js
  packages/dapp-svelte-wallet/ui/src/display.js
  packages/dapp-svelte-wallet/ui/src/main.js
  packages/dapp-svelte-wallet/ui/src/store.js
  packages/dapp-svelte-wallet/ui/src/websocket.js
  packages/deploy-script-support/package.json
  packages/marshal/package.json
  packages/notifier/package.json
  packages/promise-kit/package.json
  packages/store/package.json
  packages/zoe/package.json
Labels: tooling

#2321 chore: add ui-components package
  .github/workflows/test-all-packages.yml
  .gitignore
  package.json
  packages/ui-components/.gitignore
  packages/ui-components/README.md
  packages/ui-components/babel.config.json
  packages/ui-components/exported.js
  packages/ui-components/jsconfig.json
  packages/ui-components/package.json
  packages/ui-components/src/components/NatAmountInput.js
  packages/ui-components/src/display/display.js
  packages/ui-components/src/display/natValue/helpers/captureNum.js
  packages/ui-components/src/display/natValue/helpers/roundToDecimalPlaces.js
  packages/ui-components/src/display/natValue/parseAsNat.js
  packages/ui-components/src/display/natValue/stringifyNat.js
  packages/ui-components/src/display/setValue/parseAsSet.js
  packages/ui-components/src/display/setValue/stringifySet.js
  packages/ui-components/src/index.js
  packages/ui-components/test/_setup-enzyme-adapter.js
  packages/ui-components/test/components/test-NatAmountInput.js
  packages/ui-components/test/display/natValue/test-captureNum.js
  packages/ui-components/test/display/natValue/test-parseAsNat.js
  packages/ui-components/test/display/natValue/test-roundToDecimalPlaces.js
  packages/ui-components/test/display/natValue/test-stringifyNat.js
  packages/ui-components/test/display/setValue/test-parseAsSet.js
  packages/ui-components/test/display/setValue/test-stringifySet.js
  packages/ui-components/test/display/test-display.js
  yarn.lock
Labels: Beta, Dapp & UI Support

#2699 Correct minor error found by typechecking
  packages/SwingSet/src/kernel/virtualObjectManager.js
Labels: SwingSet, hygiene

#2656 add (dummy) dispatch.dropExports to liveslots, test that it can be called
  packages/SwingSet/docs/vat-worker.md
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/test-comms.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#2702 Implement message sequence number in comms protocol
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet, enhancement

#2700 fix(kernel-stats): don't record Prometheus vatID labels
  packages/cosmic-swingset/lib/kernel-stats.js
Labels: cosmic-swingset

#2710 feat: introduce separate roles for deployment placements
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/set-defaults.js
  packages/cosmic-swingset/test/test-home.js
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/init.js
  packages/deployment/main.js
  packages/deployment/terraform/digitalocean/cluster/main.tf
  packages/deployment/terraform/digitalocean/cluster/variables.tf
  packages/deployment/terraform/digitalocean/main.tf
  packages/deployment/terraform/docker/cluster/main.tf
  packages/deployment/terraform/docker/cluster/variables.tf
  packages/deployment/terraform/docker/main.tf
Labels: deployment

#2739 feat: introduce @agoric/treasury and pass tests
  .github/workflows/test-all-packages.yml
  package.json
  packages/treasury/NEWS.md
  packages/treasury/exported.js
  packages/treasury/globals.d.ts
  packages/treasury/jsconfig.json
  packages/treasury/package.json
  packages/treasury/scripts/build-bundles.js
  packages/treasury/src/burn.js
  packages/treasury/src/interest.js
  packages/treasury/src/liquidateMinimum.js
  packages/treasury/src/liquidation.js
  packages/treasury/src/make-empty.js
  packages/treasury/src/makeTracer.js
  packages/treasury/src/prioritizedVaults.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/type-imports.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-prioritizedVaults.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/test-vault.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: Core Economy

#2750 Externalize the table of names to initialization records
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/issuers.js
Labels: Risk: Low, XSmall, code-style, deployment, enhancement, hygiene

#2747 finish moving to new amountMath in treasury
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/test-vault.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: Core Economy, Dapp & UI Support, ERTP, Risk: Low, Small, Zoe Contract

#2453 test: add assertAmountsEqual() helper
  packages/zoe/test/unitTests/contractSupport/test-percentMath.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/test-atomicSwap.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/test-fakePriceAuthority.js
  packages/zoe/test/unitTests/test-testHelpers.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/zoeTestHelpers.js
Labels: Small, enhancement, hygiene, test

#2755 remove distracting comments in Treasury code
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
Labels: Beta, XSmall, code-style, hygiene

#2762 Price requests for empty amounts should get zero as an answer
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/test/unitTests/contracts/test-autoswap.js
  packages/zoe/test/unitTests/contracts/test-autoswapPool.js
Labels: Small, Zoe Contract, bug

#2761 feat: add collateralConfig to issuer entries and enact
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/issuers.js
  packages/treasury/bundles/install-on-chain.js
Labels: cosmic-swingset
