Repository Agoric/agoric-sdk, pull requests merged in 2021-01, with the labels that each got.

#2153 chore: add default empty MOE purse in wallet
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/test/test-home.js
Labels: Beta, cosmic-swingset, wallet

#2161 Fixes to get Pegasus builds to pass again
  .github/workflows/test-dapp-pegasus.yml
  go.sum
  golang/cosmos/Makefile
  golang/cosmos/package.json
  packages/agoric-cli/lib/install.js
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/zoe/package.json
Labels: agoric-cli, cosmic-swingset, hygiene

#2117 chore: create "deploy-script-support" package
  package.json
  packages/agoric-cli/package.json
  packages/bundle-source/exported.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/bundle-source/src/types.js
  packages/cosmic-swingset/exported.js
  packages/cosmic-swingset/lib/ag-solo/vats/lib-board.js
  packages/cosmic-swingset/lib/ag-solo/vats/types.js
  packages/dapp-svelte-wallet/api/exported.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/deploy-script-support/.gitignore
  packages/deploy-script-support/CHANGELOG.md
  packages/deploy-script-support/CONTRIBUTING.md
  packages/deploy-script-support/LICENSE
  packages/deploy-script-support/NEWS.md
  packages/deploy-script-support/README.md
  packages/deploy-script-support/exported.js
  packages/deploy-script-support/jsconfig.json
  packages/deploy-script-support/package.json
  packages/deploy-script-support/src/assertOfferResult.js
  packages/deploy-script-support/src/depositInvitation.js
  packages/deploy-script-support/src/externalTypes.js
  packages/deploy-script-support/src/helpers.js
  packages/deploy-script-support/src/install.js
  packages/deploy-script-support/src/internalTypes.js
  packages/deploy-script-support/src/offer.js
  packages/deploy-script-support/src/resolvePath.js
  packages/deploy-script-support/src/saveIssuer.js
  packages/deploy-script-support/src/saveLocalAmountMath.js
  packages/deploy-script-support/src/startInstance.js
  packages/deploy-script-support/test/unitTests/test-assertOfferResult.js
  packages/deploy-script-support/test/unitTests/test-depositInvitation.js
  packages/deploy-script-support/test/unitTests/test-findInvitationAmount.js
  packages/deploy-script-support/test/unitTests/test-install.js
  packages/deploy-script-support/test/unitTests/test-offer.js
  packages/deploy-script-support/test/unitTests/test-resolvePathForLocalContract.js
  packages/deploy-script-support/test/unitTests/test-resolvePathForPackagedContract.js
  packages/deploy-script-support/test/unitTests/test-saveLocalAmountMaths.js
  packages/deploy-script-support/test/unitTests/test-startInstance.js
Labels: DemoDay, wallet

#2173 fix: wire through the actual CapTP bootstrap message
  packages/captp/lib/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/captp.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-http.js
  packages/dapp-svelte-wallet/api/src/wallet.js
Labels: DemoDay, captp, cosmic-swingset

#2175 chore: add `getZoe` & `getBoard`
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: wallet

#2176 chore: getUINotifier before offer accepted.
  packages/dapp-svelte-wallet/api/src/findOrMakeInvitation.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: wallet

#2183 chore: add getBrandPetnames to walletBridge
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/dapp-svelte-wallet/api/src/wallet.js
Labels: wallet

#2179 feat: allow $NO_FAKE_CURRENCIES=1 to eliminate default purses
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/chain-main.js
Labels: DemoDay, cosmic-swingset

#2189 feat: add displayInfo as a parameter to makeZcfMint.
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: DemoDay, Zoe, wallet

#2200 chore: de-duplicate the zoe contract types and make them more organized
  packages/zoe/src/contracts/exported.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/priceAggregatorTypes.js
  packages/zoe/src/contracts/types.js
Labels: Zoe

#2143 feat: add a notifier to the timerService
  packages/SwingSet/docs/timer.md
  packages/SwingSet/exported.js
  packages/SwingSet/package.json
  packages/SwingSet/src/devices/timer-src.js
  packages/SwingSet/src/vats/types.js
  packages/SwingSet/src/vats/vat-timerWrapper.js
  packages/SwingSet/test/timer-device/bootstrap.js
  packages/cosmic-swingset/TimerService.md
  packages/cosmic-swingset/test/test-home.js
  packages/zoe/exported.js
  packages/zoe/package.json
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/test/unitTests/test-manualTimer.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/manualTimer.js
  packages/zoe/tools/priceAuthorityRegistry.js
  packages/zoe/tools/types.js
Labels: SwingSet, enhancement, notifier

#2198 fix: off-by-one: minimum positive result of getOutputPrice() is 1
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/test/autoswapJig.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/test/unitTests/contractSupport/test-bondingCurves.js
Labels: Small, bug

#2215 enable and test all manager types
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/nodeWorker.js
  packages/SwingSet/src/kernel/vatManager/worker-subprocess-node.js
  packages/SwingSet/test/workers/test-worker.js
Labels: SwingSet

#2217 improve test-worker.js to exercise all worker types, and syscall.callNow
  packages/SwingSet/test/workers/bootstrap.js
  packages/SwingSet/test/workers/device-add.js
  packages/SwingSet/test/workers/test-worker.js
  packages/SwingSet/test/workers/vat-target.js
Labels: SwingSet

#2241 chore: pass invitation as property in `addOffer`
  packages/dapp-svelte-wallet/api/src/findOrMakeInvitation.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
Labels: wallet

#2166 fix: multipoolAutoswap was calculating output prices incorrectly.
  packages/zoe/src/contracts/multipoolAutoswap/getCurrentPrice.js
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/test/unitTests/contracts/test-autoswapPool.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Small, Zoe, bug, test

#2253 test: use absolute pathname in calls to loadBasedir()
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
Labels: SwingSet

#2246 chore: timerRepeater.schedule() returns timestamp; add type & test
  packages/SwingSet/src/vats/types.js
  packages/SwingSet/test/timer-device/bootstrap.js
  packages/SwingSet/test/timer-device/test-device.js
  packages/zoe/tools/manualTimer.js
Labels: SwingSet, XSmall, test

#2265 refactor: percents support values > 1, enforce consistent brand
  packages/zoe/src/contractSupport/percentMath.js
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/test/unitTests/contractSupport/test-percentMath.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  packages/zoe/test/unitTests/contracts/loan/test-addCollateral.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
  packages/zoe/test/unitTests/contracts/test-callSpread-calculation.js
Labels: Beta, Zoe Contract

#2270 Update to Stargate v0.40.1
  .github/workflows/test-all-packages.yml
  go.mod
  go.sum
  golang/cosmos/app/app.go
  golang/cosmos/app/config.go
  golang/cosmos/app/encoding.go
  golang/cosmos/app/export.go
  golang/cosmos/app/genesis.go
  golang/cosmos/app/genesis_account.go
  golang/cosmos/app/helpers/test_helpers.go
  golang/cosmos/app/state.go
  golang/cosmos/app/types.go
  golang/cosmos/app/utils.go
  golang/cosmos/app/version_check.go
  golang/cosmos/cmd/helper/main.go
  golang/cosmos/daemon/cmd/genaccounts.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/daemon/cmd/testnet.go
  golang/cosmos/daemon/main.go
  golang/cosmos/x/dibc/keeper/keeper.go
  golang/cosmos/x/dibc/types/expected_keepers.go
  golang/cosmos/x/swingset/client/cli/query.go
  golang/cosmos/x/swingset/client/cli/tx.go
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/set-defaults.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/README.md
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/lib/anylogger-agoric.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/Dockerfile.sdk
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/main.js
  packages/tame-metering/src/tame.js
Labels: cosmic-swingset

#2048 Use architecture decision records
  docs/architecture/0001-record-architecture-decisions.md
  docs/architecture/adr-template.md
Labels: documentation
