Repository Agoric/agoric-sdk, pull requests merged in 2021-02, with the labels that each got.

#2300 add a test and correct collateral check in Loan contract.
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
Labels: XSmall, Zoe Contract, bug

#2144 refactor: change the Loan contract to use a Notifier
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/loan/types.js
  packages/zoe/src/contracts/loan/updateDebt.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  packages/zoe/test/unitTests/contracts/loan/test-loan-e2e.js
Labels: DemoDay, Zoe, notifier

#2327 fix: update dibc for cosmos-sdk v0.41.0
  golang/cosmos/Makefile
  golang/cosmos/app/app.go
  golang/cosmos/x/dibc/ibc.go
  golang/cosmos/x/dibc/keeper/keeper.go
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
Labels: cosmic-swingset

#2328 fix: limit number of kernel steps per block
  golang/cosmos/app/app.go
  golang/cosmos/x/dibc/ibc.go
  packages/cosmic-swingset/lib/ag-solo/vats/ibc.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2307 test: fix arguments passed to makeLiveSlots()
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#2337 fix: multipoolAutoswap should throw seat.fail() when it can't comply
  packages/zoe/src/contracts/loan/liquidate.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/test/unitTests/contracts/loan/test-liquidate.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Zoe Contract, bug

#2347 fix: increase testnet limit to allow more than 40 peers
  packages/deployment/ansible/roles/install-cosmos/tasks/main.yml
Labels: deployment

#2348 fix: remove unnecessary use of threads from Node-Golang bridge
  golang/cosmos/src/agcosmosdaemon-node.cc
Labels: cosmic-swingset

#2350 fix: take advantage of `/.../` being stripped from stack traces
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/bundle-source/src/index.js
  packages/bundle-source/test/test-sanity.js
Labels: SwingSet, bundle-source

#2358 Vat-side promise ID retirement
  packages/SwingSet/docs/vat-worker.md
  packages/SwingSet/src/kernel/cleanup.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/workers/test-worker.js
  packages/swingset-runner/demo/resolveCircular/annot.json
  packages/swingset-runner/demo/resolveCrosswise/annot.json
  packages/swingset-runner/src/dumpstore.js
Labels: SwingSet, enhancement

#1966 Add support for post-CI automated benchmarking
  .github/workflows/test-all-packages.yml
Labels: enhancement, swingset-runner, tooling

#2385 chore: fix JSDoc warnings
  packages/swing-store-lmdb/lmdbSwingStore.js
Labels: hygiene

#2384 feat: use xsnap worker CPU meter and start reporting consumption
  .github/workflows/test-all-packages.yml
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/types.js
  packages/xsnap/makefiles/lin/xsnap.mk
  packages/xsnap/makefiles/mac/xsnap.mk
  packages/xsnap/makefiles/win/xsnap.mak
  packages/xsnap/src/build.js
  packages/xsnap/src/netstring.js
  packages/xsnap/src/xsnap.c
  packages/xsnap/src/xsnap.js
  packages/xsnap/src/xsrepl
  packages/xsnap/src/xsrepl.js
  packages/xsnap/test/test-xsnap.js
Labels: metering

#2399 chore(swing-store-simple): update JSDoc to fix warnings
  packages/swing-store-simple/simpleSwingStore.js
Labels: hygiene

#2397 chore: format C/C++ files with some tooling support
  golang/cosmos/src/.clang-format
  golang/cosmos/src/agcosmosdaemon-node.cc
  packages/xsnap/src/xsnap.c
  packages/xsnap/src/xsnap.h
Labels: hygiene

#2401 test(bundle-source): don't repeat yourself
  packages/bundle-source/test/sanity.js
  packages/bundle-source/test/test-bigint-transform.js
  packages/bundle-source/test/test-sanity-unfiltered.js
  packages/bundle-source/test/test-sanity.js
Labels: bundle-source

#2394 fix: hush "replaying transcripts" message during swingset startup
  packages/SwingSet/src/kernel/kernel.js
Labels: Small, SwingSet

#2418 feat: prepare for widespread use of assert
  package.json
  packages/assert/src/types.js
  packages/deployment/ag-setup-cosmos
  packages/deployment/package.json
  packages/eslint-config/eslint-config.json
  packages/eslint-config/package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/lib/configs/recommended.js
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/rules/assert-fail-as-throw.js
  packages/eslint-plugin/package.json
  yarn.lock
Labels: tooling

#2306 test: add test cases to test-marshal.js for records
  packages/marshal/test/test-marshal.js
Labels: marshal

#2429 fix: remove crankNumber from transcript entries
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/transcript.js
  packages/SwingSet/test/test-kernel.js
Labels: SwingSet

#2392 test: hush logged Errors by using NonErrors
  packages/SwingSet/test/message-patterns.js
Labels: SwingSet

#2426 Get dynamic IBC working again
  golang/cosmos/app/app.go
  packages/cosmic-swingset/README-dibc.md
  packages/cosmic-swingset/bin/ag-nchainz
Labels: cosmic-swingset

#2434 export callSpread from contracts so Percent is visible
  packages/zoe/src/contracts/exported.js
Labels: enhancement

#2438 fix(marshal): reject getters in pass-by-ref, even if it returns a function
  packages/marshal/src/marshal.js
  packages/marshal/test/test-marshal.js
Labels: marshal

#2420 chore: Make Swingset use Nat 4.0.0
  packages/SwingSet/package.json
  packages/SwingSet/src/devices/command-src.js
  packages/SwingSet/src/devices/command.js
  packages/SwingSet/src/devices/mailbox-src.js
  packages/SwingSet/src/devices/mailbox.js
  packages/SwingSet/src/devices/timer-src.js
  packages/SwingSet/src/devices/timer.js
  packages/SwingSet/src/kernel/deviceSlots.js
  packages/SwingSet/src/kernel/id.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/parseKernelSlots.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/parseVatSlots.js
  packages/SwingSet/src/vats/comms/clist-xgress.js
  packages/SwingSet/src/vats/comms/controller.js
  packages/SwingSet/src/vats/comms/parseRemoteSlot.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/src/vats/vat-timerWrapper.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-kernel.js
  yarn.lock
Labels: Beta

#2443 Make resolution descriptions uniform everywhere
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet, hygiene

#2464 Protect testLog against BigInts
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet, bug, test

#2462 chore: convert ERTP to Nat 4.0.0
  packages/ERTP/package.json
  packages/ERTP/src/mathHelpers/natMathHelpers.js
  packages/ERTP/src/types.js
  packages/ERTP/test/swingsetTests/splitPayments/vat-alice.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/test-issuerObj.js
Labels: Beta, ERTP

#2493 agorictest-6 deployment fixes
  go.mod
  go.sum
  packages/deployment/Dockerfile
  packages/deployment/Makefile
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
Labels: cosmic-swingset, deployment

#2465 Encode '@qclass' using Hilbert Hotel encoding
  packages/marshal/src/marshal.js
  packages/marshal/src/types.js
  packages/marshal/test/test-marshal-stringify.js
  packages/marshal/test/test-marshal.js
Labels: security

#2492 refactor: fix up some types and reconcile use of bigint
  packages/zoe/src/contracts/priceAggregatorTypes.js
  packages/zoe/test/jsconfig.json
  packages/zoe/test/unitTests/contracts/test-oracle.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/test/unitTests/test-scriptedOracle.js
  packages/zoe/tools/scriptedOracle.js
Labels: Zoe Contract, test

#2508 Release tweaks
  packages/cosmic-swingset/lib/ag-solo/init-basedir.js
  scripts/get-released-tags
  yarn.lock
Labels: tooling

#2499 feat(marshal): add Data() to mark pass-by-copy empty objects
  packages/marshal/index.js
  packages/marshal/src/marshal.js
  packages/marshal/test/test-marshal.js
Labels: marshal

#2518 fix(slogger): do not harden the data being recorded
  packages/SwingSet/src/kernel/slogger.js
Labels: SwingSet

#2522 Prevent tests from installing like a kajillion unhandled rejection handlers
  packages/SwingSet/src/controller.js
Labels: SwingSet, bug, enhancement

#2527 fix: work around Firefox's lack of Error.stackTraceLimit
  packages/dapp-svelte-wallet/ui/src/install-ses-lockdown.js
Labels: wallet

#2539 Fix bug #2533, problem deleting virtual objects
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
Labels: SwingSet, bug

#2524 Support for calculation with Ratios
  packages/zoe/src/contractSupport/percentMath.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contracts/callSpread/percent.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/test/unitTests/contractSupport/test-percentSupport.js
  packages/zoe/test/unitTests/contractSupport/test-ratio.js
Labels: ERTP, Small, Zoe Contract

#2542 fix: properly pin the Moddable SDK version
  .github/workflows/docker.yml
  packages/deployment/Dockerfile.sdk
  packages/deployment/Makefile
  packages/xsnap/src/build.js
Labels: tooling
