Repository Agoric/agoric-sdk, pull requests merged in 2021-07, with the labels that each got.

#3432 Utility to replace kernel bundle in kernel DB
  packages/SwingSet/bin/rekernelize.js
Labels: SwingSet, enhancement, tooling

#3463 feat(cosmos): use agoric-labs/cosmos-sdk v0.43.0-rc0.agoric
  go.mod
  go.sum
  golang/cosmos/daemon/cmd/root.go
Labels: cosmic-swingset

#3455 Audit refcounts
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/test/definition/test-vat-definition.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-exomessages.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-transcriptlessness.js
  packages/SwingSet/test/test-vatstore.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-replay.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-weakcollections.js
  packages/swingset-runner/.gitignore
  packages/swingset-runner/src/auditstore.js
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, bug, enhancement, hygiene, swingset-runner

#3450 The beginnings of SwingSet consensus mode
  golang/cosmos/x/vbank/vbank.go
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/vat-warehouse.js
  packages/SwingSet/src/types.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
Labels: SwingSet, cosmic-swingset

#3452 Solo-to-Cosmos revamp
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/chain-cosmos-sdk.js
  packages/vats/src/batched-deliver.js
Labels: cosmic-swingset

#3171 TrapCaps for async host, synchronous guest relationships
  packages/captp/NEWS.md
  packages/captp/README.md
  packages/captp/SETUP-DELETEME.md
  packages/captp/jsconfig.json
  packages/captp/lib/captp.js
  packages/captp/lib/index.js
  packages/captp/package.json
  packages/captp/src/atomics.js
  packages/captp/src/captp.js
  packages/captp/src/index.js
  packages/captp/src/loopback.js
  packages/captp/src/trap.js
  packages/captp/src/ts-types.d.ts
  packages/captp/src/types.js
  packages/captp/test/test-crosstalk.js
  packages/captp/test/test-disco.js
  packages/captp/test/test-loopback.js
  packages/captp/test/test-trap.js
  packages/captp/test/traplib.js
  packages/captp/test/worker.cjs
  packages/captp/test/worker.js
  packages/eventual-send/src/E.js
  packages/marshal/src/marshal.js
  packages/marshal/src/types.js
  packages/solo/src/captp.js
Labels: captp

#3491 fix(cosmic-swingset): use BOOTSTRAP_BLOCK to avoid slog confusion
  golang/cosmos/x/swingset/genesis.go
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/src/block-manager.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/start.js
Labels: cosmic-swingset

#3490 fix(wallet): be more robust with claiming payments
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
Labels: wallet

#3489 Only format /dev/sda if we are deploying to DigitalOcean
  packages/deployment/ansible/roles/prereq/tasks/main.yml
  packages/deployment/src/main.js
Labels: deployment

#3506 chore(swingset): hush vat-warehouse announcement of vat load
  packages/SwingSet/src/kernel/vatManager/vat-warehouse.js
Labels: SwingSet

#3492 fix(swingset): don't deduplicate inbound mailbox messages
  packages/SwingSet/src/devices/mailbox-src.js
  packages/SwingSet/test/device-mailbox/bootstrap-device-mailbox.js
  packages/SwingSet/test/device-mailbox/test-device-mailbox.js
  packages/SwingSet/test/files-devices/bootstrap-2.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-vattp.js
Labels: SwingSet

#3486 fix(swingset): gcAndFinalize needs two post-GC setImmediates on V8
  packages/SwingSet/src/gc-and-finalize.js
  packages/SwingSet/test/test-gc-and-finalize.js
Labels: SwingSet

#3485 fix refcounts during comms addEgress
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist-xgress.js
  packages/SwingSet/src/vats/comms/gc-comms.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet

#3487 liveslots: don't pin the interior queueMessage promise
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/gc/bootstrap.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/SwingSet/test/gc/vat-fake-zoe.js
  packages/SwingSet/test/gc/vat-target.js
  packages/SwingSet/test/vat-controller-1.js
Labels: SwingSet

#3519 use metered=true on all dynamic vats, xs-worker on all swingset tests
  packages/ERTP/test/swingsetTests/basicFunctionality/test-basicFunctionality.js
  packages/ERTP/test/swingsetTests/splitPayments/test-splitPayments.js
  packages/governance/test/swingsetTests/committeeBinary/test-committee.js
  packages/sharing-service/test/swingsetTests/sharingService/test-sharing.js
  packages/spawner/src/contractHost.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/treasury/test/swingsetTests/test-treasury.js
  packages/zoe/src/zoeService/createZCFVat.js
  packages/zoe/test/swingsetTests/makeKind/test-makeKind.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: ERTP, Governance, SwingSet, Zoe, Zoe Contract, metering, spawner, treasury

#3511 cleanups in preparation for Meters
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#3522 feat(swingset)!: make dynamic vats unmetered by default
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
Labels: SwingSet, metering

#3523 feat(swingset)!: remove support for non-XS metering
  packages/SwingSet/bin/replay-transcript.js
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/metering.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/test/metering/grandchild.js
  packages/SwingSet/test/metering/install-global-metering.js
  packages/SwingSet/test/metering/metered-dynamic-vat.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-subcompartment.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/metering/test-metering.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/SwingSet/test/vat-admin/test-replay.js
Labels: SwingSet, metering

#3508 add Meters, assign to dynamic vats to track compute usage
  packages/SwingSet/docs/metering.md
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/kernel/vatManager/vat-warehouse.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/gc-dead-vat/bootstrap.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/util.js
  packages/pegasus/test/fakeVatAdmin.js
  packages/spawner/src/contractHost.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/vat-launcher.js
  packages/zoe/src/zoeService/createZCFVat.js
  packages/zoe/test/unitTests/zoe/test-createZCFVat.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: SwingSet, metering

#3504 Warn for remotables not declared Remotable or Far
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/vat-timerWrapper.js
  packages/SwingSet/test/test-network.js
  packages/SwingSet/test/test-timer-device.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-getPursesNotifier.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/marshal/src/passStyleOf.js
  packages/marshal/test/test-marshal-stringify.js
  packages/marshal/test/test-marshal.js
  packages/pegasus/src/pegasus.js
  packages/pegasus/test/test-peg.js
  packages/solo/src/captp.js
  packages/solo/src/scratch.js
  packages/solo/test/test-home.js
  packages/store/test/test-external-store.js
  packages/vats/src/bootstrap.js
  packages/vats/src/repl.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/test/unitTests/test-manualTimer.js
  packages/zoe/tools/fakePriceAuthority.js
Labels: hygiene

#3513 Virtual object garbage collection
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/vat-vom-gc-bob.js
  packages/SwingSet/test/virtualObjects/vat-vom-gc-bootstrap.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/swingset-runner/demo/vatStore3/bootstrap.js
  packages/swingset-runner/demo/vatStore3/vat-bob.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/slogulator.js
Labels: SwingSet, enhancement, swingset-runner

#3546 fix(swingset): make test less sensitive to changes in metering
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
Labels: SwingSet, metering

#3551 Cosmos upgrade to v0.43.0-rc2.agoric
  go.mod
  go.sum
  packages/access-token/src/json-store.js
  packages/solo/src/entrypoint.js
Labels: cosmic-swingset

#3561 Require that buildRootObject always returns a Far reference
  packages/SwingSet/src/kernel/liveSlots.js
Labels: SwingSet, enhancement

#3550 chore(swingset): add docs/images on comms garbage collection details
  packages/SwingSet/docs/garbage-collection.md
  packages/SwingSet/docs/images/gc/comms-drop-sequence.png
  packages/SwingSet/docs/images/gc/comms-import-chaining.png
  packages/SwingSet/docs/images/gc/comms-retire-sequence-downstream.png
  packages/SwingSet/docs/images/gc/comms-retire-sequence-upstream.png
  packages/SwingSet/docs/images/gc/gc-docs.graffle
Labels: SwingSet, documentation

#3566 Require virtual object selves to be declared Far
  packages/SwingSet/docs/virtual-objects.md
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/vat-vom-gc-bob.js
  packages/swingset-runner/demo/exchangeBenchmark/swingset.json
  packages/swingset-runner/demo/megaPong/vat-alice.js
  packages/swingset-runner/demo/megaPong/vat-bob.js
  packages/swingset-runner/demo/meterExhaustion/bootstrap.js
  packages/swingset-runner/demo/meterExhaustion/swingset.json
  packages/swingset-runner/demo/pingPongBenchmark/bootstrap.js
  packages/swingset-runner/demo/pingPongBenchmark/vat-alice.js
  packages/swingset-runner/demo/pingPongBenchmark/vat-bob.js
  packages/swingset-runner/demo/promiseChainBenchmark/bootstrap.js
  packages/swingset-runner/demo/promiseChainBenchmark/vat-bob.js
  packages/swingset-runner/demo/resolveChain/bootstrap.js
  packages/swingset-runner/demo/resolveChain/vat-bob.js
  packages/swingset-runner/demo/resolveCircular/vat-bob.js
  packages/swingset-runner/demo/resolveCircular2/vat-bob.js
  packages/swingset-runner/demo/resolveCircular3/vat-bob.js
  packages/swingset-runner/demo/resolveCircularMultiCrank/vat-bob.js
  packages/swingset-runner/demo/resolveCrosswise/vat-body.js
  packages/swingset-runner/demo/resolveDelayedPipeline/vat-bob.js
  packages/swingset-runner/demo/resolveIndirect/vat-bob.js
  packages/swingset-runner/demo/resolvePipelined/vat-bob.js
  packages/swingset-runner/demo/resolvePromiseComplicated/vat-bob.js
  packages/swingset-runner/demo/resolveSimpleCircular/vat-bob.js
  packages/swingset-runner/demo/resolveWithEmbeddedPromise/vat-bob.js
  packages/swingset-runner/demo/swapBenchmark/bootstrap.js
  packages/swingset-runner/demo/swapBenchmark/exchanger.js
  packages/swingset-runner/demo/swapBenchmark/swingset.json
  packages/swingset-runner/demo/terminateVat/bootstrap.js
  packages/swingset-runner/demo/vatFailure/bootstrap.js
  packages/swingset-runner/demo/vatResolveTest/bootstrap.js
  packages/swingset-runner/demo/vatResolveTest/vat-bob.js
  packages/swingset-runner/demo/vatResolveTestSimple/bootstrap.js
  packages/swingset-runner/demo/vatResolveTestSimple/vat-bob.js
  packages/swingset-runner/demo/vatStore1/vat-bob.js
  packages/swingset-runner/demo/vatStore2/bootstrap.js
  packages/swingset-runner/demo/vatStore2/thingHolder.js
  packages/swingset-runner/demo/vatStore3/vat-bob.js
  packages/swingset-runner/demo/zoeTests/bootstrap.js
  packages/swingset-runner/demo/zoeTests/manualTimer.js
  packages/swingset-runner/demo/zoeTests/swingset.json
  packages/swingset-runner/demo/zoeTests/vat-alice.js
  packages/swingset-runner/demo/zoeTests/vat-bob.js
  packages/swingset-runner/demo/zoeTests/vat-carol.js
  packages/swingset-runner/demo/zoeTests/vat-dave.js
Labels: SwingSet, bug
