Repository Agoric/agoric-sdk, pull requests merged in 2021-04, with the labels that each got.

#2777 Mutable trigger levels in PriceAuthority
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
Labels: Beta, Small, Zoe Contract

#2778 PriceAuthority for multipoolAutoswap
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/priceAuthority.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/test/unitTests/contracts/test-autoswapPool.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Beta, Small, Zoe Contract, enhancement

#2787 Update the default issuers/purses
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/issuers.js
  packages/cosmic-swingset/test/test-home.js
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/src/stablecoinMachine.js
Labels: Core Economy, cosmic-swingset

#2791 feat: use multipoolAutoswap as the treasury priceAuthority
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/treasury/src/stablecoinMachine.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/priceAuthority.js
Labels: Core Economy

#2794 Atomic chain bootstrap
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/issuers.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2790 Rename to BLD and RUN in Treasury
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/src/liquidateMinimum.js
  packages/treasury/src/liquidation.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/test-vault.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: Core Economy, Small, code-style, hygiene

#2802 Use priceAuthority's mutable trigger points in Treasury
  packages/treasury/src/liquidateMinimum.js
  packages/treasury/src/prioritizedVaults.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/test-prioritizedVaults.js
  packages/treasury/test/test-stablecoin.js
  packages/zoe/src/contracts/multipoolAutoswap/priceAuthority.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/priceAuthorityRegistry.js
  packages/zoe/tools/scriptedPriceAuthority.js
  packages/zoe/tools/types.js
Labels: Beta, Core Economy, Small, enhancement

#2815 Update install-on-chain to use RUN instead of SCONES
  packages/treasury/bundles/install-on-chain.js
Labels: Beta, bug

#2810 Add a method to multipoolAutoSwap to return the pool brands
  packages/zoe/src/contracts/multipoolAutoswap/multipoolAutoswap.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
Labels: Risk: Low, UI, XSmall, Zoe Contract

#2819 feat: use same (instrumented) kernel stepper for bootstrap
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2822 Interest calculation in treasury based on Annual rate
  packages/treasury/src/interest.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/vault-contract-wrapper.js
Labels: Beta, Core Economy, Small, XSmall

#2830 loanParams must be BigInt
  packages/treasury/bundles/install-on-chain.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/test/test-stablecoin.js
Labels: Beta, Core Economy, XSmall, bug

#2838 feat: have the wallet-bridge.html announce it was loaded
  packages/cosmic-swingset/lib/ag-solo/html/wallet-bridge.html
Labels: wallet

#2839 Remove incorrect assertion in multipoolAutoSwap priceAuthority
  packages/zoe/src/contracts/multipoolAutoswap/priceAuthority.js
  packages/zoe/test/unitTests/contracts/test-multipoolPriceAuthority.js
Labels: Beta, Core Economy, Small, Zoe Contract, bug

#2752 Support promise retirement in comms vat
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/test/commsVatDriver.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet, enhancement

#2853 Map wallet's bech32 address to its depositFacet
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/types.js
  packages/cosmic-swingset/lib/launch-chain.js
  packages/dapp-svelte-wallet/api/deploy.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/dapp-svelte-wallet/api/test/test-getPursesNotifier.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/dapp-svelte-wallet/ui/src/Contact.svelte
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/bondingCurves.js
Labels: wallet

#2835 Set initial loan fee to one basis point
  packages/cosmic-swingset/lib/ag-solo/vats/issuers.js
Labels: Beta, Core Economy, XSmall

#2834 Convert APR to appropriate rate for fine-grain compounding
  packages/treasury/src/interest.js
  packages/treasury/test/test-interest.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/vault-contract-wrapper.js
  packages/zoe/tools/manualTimer.js
  packages/zoe/tools/scriptedPriceAuthority.js
Labels: Beta, Core Economy, Small

#2862 Add missing syscalls to kernel stats collection
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/metrics.js
Labels: SwingSet, enhancement, hygiene

#2861 Working end-to-end of Keplr transferring muons to Pegasus
  go.mod
  go.sum
  golang/cosmos/app/app.go
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/vats/network/network.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/pegasus/demo.md
  packages/pegasus/src/pegasus.js
  packages/pegasus/src/types.js
  packages/pegasus/test/test-peg.js
Labels: pegasus

#2864 Wait for genesis time to pass before starting
  golang/cosmos/app/app.go
  golang/cosmos/x/swingset/genesis.go
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/launch-chain.js
  packages/pegasus/demo.md
Labels: cosmic-swingset

#2866 Publish 2.17.0
  CHANGELOG.md
  golang/cosmos/CHANGELOG.md
  golang/cosmos/package.json
  package.json
  packages/ERTP/CHANGELOG.md
  packages/ERTP/package.json
  packages/SwingSet/CHANGELOG.md
  packages/SwingSet/package.json
  packages/agoric-cli/CHANGELOG.md
  packages/agoric-cli/package.json
  packages/cosmic-swingset/CHANGELOG.md
  packages/cosmic-swingset/package.json
  packages/dapp-svelte-wallet/CHANGELOG.md
  packages/dapp-svelte-wallet/api/CHANGELOG.md
  packages/dapp-svelte-wallet/api/package.json
  packages/dapp-svelte-wallet/package.json
  packages/dapp-svelte-wallet/ui/CHANGELOG.md
  packages/dapp-svelte-wallet/ui/package.json
  packages/deploy-script-support/CHANGELOG.md
  packages/deploy-script-support/package.json
  packages/eventual-send/CHANGELOG.md
  packages/eventual-send/package.json
  packages/import-bundle/CHANGELOG.md
  packages/import-bundle/package.json
  packages/import-manager/CHANGELOG.md
  packages/import-manager/package.json
  packages/marshal/CHANGELOG.md
  packages/marshal/package.json
  packages/notifier/CHANGELOG.md
  packages/notifier/package.json
  packages/pegasus/CHANGELOG.md
  packages/pegasus/package.json
  packages/registrar/CHANGELOG.md
  packages/registrar/package.json
  packages/sharing-service/CHANGELOG.md
  packages/sharing-service/package.json
  packages/spawner/CHANGELOG.md
  packages/spawner/package.json
  packages/store/CHANGELOG.md
  packages/store/package.json
  packages/swingset-runner/CHANGELOG.md
  packages/swingset-runner/package.json
  packages/treasury/CHANGELOG.md
  packages/treasury/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
  packages/zoe/CHANGELOG.md
  packages/zoe/package.json
Labels: tooling

#2873 slog high-resolution timestamps, capture transcript replay timing
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
Labels: SwingSet

#2872 fix(swingset): recreateDynamicVat() waits for vat creation
  packages/SwingSet/src/kernel/loadVat.js
Labels: SwingSet

#2875 chore(CI): increase test-xs timeout from 20min to 30min
  .github/workflows/test-all-packages.yml
Labels: tooling

#2878 chore(swingset): update/delete some docs
  packages/SwingSet/docs/delivery.md
  packages/SwingSet/docs/design.md
Labels: SwingSet

#2881 refactor: pull out installation-related functionality
  packages/zoe/src/zoeService/installationStorage.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/zoe/test-installationStorage.js
Labels: Zoe

#2895 Allow for genesis to start at an arbitrary height
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/lib/ag-solo/fake-chain.js
  packages/cosmic-swingset/lib/block-manager.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2874 feat(cosmic-swingset): $SLOGFILE will make the chain write a slogfile
  packages/cosmic-swingset/lib/chain-main.js
  packages/cosmic-swingset/lib/launch-chain.js
Labels: cosmic-swingset

#2893 Add functions to add and multiply ratios
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contracts/callSpread/calculateShares.js
  packages/zoe/src/contracts/callSpread/percent.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/callSpread/types.js
  packages/zoe/test/unitTests/contractSupport/test-percentSupport.js
  packages/zoe/test/unitTests/contractSupport/test-ratio.js
Labels: Beta, XSmall, devex, enhancement

#2920 chore(swingset): remove decref support
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
Labels: SwingSet

#2924 fix(swingset): when a static vat dies, tolerate lack of next-of-kin
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
Labels: SwingSet

#2926 Handle transient 0 refCounts correctly
  packages/SwingSet/src/vats/comms/state.js
Labels: SwingSet, bug

#2927 Update kerneldump to work with SES
  packages/swingset-runner/bin/kerneldump
Labels: bug, swingset-runner

#2890 Add a Swingset test for the Treasury
  packages/treasury/test/swingsetTests/bootstrap.js
  packages/treasury/test/swingsetTests/test-treasury.js
  packages/treasury/test/swingsetTests/vat-alice.js
  packages/treasury/test/swingsetTests/vat-owner.js
  packages/treasury/test/swingsetTests/vat-priceAuthority.js
  packages/treasury/test/swingsetTests/vat-zoe.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/tools/scriptedPriceAuthority.js
Labels: Small, test, treasury

#2869 feat: share one instance of liquidation across all vaultManagers
  packages/treasury/src/stablecoinMachine.js
Labels: Beta, Core Economy, Risk: Low, Small, devex, performance, test, treasury

#2939 Cleanups for a new beta deploy to devnet
  .dockerignore
  go.mod
  go.sum
  golang/cosmos/daemon/cmd/genaccounts.go
  packages/ERTP/src/issuer.js
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/docker/ag-setup-solo
  packages/cosmic-swingset/docker/ag-solo
  packages/cosmic-swingset/lib/ag-solo/Dockerfile
  packages/cosmic-swingset/scripts/chain-entry.sh
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/Dockerfile
  packages/deployment/Dockerfile.sdk
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/ansible/prepare-cosmos.yml
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-validators/tasks/main.yml
  packages/deployment/bigdipper/settings.json
  packages/deployment/docker/ag-setup-cosmos
  packages/deployment/main.js
  packages/deployment/setup.js
  packages/pegasus/demo.md
Labels: cosmic-swingset, tooling

#2925 swingset: refactor dispatch()
  packages/SwingSet/jsconfig.json
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/deliver.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/syscall.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/message.js
  packages/SwingSet/src/parseVatSlots.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/commsVatDriver.js
  packages/SwingSet/test/files-devices/bootstrap-0.js
  packages/SwingSet/test/files-devices/bootstrap-1.js
  packages/SwingSet/test/files-devices/bootstrap-4.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-comms.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vat-controller-1
  packages/SwingSet/test/vat-syscall-failure.js
Labels: SwingSet

#2946 schedule vat creation on the run-queue
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/SwingSet/test/vat-admin/test-replay.js
Labels: SwingSet

#2922 refactor: pull out instanceRecord and issuerStorage into separate files
  packages/dapp-svelte-wallet/api/src/issuerTable.js
  packages/dapp-svelte-wallet/api/src/lib-wallet.js
  packages/dapp-svelte-wallet/api/src/types.js
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerRecord.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/test-cleanProposal.js
  packages/zoe/test/unitTests/test-instanceStorage.js
  packages/zoe/test/unitTests/test-issuerStorage.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zoe/test-escrowStorage.js
Labels: Zoe

#2950 chore: fix errors that are logged in `agoric start`
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/dapp-svelte-wallet/api/src/wallet.js
Labels: cosmic-swingset

#2948 add WeakRef tracking of imported Presences to liveslots
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#2941 fix(spawner): rewrite to use createVat, strip down to bare minimum API
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/cosmic-swingset/lib/ag-solo/vats/bootstrap.js
  packages/cosmic-swingset/lib/ag-solo/vats/chain-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/solo-config.json
  packages/cosmic-swingset/lib/ag-solo/vats/vat-host.js
  packages/cosmic-swingset/lib/ag-solo/vats/vat-spawner.js
  packages/spawner/README.md
  packages/spawner/package.json
  packages/spawner/scripts/build-bundle-spawn.js
  packages/spawner/src/allSettled.js
  packages/spawner/src/contractHost.chainmail
  packages/spawner/src/contractHost.js
  packages/spawner/src/coveredCall.js
  packages/spawner/src/escrow.js
  packages/spawner/src/makeCollect.js
  packages/spawner/src/vat-spawned.js
  packages/spawner/test/make-function-bundle.js
  packages/spawner/test/swingsetTests/contractHost/bootstrap.js
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/spawner/test/swingsetTests/contractHost/trivial.js
  packages/spawner/test/swingsetTests/contractHost/vat-alice.js
  packages/spawner/test/swingsetTests/contractHost/vat-bob.js
  packages/spawner/test/swingsetTests/contractHost/vat-fred.js
  packages/spawner/test/swingsetTests/contractHost/vat-host.js
  packages/spawner/test/swingsetTests/contractHost/vat-mint.js
  packages/spawner/test/swingsetTests/contractHost/vat-spawner.js
  packages/spawner/test/swingsetTests/escrow/bootstrap.js
  packages/spawner/test/swingsetTests/escrow/test-escrow.js
  packages/spawner/test/swingsetTests/escrow/vat-host.js
  packages/spawner/test/swingsetTests/escrow/vat-mint.js
  packages/spawner/test/test-function-bundle.js
Labels: spawner

#2954 fix(zoe): use fs.mkdirSync properly
  packages/zoe/scripts/build-zcfBundle.js
Labels: Zoe

#2935 refactor: refactor zoe.offer
  packages/zoe/src/cleanProposal.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/instanceRecordStorage.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/escrowStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/offer/burnInvitation.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/unitTests/test-issuerStorage.js
Labels: Zoe

#2955 Merge beta to master
  .dockerignore
  go.mod
  go.sum
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/start.js
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/bin/ag-nchainz
  packages/cosmic-swingset/docker/ag-setup-solo
  packages/cosmic-swingset/docker/ag-solo
  packages/cosmic-swingset/lib/ag-solo/Dockerfile
  packages/cosmic-swingset/scripts/chain-entry.sh
  packages/cosmic-swingset/scripts/single-node.sh
  packages/deployment/Dockerfile
  packages/deployment/Dockerfile.sdk
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/cosmos-validators.yml
  packages/deployment/ansible/prepare-cosmos.yml
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/deployment/ansible/roles/cosmos-validators/tasks/main.yml
  packages/deployment/bigdipper/settings.json
  packages/deployment/docker/ag-setup-cosmos
  packages/deployment/main.js
  packages/deployment/setup.js
  packages/pegasus/demo.md
Labels: Beta

#2952 fix(swingset)!: remove within-vat metering
  packages/SwingSet/docs/static-vats.md
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/metering/test-within-vat.js
  packages/SwingSet/test/metering/vat-within.js
Labels: SwingSet

#2953 remove the tildot transform
  packages/SwingSet/demo/encouragementBotCommsWavyDot/bootstrap.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-bot.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-botcomms.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-botvattp.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-user.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-usercomms.js
  packages/SwingSet/demo/encouragementBotCommsWavyDot/vat-uservattp.js
  packages/SwingSet/docs/liveslots.md
  packages/SwingSet/docs/networking.md
  packages/SwingSet/docs/static-vats.md
  packages/SwingSet/docs/timer.md
  packages/SwingSet/docs/vat-environment.md
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/vats/vat-tp.js
  packages/SwingSet/test/definition/test-vat-definition.js
  packages/SwingSet/test/definition/vat-liveslots.js
  packages/SwingSet/test/definition/vat-setup.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-tildot.js
  packages/SwingSet/test/vat-tildot.js
  packages/bundle-source/demo/tildot/file2.js
  packages/bundle-source/demo/tildot/index.js
  packages/bundle-source/package.json
  packages/bundle-source/src/index.js
  packages/bundle-source/test/test-tildot-transform.js
Labels: SwingSet, bundle-source

#2957 Load virtual objects when accessed, not when deserialized
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectCache.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/vat-representative-bootstrap.js
Labels: SwingSet, enhancement

#2964 fix(swingset): stop rejecting metered=true for xs-worker
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
Labels: SwingSet

#2965 chore(swingset): slogger: include managerType in create-vat slog event
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/slogger.js
Labels: SwingSet

#2961 add stubs for GC syscalls/dispatches
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/message.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-comms.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/util.js
Labels: SwingSet

#2968 fix(liveslots): low-level vat dispatch() is now async
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet

#2969 chore: update CI to newer 'checkout' action (v2)
  .github/workflows/ag-solo-xs.yml.DISABLED
  .github/workflows/pr-checks.yml
  .github/workflows/test-all-packages.yml
Labels: tooling

#2460 Make getInterfaceOf truthful
  packages/marshal/src/marshal.js
  packages/marshal/src/passStyleOf.js
  packages/marshal/test/test-marshal.js
Labels: security

#2989 chore(swingset): refactor liveslots to provide registerValue()
  packages/SwingSet/src/kernel/liveSlots.js
Labels: SwingSet

#2982 Reconcile some types and their implementation
  packages/ERTP/src/displayInfo.js
  packages/ERTP/src/issuer.js
  packages/ERTP/src/types.js
  packages/ERTP/test/unitTests/test-issuerObj.js
  packages/SwingSet/src/vats/network/types.js
  packages/assert/exported.js
  packages/assert/package.json
  packages/dapp-svelte-wallet/api/src/internal-types.js
  packages/eventual-send/src/index.d.ts
  packages/marshal/src/marshal.js
  packages/marshal/src/passStyleOf.js
  packages/notifier/src/notifier.js
  packages/notifier/src/types.js
  packages/vats/src/bootstrap.js
  packages/zoe/package.json
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/tools/types.js
Labels: hygiene

#2994 chore: Move fakeVatAdmin to tools/ but still export from contractFacet/ and change references
  packages/dapp-svelte-wallet/api/test/test-getPursesNotifier.js
  packages/dapp-svelte-wallet/api/test/test-lib-wallet.js
  packages/deploy-script-support/test/unitTests/test-install.js
  packages/deploy-script-support/test/unitTests/test-offer.js
  packages/deploy-script-support/test/unitTests/test-startInstance.js
  packages/pegasus/test/test-peg.js
  packages/treasury/test/test-stablecoin.js
  packages/treasury/test/test-vault-interest.js
  packages/treasury/test/test-vault.js
  packages/zoe/src/contractFacet/fakeVatAdmin.js
  packages/zoe/test/unitTests/contractSupport/test-depositTo.js
  packages/zoe/test/unitTests/contractSupport/test-offerTo.js
  packages/zoe/test/unitTests/contractSupport/test-withdrawFrom.js
  packages/zoe/test/unitTests/contracts/test-brokenContract.js
  packages/zoe/test/unitTests/contracts/test-escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-mintPayments.js
  packages/zoe/test/unitTests/contracts/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-oracle.js
  packages/zoe/test/unitTests/contracts/test-priceAggregator.js
  packages/zoe/test/unitTests/contracts/test-secondPriceAuction.js
  packages/zoe/test/unitTests/contracts/test-sellTickets.js
  packages/zoe/test/unitTests/contracts/test-throwInOfferHandler.js
  packages/zoe/test/unitTests/contracts/test-useObj.js
  packages/zoe/test/unitTests/setupBasicMints.js
  packages/zoe/test/unitTests/setupMixedMints.js
  packages/zoe/test/unitTests/setupNonFungibleMints.js
  packages/zoe/test/unitTests/test-makeKind.js
  packages/zoe/test/unitTests/test-scriptedOracle.js
  packages/zoe/test/unitTests/zcf/setupZcfTest.js
  packages/zoe/test/unitTests/zcf/test-zcfSeat.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: Zoe

#2998 fix(swingset): create dynamic vats with the right options
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#2985 BREAKING CHANGE: move fakeVatAdmin into @agoric/zoe/tools/
  packages/zoe/src/contractFacet/fakeVatAdmin.js
Labels: Zoe

#2973 refactor: get rid of zcfSeatAdmin and simplify
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/exit.js
  packages/zoe/src/contractFacet/seat.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
Labels: Zoe
