Repository Agoric/agoric-sdk, pull requests merged in 2021-06, with the labels that each got.

#3207 fix: enable Node.js --expose-gc via require('expose-gc')
  .github/workflows/test-all-packages.yml
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/engine-gc.js
  packages/SwingSet/src/gc-and-finalize.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-gc-and-finalize.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/virtualObjects/test-retain-remotable.js
  packages/SwingSet/test/virtualObjects/test-weakcollections.js
  packages/agoric-cli/integration-tests/test-workflow.js
  packages/agoric-cli/lib/start.js
  packages/dapp-svelte-wallet/api/src/wallet.js
  packages/eslint-config/eslint-config.json
  packages/solo/test/test-home.js
  packages/swingset-runner/autobench
  packages/swingset-runner/bin/runner
  packages/swingset-runner/bin/runner-debug
  packages/swingset-runner/package.json
  packages/swingset-runner/src/main.js
  packages/xsnap/test/gc.js
  packages/xsnap/test/test-gc.js
  yarn.lock
Labels: cosmic-swingset

#3246 Clean up SwingStore constructor APIs
  packages/SwingSet/src/hostStorage.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/tools/db-delete.js
  packages/SwingSet/tools/db-get.js
  packages/SwingSet/tools/db-set.js
  packages/SwingSet/tools/replace-bundle.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/solo/src/reset-state.js
  packages/solo/src/start.js
  packages/swing-store-lmdb/src/lmdbSwingStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
  packages/swingset-runner/src/kerneldump.js
  packages/swingset-runner/src/main.js
Labels: enhancement, hygiene

#3219 chore(swingset): add design docs for garbage collection
  packages/SwingSet/docs/garbage-collection.md
Labels: SwingSet

#3222 chore(swingset): add GC Actions
  packages/SwingSet/src/kernel/gc-actions.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/test-gc-actions.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet

#3221 chore(swingset): when a vat is terminated, log the problem to stdout
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet

#3225 prepare for GC: several kernel refactorings
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/reachable.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-devices.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/timer-device/test-device.js
Labels: SwingSet

#3230 chore: update to adhere better to conventional-commits
  lerna.json
  package.json
  patches/@lerna+conventional-commits+3.18.5.patch
  yarn.lock
Labels: tooling

#3250 More deployment updates
  packages/deployment/Dockerfile
  packages/deployment/Dockerfile.sdk
  packages/deployment/ag-setup-cosmos
  packages/deployment/ansible/prepare-machine.yml
  packages/deployment/ansible/roles/copy/tasks/main.yml
  packages/deployment/ansible/update_known_hosts.yml
  packages/deployment/package.json
  packages/deployment/src/entrypoint.js
  packages/deployment/src/files.js
  packages/deployment/src/init.js
  packages/deployment/src/main.js
  packages/deployment/src/run.js
  packages/deployment/src/setup.js
Labels: deployment

#3245 refactor(zoe): separate zcf into zygotable methods
  packages/zoe/contractFacet.js
  packages/zoe/scripts/build-zcfBundle.js
  packages/zoe/src/contractFacet/contractFacet.js
  packages/zoe/src/contractFacet/internal-types.js
  packages/zoe/src/contractFacet/vatRoot.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
Labels: Zoe

#3253 test: update top-level `yarn test` to run successfully
  package.json
Labels: hygiene, tooling

#3247 chore: miscellaneous cleanups missed in earlier refactorings
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/installationStorage.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/zoe/test-makeInvitation.js
Labels: Zoe

#3255 chore(swingset): track vat deliveryNum persistently
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate.js
Labels: SwingSet

#3261 Make loopbox device compatible with replay
  packages/SwingSet/demo/encouragementBotComms/bootstrap.js
  packages/SwingSet/src/devices/loopbox-src.js
  packages/SwingSet/test/basedir-message-patterns/bootstrap-comms.js
  packages/SwingSet/test/test-demos-comms.js
  packages/SwingSet/test/test-demos.js
  packages/SwingSet/test/test-message-patterns.js
  packages/swingset-runner/demo/encouragementBotComms/bootstrap.js
  packages/swingset-runner/demo/encouragementBotComms/swingset.json
  packages/swingset-runner/src/main.js
Labels: SwingSet, bug

#3265 feat: implement cosmos-sdk v0.43.0-beta1
  go.mod
  go.sum
  golang/cosmos/Makefile
  golang/cosmos/app/app.go
  golang/cosmos/app/encoding.go
  golang/cosmos/app/export.go
  golang/cosmos/app/genesis.go
  golang/cosmos/app/params/amino.go
  golang/cosmos/app/params/encoding.go
  golang/cosmos/app/params/proto.go
  golang/cosmos/app/params/weights.go
  golang/cosmos/cmd/libdaemon/main.go
  golang/cosmos/daemon/cmd/genaccounts.go
  golang/cosmos/daemon/cmd/root.go
  golang/cosmos/daemon/cmd/testnet.go
  golang/cosmos/daemon/main.go
  golang/cosmos/third_party/proto/cosmos/base/query/v1beta1/pagination.proto
  golang/cosmos/third_party/proto/cosmos/upgrade/v1beta1/upgrade.proto
  golang/cosmos/third_party/proto/ibc/core/channel/v1/channel.proto
  golang/cosmos/third_party/proto/ibc/core/client/v1/client.proto
  golang/cosmos/vm/controller.go
  golang/cosmos/vm/height.go
  golang/cosmos/x/dibc/handler.go
  golang/cosmos/x/dibc/ibc.go
  golang/cosmos/x/dibc/keeper/keeper.go
  golang/cosmos/x/dibc/module.go
  golang/cosmos/x/dibc/types/expected_keepers.go
  golang/cosmos/x/dibc/types/msgs.go
  golang/cosmos/x/dibc/types/msgs.pb.go
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/swingset/client/cli/query.go
  golang/cosmos/x/swingset/handler.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/msg_server.go
  golang/cosmos/x/swingset/module.go
  golang/cosmos/x/swingset/storage.go
  golang/cosmos/x/vpurse/handler.go
  golang/cosmos/x/vpurse/keeper/keeper.go
  golang/cosmos/x/vpurse/module.go
  golang/cosmos/x/vpurse/vpurse.go
Labels: cosmic-swingset

#3184 refactor!: new reallocate API to assist with reviewing conservation of rights
  packages/pegasus/src/pegasus.js
  packages/treasury/src/collectRewardFees.js
  packages/treasury/src/stablecoinMachine.js
  packages/treasury/src/types.js
  packages/treasury/src/vault.js
  packages/treasury/src/vaultManager.js
  packages/treasury/test/vault-contract-wrapper.js
  packages/zoe/src/contractFacet/allocationMath.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/payoffHandler.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/loan/addCollateral.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/close.js
  packages/zoe/src/contracts/loan/scheduleLiquidation.js
  packages/zoe/src/contracts/multipoolAutoswap/constantProduct.js
  packages/zoe/src/contracts/multipoolAutoswap/pool.js
  packages/zoe/src/contracts/multipoolAutoswap/swap.js
  packages/zoe/src/contracts/multipoolAutoswap/types.js
  packages/zoe/src/contracts/newSwap/collectFees.js
  packages/zoe/src/contracts/newSwap/swap.js
  packages/zoe/src/contracts/oracle.js
  packages/zoe/src/contracts/otcDesk.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/internal-types.js
  packages/zoe/test/unitTests/bounty.js
  packages/zoe/test/unitTests/contractSupport/test-offerTo.js
  packages/zoe/test/unitTests/contractSupport/test-withdrawFrom.js
  packages/zoe/test/unitTests/contractSupport/test-zoeHelpers.js
  packages/zoe/test/unitTests/contracts/loan/helpers.js
  packages/zoe/test/unitTests/contracts/loan/test-liquidate.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-constantProduct.js
  packages/zoe/test/unitTests/contracts/multipoolAutoswap/test-multipoolAutoswap.js
  packages/zoe/test/unitTests/contracts/test-otcDesk.js
  packages/zoe/test/unitTests/test-scriptedOracle.js
  packages/zoe/test/unitTests/zcf/test-reallocate-empty.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: Zoe

#3257 Support vats without transcripts
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/test-gc-transcript.js
  packages/SwingSet/test/test-message-patterns.js
  packages/SwingSet/test/test-transcriptlessness.js
  packages/SwingSet/test/vat-transcript-maybe.js
  packages/swingset-runner/demo/encouragementBotComms/swingset.json
Labels: SwingSet, enhancement

#3268 chore(swingset): addMessageToPromiseQueue requires a message
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet

#3270 fix(swingset): fix refcounts for messages queued to a promise
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/test/basedir-promises-3/bootstrap.js
  packages/SwingSet/test/basedir-promises-3/vat-right.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet

#3275 Enable setting of dbsize from swingset-runner command line
  packages/swingset-runner/src/main.js
Labels: enhancement, swingset-runner

#3291 Further minor improvements to swingset-runner
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/test/test-state.js
  packages/swingset-runner/demo/encouragementBotComms/runnerArgs
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/main.js
Labels: SwingSet, enhancement, swingset-runner

#3295 gc-related cleanups
  packages/SwingSet/docs/garbage-collection.md
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/slogger.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/vats/comms/dispatch.js
Labels: SwingSet

#3296 fix(swingset): gc-actions: new algorithm, update test
  packages/SwingSet/src/kernel/gc-actions.js
  packages/SwingSet/test/test-gc-actions.js
Labels: SwingSet

#3304 Make vatstore optionally available to vats as a vat power
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vatstore.js
  packages/SwingSet/test/vat-vatstore.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
Labels: SwingSet, enhancement

#3297 implement dispatch.retireExports for Remotables
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet

#3324 feat: for Keplr support (and presumably other wallets) we need CORS
  packages/agoric-cli/lib/chain-config.js
  packages/agoric-cli/lib/main.js
  packages/agoric-cli/lib/set-defaults.js
  packages/deployment/src/main.js
Labels: agoric-cli, deployment

#3298 implement kernel-side GC
  packages/SwingSet/docs/garbage-collection.md
  packages/SwingSet/docs/images/gc/exported-remotable.png
  packages/SwingSet/docs/images/gc/gc-docs.graffle
  packages/SwingSet/docs/images/gc/imported-presence.png
  packages/SwingSet/docs/images/gc/reachable-vs-recognizable.png
  packages/SwingSet/docs/images/gc/recognizable-remotable.png
  packages/SwingSet/docs/images/gc/vat-roots.png
  packages/SwingSet/docs/images/gc/weakref-states.png
  packages/SwingSet/docs/images/gc/weakref.png
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/test/basedir-promises-3/bootstrap.js
  packages/SwingSet/test/gc-dead-vat/bootstrap.js
  packages/SwingSet/test/gc-dead-vat/vat-doomed.js
  packages/SwingSet/test/gc-device-transfer/bootstrap-gc.js
  packages/SwingSet/test/gc-device-transfer/device-gc.js
  packages/SwingSet/test/gc-device-transfer/vat-left-gc.js
  packages/SwingSet/test/gc-device-transfer/vat-right-gc.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/util.js
Labels: SwingSet

#3337 fix(swingset)!: remove stats from vatAdmin API
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/deploy-script-support/test/unitTests/test-startInstance.js
  packages/pegasus/test/fakeVatAdmin.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: SwingSet, Zoe, pegasus

#3208 Manage parameters for a contract
  package.json
  packages/governance/CHANGELOG.md
  packages/governance/NEWS.md
  packages/governance/jsconfig.json
  packages/governance/package.json
  packages/governance/src/paramManager.js
  packages/governance/src/types.js
  packages/governance/test/test-param-manager.js
Labels: Beta, Governance, Small, enhancement

#3357 chore: payments are not virtual objects. payments are remotables
  packages/ERTP/src/payment.js
  packages/ERTP/src/paymentLedger.js
Labels: ERTP

#3366 chore(swingset): add missing js-object-states.png image
  packages/SwingSet/docs/images/gc/js-object-states.png
Labels: SwingSet

#3233 feat: ballot counter for two-outcome elections
  packages/governance/package.json
  packages/governance/src/ballotBuilder.js
  packages/governance/src/binaryBallotCounter.js
  packages/governance/src/paramManager.js
  packages/governance/src/types.js
  packages/governance/test/test-param-manager.js
  packages/governance/test/unitTests/test-ballotCount.js
Labels: Beta, Governance, Small

#3363 various comms-GC-related cleanups
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet

#3364 implement comms GC
  packages/SwingSet/src/vats/comms/clist-inbound.js
  packages/SwingSet/src/vats/comms/clist-kernel.js
  packages/SwingSet/src/vats/comms/clist-outbound.js
  packages/SwingSet/src/vats/comms/clist-xgress.js
  packages/SwingSet/src/vats/comms/delivery.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/comms/gc-comms.js
  packages/SwingSet/src/vats/comms/remote.js
  packages/SwingSet/src/vats/comms/state.js
  packages/SwingSet/test/test-comms.js
Labels: SwingSet

#3372 fix(wallet): Nat values are now BigInts, so fix the parse output
  packages/dapp-svelte-wallet/ui/src/display.js
Labels: wallet

#3379 fix(swingset): fix GC handling of orphaned objects
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/gc-dead-vat/bootstrap.js
  packages/SwingSet/test/gc-dead-vat/vat-doomed.js
  packages/SwingSet/test/test-gc-kernel.js
Labels: SwingSet

#3375 More verbose kernel crashes
  golang/cosmos/app/app.go
  packages/SwingSet/src/kernel/kernel.js
  packages/cosmic-swingset/src/block-manager.js
  packages/cosmic-swingset/src/sim-chain.js
Labels: SwingSet, cosmic-swingset

#3369 Extract a closureFacet for testing
  packages/governance/src/binaryBallotCounter.js
  packages/governance/src/closingRule.js
  packages/governance/src/types.js
  packages/governance/test/unitTests/test-ballotCount.js
Labels: Beta, Governance, Small

#3393 remove install-metering-and-ses from apps and most unit tests
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/entrypoint.js
  packages/solo/package.json
  packages/solo/solo-config.json
  packages/solo/src/entrypoint.js
  packages/solo/src/init-basedir.js
  packages/solo/src/main.js
  packages/spawner/package.json
  packages/spawner/test/swingsetTests/contractHost/test-contractHost.js
  packages/zoe/package.json
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/makeKind/test-makeKind.js
  packages/zoe/test/swingsetTests/zoe-metering/test-zoe-metering.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: Zoe, cosmic-swingset, spawner

#3299 Registrar 3188
  packages/governance/package.json
  packages/governance/src/ballotBuilder.js
  packages/governance/src/binaryBallotCounter.js
  packages/governance/src/committeeRegistrar.js
  packages/governance/src/types.js
  packages/governance/test/swingsetTests/committeeBinary/bootstrap.js
  packages/governance/test/swingsetTests/committeeBinary/test-committee.js
  packages/governance/test/swingsetTests/committeeBinary/vat-voter.js
  packages/governance/test/swingsetTests/committeeBinary/vat-zoe.js
  packages/governance/test/unitTests/test-committee.js
Labels: Beta, Governance, Medium, enhancement

#3400 Regularize grouped awaits
  packages/governance/test/swingsetTests/committeeBinary/bootstrap.js
  packages/governance/test/unitTests/test-ballotCount.js
Labels: Beta, Governance, XSmall, bug, code-style

#3402 feat: sqlite-based transcript store
  packages/swing-store-lmdb/package.json
  packages/swing-store-lmdb/src/lmdbSwingStore.js
  packages/swing-store-lmdb/src/sqlStreamStore.js
  yarn.lock
Labels: SwingSet

#3404 fix: use 'local' worker, not xsnap, on both solo and chain
  packages/solo/solo-config.json
  packages/vats/decentral-config.json
Labels: cosmic-swingset

#3408 Minor cleanups
  golang/cosmos/daemon/main.go
  packages/deployment/ansible/cosmos-genesis.yml
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/deployment/ansible/roles/cosmos-genesis/tasks/main.yml
  packages/xsnap/.gitignore
Labels: deployment, hygiene

#2848 feat: demand-paged vats in solo, chain
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/vat-warehouse.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-gc-transcript.js
  packages/SwingSet/test/test-xsnap-errors.js
  packages/SwingSet/test/vat-warehouse/bootstrap.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
  packages/SwingSet/test/vat-warehouse/vat-target.js
  packages/SwingSet/test/vat-warehouse/vat-warehouse-reload.js
  packages/SwingSet/test/warehouse/test-warehouse.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/launch-chain.js
  packages/solo/package.json
  packages/solo/src/start.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/xsnap/src/index.js
  packages/xsnap/src/replay.js
  packages/xsnap/src/snapStore.js
  packages/xsnap/test/test-snapstore.js
Labels: SwingSet, xsnap

#3417 chore(swingset): add test of GC behavior in xs vat
  packages/SwingSet/test/gc/bootstrap.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/SwingSet/test/gc/vat-target.js
Labels: SwingSet

#3423 fix(vbank): be sure to persist nonce state in the KVStore
  golang/cosmos/proto/agoric/vbank/genesis.proto
  golang/cosmos/proto/agoric/vbank/vbank.proto
  golang/cosmos/x/vbank/genesis.go
  golang/cosmos/x/vbank/keeper/keeper.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vbank/types/genesis.pb.go
  golang/cosmos/x/vbank/types/msgs.go
  golang/cosmos/x/vbank/types/vbank.pb.go
  golang/cosmos/x/vbank/vbank.go
  golang/cosmos/x/vbank/vbank_test.go
Labels: cosmic-swingset

#3409 Track recognizable objects used by VOM so other objects can be GC'd
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet, enhancement

#3435 fix(vbank): ensure that multiple balance updates are sorted
  go.sum
  golang/cosmos/x/vbank/vbank.go
  golang/cosmos/x/vbank/vbank_test.go
Labels: cosmic-swingset

#3438 fix: repair stream store self-interference problem
  packages/swing-store-lmdb/src/sqlStreamStore.js
  packages/swing-store-lmdb/test/test-state.js
  packages/swing-store-simple/src/simpleSwingStore.js
  packages/swing-store-simple/test/test-state.js
Labels: SwingSet, bug, swingset-runner
