Repository Agoric/agoric-sdk, pull requests merged in 2022-02, with the labels that each got.

#4416 ci: continuing linting when one kind errors
  .github/workflows/test-all-packages.yml
  golang/cosmos/package.json
  package.json
  packages/ERTP/package.json
  packages/SwingSet/.circleci/config.yml
  packages/SwingSet/package.json
  packages/access-token/package.json
  packages/agoric-cli/.circleci/config.yml
  packages/agoric-cli/package.json
  packages/assert/package.json
  packages/bundle-source/.circleci/config.yml
  packages/bundle-source/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/deployment/package.json
  packages/eslint-config/package.json
  packages/eventual-send/.circleci/config.yml
  packages/eventual-send/package.json
  packages/governance/package.json
  packages/import-bundle/package.json
  packages/import-manager/package.json
  packages/notifier/package.json
  packages/pegasus/package.json
  packages/promise-kit/package.json
  packages/run-protocol/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/solo/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
  packages/store/package.json
  packages/swing-store/package.json
  packages/swingset-runner/package.json
  packages/telemetry/package.json
  packages/ui-components/package.json
  packages/vats/package.json
  packages/wallet-connection/package.json
  packages/wallet/api/package.json
  packages/wallet/package.json
  packages/wallet/ui/package.json
  packages/web-components/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
  yarn.lock
Labels: automerge:squash

#4394 refactor(run-protocol): move config of charging and recording periods to vault factory
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/types.js
  packages/SwingSet/src/types.js
  packages/governance/README.md
  packages/governance/src/contractHelper.js
  packages/governance/src/paramGovernance/paramMakers.js
  packages/governance/src/paramGovernance/paramManager.js
  packages/governance/src/types.js
  packages/run-protocol/bundles/install-on-chain.js
  packages/run-protocol/src/vaultFactory/interest.js
  packages/run-protocol/src/vaultFactory/params.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/bootstrap.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/vat-alice.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/vat-owner.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/vat-priceAuthority.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/vat-zoe.js
  packages/run-protocol/test/vaultFactory/swingsetTests/setup.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/bootstrap.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/snapshots/test-vaultFactory.js.md
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/snapshots/test-vaultFactory.js.snap
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-alice.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-owner.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-priceAuthority.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-zoe.js
  packages/run-protocol/test/vaultFactory/test-bootstrapPayment.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: automerge:squash

#4433 Update dapp workflows to handle deps version discrepancies
  .github/workflow-templates/test-dapp.yml
  .github/workflows/test-dapp-card-store.yml
  .github/workflows/test-dapp-fungible-faucet.yml
  .github/workflows/test-dapp-oracle.yml
  .github/workflows/test-dapp-otc.yml
  .github/workflows/test-dapp-pegasus.yml
  .github/workflows/test-dapp-simple-exchange.yml
  .github/workflows/test-dapp-treasury.yml
Labels: automerge:squash

#4136 Collections/patterns/stores implementation
  packages/ERTP/globals.d.ts
  packages/ERTP/src/interfaces.js
  packages/SwingSet/src/kernel/collectionManager.js
  packages/SwingSet/src/kernel/deviceTranslator.js
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/src/kernel/virtualReferences.js
  packages/SwingSet/src/storeModule.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/stores/test-collections.js
  packages/SwingSet/test/stores/test-durabilityChecks.js
  packages/SwingSet/test/stores/test-storeGC.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-vat-env.js
  packages/SwingSet/test/vat-envtest.js
  packages/SwingSet/test/vat-vatstore.js
  packages/SwingSet/test/virtualObjects/test-reachable-vrefs.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-retain-remotable.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectCache.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectGC.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/test-weakcollections.js
  packages/SwingSet/test/virtualObjects/vat-representative-bootstrap.js
  packages/SwingSet/test/virtualObjects/vat-vom-gc-bob.js
  packages/SwingSet/test/virtualObjects/vat-weakcollections-alice.js
  packages/SwingSet/tools/fakeCollectionManager.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualSupport.js
  packages/SwingSet/tools/prepare-test-env.js
  packages/deploy-script-support/globals.d.ts
  packages/pegasus/globals.d.ts
  packages/run-protocol/globals.d.ts
  packages/store/docs/store-taxonomy.md
  packages/store/src/index.js
  packages/store/src/patterns/patternMatchers.js
  packages/store/src/stores/scalarMapStore.js
  packages/store/src/stores/scalarSetStore.js
  packages/store/src/stores/scalarWeakMapStore.js
  packages/store/src/stores/scalarWeakSetStore.js
  packages/store/src/types.js
  packages/store/test/test-rankOrder.js
  packages/swingset-runner/demo/vatStore1/vat-bob.js
  packages/swingset-runner/demo/vatStore2/thingHolder.js
  packages/swingset-runner/demo/vatStore3/vat-bob.js
  packages/swingset-runner/demo/virtualObjectGC/vat-bob.js
  packages/swingset-runner/src/dumpstore.js
  packages/swingset-runner/src/main.js
  packages/vats/globals.d.ts
  packages/xsnap/src/avaHandler.js
  packages/xsnap/src/globals.d.ts
  packages/zoe/src/contractFacet/evalContractCode.js
  packages/zoe/test/minimalMakeKindContract.js
  packages/zoe/test/unitTests/test-makeKind.js
  packages/zoe/test/unitTests/test-zoe-env.js
Labels: enhancement, SwingSet, automerge:rebase, stores

#4430 feat(wallet): keplr connection
  packages/wallet/ui/package.json
  packages/wallet/ui/src/components/AppBar.jsx
  packages/wallet/ui/src/components/ChainConnector.jsx
  packages/wallet/ui/src/components/tests/AppBar.test.jsx
  packages/wallet/ui/src/components/tests/ChainConnector.test.jsx
  packages/wallet/ui/src/contexts/Application.jsx
  packages/wallet/ui/src/tests/App.test.jsx
  packages/wallet/ui/src/util/SuggestChain.js
  yarn.lock
Labels: automerge:squash, automerge:rebase

#4420 update to typescript 4.5.5, and @typescript-eslint/parser 5.10.1
  package.json
  packages/ERTP/test/unitTests/mathHelpers/test-setMathHelpers.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatManager/manager-helper.js
  packages/SwingSet/src/kernel/virtualReferences.js
  packages/eslint-config/package.json
  packages/eventual-send/src/handled-promise.js
  packages/ui-components/package.json
  packages/ui-components/src/components/NatPurseSelector.jsx
  packages/vats/src/vat-bank.js
  packages/wallet/ui/package.json
  packages/wallet/ui/src/components/tests/Offer.test.jsx
  packages/zoe/src/types.js
  packages/zoe/tools/fakeVatAdmin.js
  patches/@endo+eventual-send+0.14.4.patch
  patches/@endo+marshal+0.5.4.patch
  yarn.lock
Labels: tooling, automerge:merge

#4445 chore: prettier ignore lcov-report, .html, .json and .md
  .prettierignore
Labels: automerge:rebase

#4417 chore(swingset): improve typechecks
  packages/SwingSet/src/kernel/vatManager/supervisor-helper.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/vats/comms/state.js
Labels: SwingSet, automerge:merge

#4446 Dependabotany 2022-02-03
  package.json
  packages/web-components/package.json
  patches/node-fetch+2.6.7.patch
  yarn.lock
Labels: automerge:rebase

#4447 fix: quick "fix" of a red squiggle problem
  packages/store/src/keys/checkKey.js
Labels: automerge:squash

#4448 chore(swingset): factor some test utilities out of util.js
  packages/SwingSet/test/devices/bootstrap-0.js
  packages/SwingSet/test/devices/bootstrap-1.js
  packages/SwingSet/test/devices/bootstrap-4.js
  packages/SwingSet/test/message-patterns.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/util.js
  packages/SwingSet/test/vat-controller-1.js
  packages/SwingSet/test/vat-syscall-failure.js
  packages/SwingSet/test/vat-util.js
Labels: SwingSet, automerge:rebase

#4437 Bootstrap core: AMM, VaultFactory bootstrap with governance committee
  packages/agoric-cli/src/start.js
  packages/governance/package.json
  packages/governance/src/contractHelper.js
  packages/governance/src/types.js
  packages/run-protocol/bundles/install-on-chain.js
  packages/run-protocol/package.json
  packages/run-protocol/src/collect.js
  packages/run-protocol/src/econ-behaviors.js
  packages/run-protocol/src/importedBundles.js
  packages/run-protocol/src/vaultFactory/collectRewardFees.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vpool-xyk-amm/types.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-governance.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/test-governance.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/vats/package.json
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/core/behaviors.js
  packages/vats/src/core/boot.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/src/core/econ-behaviors.js
  packages/vats/src/core/manifest.js
  packages/vats/src/core/types.js
  packages/vats/src/core/utils.js
  packages/vats/src/vat-bank.js
  packages/vats/test/test-extract.js
  packages/wallet/api/deploy.js
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/src/wallet.js
  packages/zoe/scripts/build-zcfBundle.js
  packages/zoe/src/contracts/attestation/attestation.js
  packages/zoe/src/contracts/attestation/expiring/expiringHelpers.js
  packages/zoe/src/contracts/attestation/expiring/expiringNFT.js
  packages/zoe/src/contracts/attestation/expiring/extendExpiration.js
  packages/zoe/src/contracts/attestation/expiring/unlienExpiredAmounts.js
  packages/zoe/src/contracts/attestation/expiring/updateLien.js
  packages/zoe/src/contracts/attestation/helpers.js
  packages/zoe/src/contracts/attestation/prerequisites.js
  packages/zoe/src/contracts/attestation/types.js
  packages/zoe/test/unitTests/contracts/attestation/exampleVotingUsage.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-addToLiened.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-extendExpiration.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-hasExpired.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-unlienIfExpired.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-updateLien.js
  packages/zoe/test/unitTests/contracts/attestation/expiringNFT/test-userFlow.js
  packages/zoe/test/unitTests/contracts/attestation/test-attestation.js
  packages/zoe/test/unitTests/contracts/attestation/test-exampleVotingUsage.js
  packages/zoe/tools/fakeVatAdmin.js
  packages/zoe/tools/priceAuthorityRegistry.js
Labels: automerge:squash

#4419 feat(swingset): support raw devices
  packages/SwingSet/docs/devices.md
  packages/SwingSet/src/deviceTools.js
  packages/SwingSet/src/kernel/deviceManager.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/test/devices/bootstrap-raw.js
  packages/SwingSet/test/devices/device-raw-0.js
  packages/SwingSet/test/devices/test-raw-device.js
Labels: SwingSet, automerge:rebase

#4458 Remove pureCopy deleted from endo 1061
  docs/env.md
  packages/ERTP/docs/INPUT_VALIDATION.md
  packages/ERTP/src/displayInfo.js
  packages/SwingSet/src/devices/bridge-src.js
  packages/SwingSet/src/devices/bridge.js
  packages/store/src/patterns/rankOrder.js
  packages/store/test/test-store.js
Labels: automerge:squash

#4308 Spruce up dIBC implementation
  golang/cosmos/x/vibc/ibc.go
  golang/cosmos/x/vibc/keeper/keeper.go
  packages/SwingSet/src/devices/bridge.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/types.js
  packages/SwingSet/test/test-network.js
  packages/agoric-cli/src/chain-config.js
  packages/vats/src/bootstrap.js
  packages/vats/src/ibc.js
  packages/vats/test/test-network.js
Labels: cosmic-swingset, pegasus, automerge:merge

#4460 chore(deployment): Use latest Node 14 in docker images
  packages/deployment/Dockerfile.sdk
Labels: automerge:squash

#3986 Simplify Pegasus for POLA
  packages/SwingSet/src/kernel/kernel.js
  packages/notifier/src/notifier.js
  packages/pegasus/demo.md
  packages/pegasus/src/courier.js
  packages/pegasus/src/ics20.js
  packages/pegasus/src/once-promise-kit.js
  packages/pegasus/src/pegasus.js
  packages/pegasus/src/types.js
  packages/pegasus/test/test-peg.js
  packages/promise-kit/src/promiseKit.js
  packages/vats/src/bootstrap.js
Labels: notifier, Core Economy, pegasus, automerge:merge

#4465 Test encodeKey and order invariants
  packages/SwingSet/src/kernel/collectionManager.js
  packages/store/src/index.js
  packages/store/src/patterns/encodeKey.js
  packages/store/src/patterns/rankOrder.js
  packages/store/test/test-encodeKey.js
  packages/store/test/test-rankOrder.js
Labels: automerge:squash

#4468 Sort preserving order for composite keys! Woohoo!
  packages/store/src/keys/compareKeys.js
  packages/store/src/patterns/encodeKey.js
  packages/store/src/patterns/patternMatchers.js
  packages/store/src/patterns/rankOrder.js
  packages/store/test/test-encodeKey.js
  packages/store/test/test-rankOrder.js
Labels: automerge:squash

#4472 test(vats): fix test-extract to not depend on lockdown env
  packages/vats/test/test-extract.js
Labels: automerge:rebase

#4481 docs: remove obsolete weak store writeup
  packages/SwingSet/docs/virtual-objects.md
Labels: documentation, SwingSet, automerge:rebase

#4471 Implement flight recorder as the default slog processor
  docs/env.md
  packages/SwingSet/src/controller.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/deployment/scripts/capture-integration-results.sh
  packages/solo/package.json
  packages/solo/src/start.js
  packages/telemetry/bin/frcat
  packages/telemetry/package.json
  packages/telemetry/src/flight-recorder.js
  packages/telemetry/src/frcat-entrypoint.js
  packages/telemetry/src/index.js
  packages/telemetry/src/make-slog-sender.js
  packages/telemetry/test/prepare-test-env-ava.js
  packages/telemetry/test/test-flight-recorder.js
  yarn.lock
Labels: automerge:merge, telemetry

#4499 fix(pegasus): use dummy ICS20-1 transfer `sender`
  packages/pegasus/src/ics20.js
  packages/pegasus/test/test-peg.js
Labels: pegasus, automerge:merge

#4505 Support element deletion during iteration over a store
  packages/SwingSet/src/kernel/collectionManager.js
  packages/SwingSet/test/stores/test-collections.js
  packages/store/src/stores/scalarMapStore.js
  packages/store/src/stores/scalarSetStore.js
  packages/store/src/stores/store-utils.js
  packages/store/test/test-store.js
Labels: enhancement, SwingSet, stores

#4485 feat(swingset): devices.bundle, install-bundle, bundlecaps, createVat(bundlecap)
  packages/SwingSet/docs/bundles.md
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/devices/bundle.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/loadVat.js
  packages/SwingSet/src/kernel/state/deviceKeeper.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/validate-archive.js
  packages/SwingSet/test/bundles/.gitignore
  packages/SwingSet/test/bundles/bootstrap-bundles.js
  packages/SwingSet/test/bundles/nonvat-importable.js
  packages/SwingSet/test/bundles/nonvat-install.js
  packages/SwingSet/test/bundles/test-bundles-controller.js
  packages/SwingSet/test/bundles/test-bundles-kernel.js
  packages/SwingSet/test/bundles/test-bundles.js
  packages/SwingSet/test/bundles/vat-disk.js
  packages/SwingSet/test/bundles/vat-install.js
  packages/SwingSet/test/bundles/vat-named.js
  packages/SwingSet/test/devices/bootstrap-1.js
  packages/SwingSet/test/devices/test-devices.js
  packages/SwingSet/test/metering/test-dynamic-vat-metered.js
  packages/SwingSet/test/metering/test-dynamic-vat-unmetered.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/new-vat-13.js
  packages/SwingSet/test/vat-admin/new-vat-44.js
  packages/SwingSet/test/vat-admin/replay-bootstrap.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
  packages/SwingSet/test/vat-admin/test-innerVat.js
  packages/SwingSet/test/vat-admin/test-replay.js
Labels: SwingSet, automerge:rebase

#4508 docs(swingset): update dynamic-vats.md to mention bundlecaps
  packages/SwingSet/docs/dynamic-vats.md
Labels: SwingSet, automerge:rebase

#4256 Add loadgen to deployment integration test
  .github/workflows/deployment-test.yml
  packages/deployment/scripts/integration-test.sh
  packages/deployment/src/init.js
Labels: automerge:rebase

#4507 fix(zoe): update zoe+tests to provide zcfBundle, stop passing bundle through userspace
  packages/governance/test/swingsetTests/committeeBinary/test-committee.js
  packages/governance/test/swingsetTests/contractGovernor/test-governor.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/test-governance.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/test-vaultFactory.js
  packages/zoe/src/zoeService/createZCFVat.js
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/makeKind/test-makeKind.js
  packages/zoe/test/swingsetTests/offerArgs/test-offerArgs.js
  packages/zoe/test/swingsetTests/privateArgs/test-privateArgs.js
  packages/zoe/test/swingsetTests/runMint/test-runMint.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: Zoe, RUN-protocol, Governance, automerge:rebase

#4515 fix(cosmic-swingset): enforce consensusMode, not by sniffing `$DEBUG`
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
Labels: cosmic-swingset, automerge:merge

#4496 feat(solo): run sim-chain in a separate process
  packages/cosmic-swingset/src/shutdown.js
  packages/solo/src/main.js
  packages/solo/src/pipe-entrypoint.js
  packages/solo/src/pipe.js
  packages/solo/src/start.js
Labels: cosmic-swingset, solo, automerge:merge

#4497 chore(governance): remove ShareHolder electorate
  packages/governance/README.md
  packages/governance/src/shareHolders.js
  packages/governance/src/types.js
  packages/governance/test/unitTests/test-shareHolders.js
Labels: automerge:merge

#4522 fix: when trades for zero are requested don't throw
  packages/run-protocol/src/vpool-xyk-amm/constantProduct/swap.js
  packages/run-protocol/test/amm/constantProduct/test-checkInvariants.js
  packages/run-protocol/test/amm/constantProduct/test-compareBondingCurves.js
Labels: bug, Small, AMM, automerge:merge

#4526 fix(wallet): dont crash when purses arent loaded before payments
  packages/wallet/ui/src/components/Requests.jsx
Labels: wallet, UI, automerge:rebase

#4531 feat(swing-store): enable `LMDB_MAP_SIZE` and `SOLO_LMDB_MAP_SIZE`
  docs/env.md
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/start.js
  packages/swing-store/src/swingStore.js
Labels: cosmic-swingset, solo, automerge:merge

#4535 add details to rights conservation assertion msg
  packages/zoe/src/contractFacet/rightsConservation.js
  packages/zoe/test/unitTests/contracts/test-otcDesk.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
Labels: bug, Zoe, Dapp & UI Support, RUN-protocol, automerge:merge

#4476 fix(amm): Prevent creation of constant product AMM with non-fungible central token
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
Labels: automerge:squash

#4555 refactor: treat all packages/* as workspaces
  package.json
Labels: automerge:merge

#4592 Fix bitrot in mock VOM implementation
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualSupport.js
Labels: bug, SwingSet, test, automerge:rebase, stores

#4543 fix(swingset): use consistent lowercase `bundlecap' in API/docs
  packages/SwingSet/src/devices/bundle.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/test/bundles/bootstrap-bundles.js
  packages/SwingSet/test/bundles/test-bundles.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/replay-bootstrap.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
Labels: SwingSet, automerge:rebase

#4577 refactor(run-protocol): remove unused InitialMargin param
  packages/run-protocol/bundles/install-on-chain.js
  packages/run-protocol/src/econ-behaviors.js
  packages/run-protocol/src/vaultFactory/params.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/test/vaultFactory/swingsetTests/setup.js
  packages/run-protocol/test/vaultFactory/test-bootstrapPayment.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/vault-contract-wrapper.js
Labels: automerge:merge

#4597 fix(ui): limit decimals displayed for nats
  packages/ui-components/src/display/natValue/stringifyNat.js
  packages/ui-components/test/display/natValue/test-stringifyNat.js
Labels: automerge:rebase

#4527 feat(run-protocol): interest charging O(1) for all vaults in a manager
  docs/threat_models/vaultFactory/vaultFactory.puml
  packages/run-protocol/README.md
  packages/run-protocol/src/vaultFactory/interest.js
  packages/run-protocol/src/vaultFactory/liquidation.js
  packages/run-protocol/src/vaultFactory/orderedVaultStore.js
  packages/run-protocol/src/vaultFactory/prioritizedVaults.js
  packages/run-protocol/src/vaultFactory/storeUtils.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/test-governance.js
  packages/run-protocol/test/vaultFactory/test-interest.js
  packages/run-protocol/test/vaultFactory/test-orderedVaultStore.js
  packages/run-protocol/test/vaultFactory/test-prioritizedVaults.js
  packages/run-protocol/test/vaultFactory/test-storeUtils.js
  packages/run-protocol/test/vaultFactory/test-vault-interest.js
  packages/run-protocol/test/vaultFactory/test-vault.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/vault-contract-wrapper.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/contractSupport/types.js
  packages/zoe/test/unitTests/contractSupport/test-ratio.js
Labels: automerge:squash

#4607 Refresh parameter test on amm liquidity
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-calc.js
Labels: bug, test, AMM, automerge:squash

#4615 feat(pegasus): implement correct result and denom trace handling
  packages/pegasus/src/courier.js
  packages/pegasus/src/ibc-trace.js
  packages/pegasus/src/ics20.js
  packages/pegasus/src/pegasus.js
  packages/pegasus/src/types.js
  packages/pegasus/test/test-peg.js
Labels: pegasus, automerge:merge

#4604 chore: Sync Endo versions
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/SwingSet/src/capdata.js
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/notifyTermination.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/snapshots/test-xsnap-store.js.md
  packages/SwingSet/test/snapshots/test-xsnap-store.js.snap
  packages/SwingSet/tools/prepare-test-env-ava.js
  packages/agoric-cli/package.json
  packages/bundle-source/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/deployment/package.json
  packages/eslint-config/package.json
  packages/eventual-send/package.json
  packages/eventual-send/src/no-shim.js
  packages/governance/package.json
  packages/import-bundle/package.json
  packages/import-bundle/test/test-import-bundle.js
  packages/notifier/package.json
  packages/notifier/test/iterable-testing-tools.js
  packages/pegasus/package.json
  packages/run-protocol/package.json
  packages/run-protocol/src/vaultFactory/storeUtils.js
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/solo/package.json
  packages/spawner/package.json
  packages/store/package.json
  packages/store/src/keys/checkKey.js
  packages/store/src/patterns/encodeKey.js
  packages/store/src/patterns/rankOrder.js
  packages/store/src/types.js
  packages/store/test/test-encodeKey.js
  packages/swing-store/package.json
  packages/swingset-runner/package.json
  packages/telemetry/package.json
  packages/telemetry/src/flight-recorder.js
  packages/telemetry/src/frcat-entrypoint.js
  packages/telemetry/test/test-flight-recorder.js
  packages/ui-components/package.json
  packages/vats/package.json
  packages/wallet/api/package.json
  packages/wallet/ui/package.json
  packages/web-components/package.json
  packages/xsnap/package.json
  packages/xsnap/src/avaHandler.js
  packages/xsnap/src/node-stream.js
  packages/xsnap/src/replay.js
  packages/xsnap/src/stream.js
  packages/xsnap/src/xsnap.js
  packages/xsnap/test/test-xs-js.js
  packages/xsnap/test/test-xsnap.js
  packages/zoe/package.json
  patches/@endo+eventual-send+0.14.4.patch
  patches/@endo+marshal+0.5.4.patch
  yarn.lock
Labels: tooling, code-style

#4613 Notify broken master tests via e-mail
  .github/actions/build-node/action.yml
  .github/actions/notify-status/action.yml
  .github/workflow-templates/test-dapp.yml
  .github/workflows/after-merge.yml
  .github/workflows/deployment-test.yml
  .github/workflows/docker.yml
  .github/workflows/integration.yml
  .github/workflows/test-all-packages.yml
  .github/workflows/test-dapp-card-store.yml
  .github/workflows/test-dapp-fungible-faucet.yml
  .github/workflows/test-dapp-oracle.yml
  .github/workflows/test-dapp-otc.yml
  .github/workflows/test-dapp-pegasus.yml
  .github/workflows/test-dapp-simple-exchange.yml
  .github/workflows/test-dapp-treasury.yml
  .github/workflows/test-documentation.yml
  .github/workflows/test-golang.yml
Labels: tooling, automerge:merge

#4541 core bootstrap: subsume non-core
  docs/env.md
  golang/cosmos/x/swingset/types/default-params.go
  packages/cosmic-swingset/src/sim-params.js
  packages/pegasus/bundles/install-on-chain.js
  packages/pegasus/src/install-on-chain.js
  packages/run-protocol/bundles/install-on-chain.js
  packages/run-protocol/scripts/build-bundles.js
  packages/run-protocol/src/centralSupply.js
  packages/run-protocol/src/collect.js
  packages/run-protocol/src/econ-behaviors.js
  packages/run-protocol/src/importedBundles.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vpool-xyk-amm/types.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-governance.js
  packages/run-protocol/test/vaultFactory/test-bootstrapPayment.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/solo/solo-config.json
  packages/solo/test/test-home.js
  packages/vats/decentral-config.json
  packages/vats/package.json
  packages/vats/src/authorityViz.js
  packages/vats/src/bootstrap.js
  packages/vats/src/bridge.js
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/core/boot.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/src/core/client-behaviors.js
  packages/vats/src/core/manifest.js
  packages/vats/src/core/sim-behaviors.js
  packages/vats/src/core/types.js
  packages/vats/src/core/utils.js
  packages/vats/src/demoIssuers.js
  packages/vats/src/issuers.js
  packages/vats/src/nameHub.js
  packages/vats/src/types.js
  packages/vats/src/vat-mints.js
  packages/vats/src/vat-priceAuthority.js
  packages/vats/test/authorityViz.js
  packages/vats/test/test-boot.js
  packages/vats/test/test-clientBundle.js
  packages/vats/test/test-demoAMM.js
  packages/vats/test/test-vat-bank.js
  packages/wallet/api/src/lib-wallet.js
  yarn.lock
Labels: automerge:merge

#4575 Execute vat creation and root object initialization in a crank
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/kernel/vatManager/factory.js
  packages/SwingSet/src/kernel/vatManager/manager-local.js
  packages/SwingSet/src/kernel/vatManager/manager-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/message.js
  packages/SwingSet/src/types.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/test/devices/bootstrap-0.js
  packages/SwingSet/test/devices/bootstrap-1.js
  packages/SwingSet/test/devices/bootstrap-4.js
  packages/SwingSet/test/devices/test-devices.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/run-policy/test-run-policy.js
  packages/SwingSet/test/stores/test-storeGC.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-vat-env.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/test-xsnap-errors.js
  packages/SwingSet/test/vat-admin/broken-module-vat.js
  packages/SwingSet/test/vat-admin/broken-root-vat.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
  packages/SwingSet/test/vat-util.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectGC.js
Labels: enhancement, SwingSet, automerge:rebase

#4625 Make the Cosmos-to-JS communication path transactional
  go.mod
  golang/cosmos/app/app.go
  golang/cosmos/proto/agoric/swingset/msgs.proto
  golang/cosmos/proto/agoric/swingset/swingset.proto
  golang/cosmos/vm/controller.go
  golang/cosmos/vm/height.go
  golang/cosmos/x/lien/keeper/keeper.go
  golang/cosmos/x/lien/keeper/keeper_test.go
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/swingset/client/cli/tx.go
  golang/cosmos/x/swingset/client/proposal_handler.go
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/msg_server.go
  golang/cosmos/x/swingset/keeper/proposal.go
  golang/cosmos/x/swingset/proposal_handler.go
  golang/cosmos/x/swingset/types/codec.go
  golang/cosmos/x/swingset/types/msgs.go
  golang/cosmos/x/swingset/types/msgs.pb.go
  golang/cosmos/x/swingset/types/proposal.go
  golang/cosmos/x/swingset/types/swingset.pb.go
  golang/cosmos/x/vbank/keeper/keeper.go
  golang/cosmos/x/vbank/module.go
  golang/cosmos/x/vbank/vbank.go
  golang/cosmos/x/vbank/vbank_test.go
  golang/cosmos/x/vibc/handler.go
  golang/cosmos/x/vibc/ibc.go
  golang/cosmos/x/vibc/keeper/keeper.go
  packages/cosmic-swingset/src/action-types.js
  packages/cosmic-swingset/src/block-manager.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/solo/src/vat-http.js
Labels: cosmic-swingset, automerge:merge, agoric-cosmos

#4469 Keep small bigints small
  packages/SwingSet/src/kernel/collectionManager.js
  packages/store/package.json
  packages/store/src/index.js
  packages/store/src/patterns/encodeKey.js
  packages/store/test/test-encodeKey.js
  packages/store/test/test-store.js
Labels: automerge:squash

#4644 test(swingset): use test.serial on GC-sensitive test
  packages/SwingSet/test/test-activityhash-vs-start.js
Labels: SwingSet, automerge:rebase

#4595 docs(swingset): start on upgrade docs
  packages/SwingSet/docs/dynamic-vats.md
  packages/SwingSet/docs/vat-upgrade.md
Labels: SwingSet, automerge:rebase

#4619 Implement the overhauled virtual object API
  packages/ERTP/globals.d.ts
  packages/SwingSet/docs/virtual-objects.md
  packages/SwingSet/src/kernel/liveSlots.js
  packages/SwingSet/src/kernel/virtualObjectManager.js
  packages/SwingSet/src/storeModule.js
  packages/SwingSet/test/stores/test-durabilityChecks.js
  packages/SwingSet/test/test-vat-env.js
  packages/SwingSet/test/virtualObjects/test-reachable-vrefs.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-retain-remotable.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectGC.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectManager.js
  packages/SwingSet/test/virtualObjects/vat-representative-bootstrap.js
  packages/SwingSet/test/virtualObjects/vat-vom-gc-bob.js
  packages/SwingSet/test/virtualObjects/vat-weakcollections-alice.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualSupport.js
  packages/SwingSet/tools/prepare-test-env.js
  packages/deploy-script-support/globals.d.ts
  packages/pegasus/globals.d.ts
  packages/run-protocol/globals.d.ts
  packages/swingset-runner/demo/vatStore1/vat-bob.js
  packages/swingset-runner/demo/vatStore2/thingHolder.js
  packages/swingset-runner/demo/vatStore3/vat-bob.js
  packages/swingset-runner/demo/virtualObjectGC/vat-bob.js
  packages/vats/globals.d.ts
  packages/xsnap/src/globals.d.ts
  packages/zoe/test/minimalMakeKindContract.js
  packages/zoe/test/swingsetTests/makeKind/test-makeKind.js
  packages/zoe/test/unitTests/test-makeKind.js
  packages/zoe/test/unitTests/test-zoe-env.js
Labels: bug, enhancement, SwingSet, automerge:rebase

#4642 feat(vats): implement "big hammer" governance
  golang/cosmos/app/app.go
  packages/cosmic-swingset/Makefile
  packages/cosmic-swingset/src/block-manager.js
  packages/cosmic-swingset/test/gov-code.js
  packages/cosmic-swingset/test/gov-permit.json
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  packages/solo/src/vat-http.js
  packages/vats/src/bridge-ids.js
  packages/vats/src/core/boot.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/src/core/client-behaviors.js
  packages/vats/src/core/manifest.js
  packages/vats/src/core/types.js
  packages/vats/src/core/utils.js
  packages/vats/src/repl.js
  packages/vats/src/vat-bank.js
  packages/vats/test/test-boot.js
  packages/vats/test/test-vat-bank.js
Labels: cosmic-swingset, Governance, automerge:merge

#4631 test: Ensure access to reduced counterexamples from fast-check
  packages/ERTP/test/unitTests/test-amountProperties.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-calc.js
  packages/store/src/types.js
Labels: automerge:squash

#4661 ci: disable loadgen integration
  packages/deployment/scripts/integration-test.sh
Labels: tooling, automerge:squash

#4474 feat(ertp): support min/max for AmountMath
  packages/ERTP/src/amountMath.js
  packages/ERTP/test/unitTests/test-amountProperties.js
Labels: automerge:squash

#4640 feat(run-protocol): distinguish LIQUIDATED from CLOSED vault state
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: automerge:merge

#4668 SDK release 14
  MAINTAINERS.md
  golang/cosmos/CHANGELOG.md
  golang/cosmos/package.json
  package.json
  packages/ERTP/CHANGELOG.md
  packages/ERTP/package.json
  packages/SwingSet/CHANGELOG.md
  packages/SwingSet/package.json
  packages/agoric-cli/CHANGELOG.md
  packages/agoric-cli/package.json
  packages/cosmic-swingset/CHANGELOG.md
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/CHANGELOG.md
  packages/deploy-script-support/package.json
  packages/deployment/CHANGELOG.md
  packages/deployment/package.json
  packages/governance/CHANGELOG.md
  packages/governance/package.json
  packages/import-manager/CHANGELOG.md
  packages/import-manager/package.json
  packages/notifier/CHANGELOG.md
  packages/notifier/package.json
  packages/pegasus/CHANGELOG.md
  packages/pegasus/package.json
  packages/run-protocol/CHANGELOG.md
  packages/run-protocol/package.json
  packages/same-structure/CHANGELOG.md
  packages/same-structure/package.json
  packages/sharing-service/CHANGELOG.md
  packages/sharing-service/package.json
  packages/solo/CHANGELOG.md
  packages/solo/package.json
  packages/spawner/CHANGELOG.md
  packages/spawner/package.json
  packages/store/CHANGELOG.md
  packages/store/package.json
  packages/swing-store/CHANGELOG.md
  packages/swing-store/package.json
  packages/swingset-runner/CHANGELOG.md
  packages/swingset-runner/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
  packages/vats/CHANGELOG.md
  packages/vats/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/api/CHANGELOG.md
  packages/wallet/api/package.json
  packages/wallet/package.json
  packages/wallet/ui/CHANGELOG.md
  packages/wallet/ui/package.json
  packages/xsnap/CHANGELOG.md
  packages/xsnap/package.json
  packages/zoe/CHANGELOG.md
  packages/zoe/package.json
Labels: tooling, automerge:merge

#4590 merge bundle/vat-admin devices, add waitForBundlecap()
  packages/SwingSet/docs/bundles.md
  packages/SwingSet/src/index.js
  packages/SwingSet/src/initializeSwingset.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdmin-src.js
  packages/SwingSet/src/kernel/vatAdmin/vatAdminWrapper.js
  packages/SwingSet/src/types-exported.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/bundles/bootstrap-bundles.js
  packages/SwingSet/test/bundles/test-bundles.js
  packages/SwingSet/test/devices/bootstrap-1.js
  packages/SwingSet/test/devices/test-devices.js
  packages/SwingSet/test/metering/vat-load-dynamic.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/replay-bootstrap.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
  packages/vats/src/core/types.js
Labels: SwingSet

#4666 clean up from Node 12 deprecation
  golang/cosmos/package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/SwingSet/src/controller.js
  packages/SwingSet/src/kernel/vatManager/supervisor-nodeworker.js
  packages/SwingSet/src/kernel/vatManager/supervisor-subprocess-node.js
  packages/SwingSet/src/weakref.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-fake-weakref.js
  packages/SwingSet/test/test-gc-and-finalize.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-marshal.js
  packages/SwingSet/test/test-node-version.js
  packages/SwingSet/test/test-vpid-kernel.js
  packages/SwingSet/test/util.js
  packages/assert/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/import-manager/package.json
  packages/notifier/package.json
  packages/pegasus/package.json
  packages/run-protocol/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/solo/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/store/package.json
  packages/telemetry/package.json
  packages/vats/package.json
  packages/zoe/package.json
Labels: automerge:merge

#4545 fix(zoe): get ZCF bundlecap from vatAdminService
  packages/swingset-runner/demo/exchangeBenchmark/vat-zoe.js
  packages/swingset-runner/demo/swapBenchmark/vat-zoe.js
  packages/swingset-runner/demo/zoeTests/vat-zoe.js
  packages/vats/decentral-core-config.json
  packages/vats/decentral-demo-config.json
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/vat-zoe.js
  packages/vats/test/test-boot.js
  packages/zoe/src/zoeService/createZCFVat.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/test/unitTests/zoe/test-createZCFVat.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: Zoe, automerge:rebase

#4598 fix(zoe): add zoe.installBundleID
  packages/zoe/src/contractFacet/internal-types.js
  packages/zoe/src/contractFacet/vatRoot.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/zoeService/installationStorage.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/setupBasicMints.js
  packages/zoe/test/unitTests/test-zoe.js
  packages/zoe/test/unitTests/zoe/test-installationStorage.js
  packages/zoe/tools/fakeVatAdmin.js
Labels: Zoe, automerge:merge

#4669 Minor tweaks for devnet-8 deployment
  MAINTAINERS.md
  packages/agoric-cli/src/chain-config.js
  packages/deployment/ansible/roles/cosmos-genesis/files/faucet-helper.sh
  scripts/get-released-tags
Labels: documentation, agoric-cli, automerge:merge

#4638 Add acceptance queue
  packages/SwingSet/docs/run-policy.md
  packages/SwingSet/misc-tools/measure-metering/measure.js
  packages/SwingSet/src/kernel/initializeKernel.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/kernelQueue.js
  packages/SwingSet/src/kernel/metrics.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/runPolicies.js
  packages/SwingSet/src/types.js
  packages/SwingSet/test/devices/test-devices.js
  packages/SwingSet/test/gc/test-gc-vat.js
  packages/SwingSet/test/run-policy/test-run-policy.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/test-transcript-light.js
  packages/SwingSet/tools/vat.js
  packages/cosmic-swingset/src/launch-chain.js
Labels: SwingSet, automerge:rebase

#4678 test(SwingSet): Run bootstrap test vat controllers to completion
  packages/SwingSet/test/basedir-controller-2/bootstrap.js
  packages/SwingSet/test/test-controller.js
Labels: SwingSet, automerge:squash

#4686 refactor(run-protocol)!: compound interest from assetNofifier instead of vault
  docs/threat_models/vaultFactory/vaultFactory.puml
  packages/run-protocol/src/vaultFactory/liquidation.js
  packages/run-protocol/src/vaultFactory/orderedVaultStore.js
  packages/run-protocol/src/vaultFactory/prioritizedVaults.js
  packages/run-protocol/src/vaultFactory/types.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/test-governance.js
  packages/run-protocol/test/vaultFactory/swingsetTests/governance/vat-alice.js
  packages/run-protocol/test/vaultFactory/swingsetTests/vaultFactory/vat-alice.js
  packages/run-protocol/test/vaultFactory/test-orderedVaultStore.js
  packages/run-protocol/test/vaultFactory/test-prioritizedVaults.js
  packages/run-protocol/test/vaultFactory/test-vault-interest.js
  packages/run-protocol/test/vaultFactory/test-vault.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/vault-contract-wrapper.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractSupport/index.js
  packages/zoe/src/contractSupport/interest.js
  packages/zoe/src/contractSupport/ratio.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/types.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/test/unitTests/contractSupport/test-interest.js
Labels: automerge:merge
