Repository Agoric/agoric-sdk, pull requests merged in 2022-06, with the labels that each got.

#5484 fix: correct inadvertent exposure of `sizeInternal` method on public API of stores
  packages/SwingSet/src/liveslots/collectionManager.js
Labels: bug, SwingSet, automerge:rebase

#5365 fix(swingset): move upgrade() vatParameters into options bag
  packages/SwingSet/docs/vat-upgrade.md
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/SwingSet/test/promise-watcher/bootstrap-promise-watcher.js
  packages/SwingSet/test/upgrade/bootstrap-upgrade-replay.js
  packages/SwingSet/test/upgrade/bootstrap-upgrade.js
  packages/SwingSet/test/upgrade/test-upgrade.js
  packages/SwingSet/tools/bootstrap-dvo-test.js
Labels: SwingSet, automerge:rebase

#5456 fix(amm): Prevent calls to remove Liquidity when the pool is empty
  packages/run-protocol/src/vpool-xyk-amm/pool.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
  packages/zoe/src/contractSupport/bondingCurves.js
  packages/zoe/src/contracts/autoswap.js
Labels: bug, Inter-protocol, AMM, automerge:merge

#5481 feat: add fakeDurable option to assist durability conversion
  packages/SwingSet/src/liveslots/collectionManager.js
  packages/SwingSet/src/liveslots/virtualObjectManager.js
  packages/SwingSet/src/liveslots/virtualReferences.js
  packages/SwingSet/test/stores/test-durabilityChecks.js
  packages/store/src/types.js
Labels: enhancement, SwingSet, tooling, automerge:rebase

#5496 fix: addPool: move validation before first side effects
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
Labels: bug, Inter-protocol, AMM, automerge:squash

#5501 restore Ava-XS runner and disable tests that broke while it was off
  packages/ERTP/package.json
  packages/xsnap/src/avaHandler.js
  packages/xsnap/src/avaXS.js
  packages/zoe/package.json
Labels: automerge:squash

#5385 feat(cosmic-swingset): Add chainStorage interface
  golang/cosmos/x/swingset/keeper/keeper.go
  packages/SwingSet/src/kernel/vat-loader/transcript.js
  packages/cosmic-swingset/src/chain-main.js
  packages/vats/decentral-core-config.json
  packages/vats/decentral-demo-config.json
  packages/vats/src/bridge-ids.js
  packages/vats/src/chain-storage-paths.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/src/core/manifest.js
  packages/vats/src/core/types.js
  packages/vats/src/lib-chainStorage.js
  packages/vats/src/vat-chainStorage.js
  packages/vats/test/test-lib-chainStorage.js
Labels: cosmic-swingset, automerge:squash, force:integration

#5400 Publish amm pool list subscription to chain storage
  packages/notifier/src/asyncIterableAdaptor.js
  packages/notifier/src/index.js
  packages/notifier/src/storesub.js
  packages/notifier/src/subscriber.js
  packages/notifier/src/types.js
  packages/notifier/test/marshal-corpus.js
  packages/notifier/test/test-notifier-adaptor.js
  packages/notifier/test/test-stored-subscription.js
  packages/run-protocol/src/proposals/core-proposal.js
  packages/run-protocol/src/proposals/econ-behaviors.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/src/vpool-xyk-amm/types.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/supports.js
  packages/vats/src/core/types.js
  packages/vats/src/lib-board.js
  packages/vats/src/types.js
  packages/vats/test/test-lib-board.js
  packages/zoe/src/contractSupport/priceAuthorityTransform.js
Labels: notifier, AMM, automerge:merge

#5512 ci(actions): fix up cache keys
  .github/actions/build-node/action.yml
  .github/actions/restore-golang/action.yml
  .github/actions/restore-node/action.yml
  .github/actions/save-node/action.yml
  .github/workflows/after-merge.yml
  .github/workflows/deployment-test.yml
  .github/workflows/test-all-packages.yml
Labels: tooling, automerge:merge, force:integration

#5488 fix(swingset): update lmdb
  packages/SwingSet/docs/run-policy.md
  packages/SwingSet/misc-tools/db-delete.js
  packages/SwingSet/misc-tools/db-set.js
  packages/SwingSet/misc-tools/extract-transcript-from-kerneldb.js
  packages/SwingSet/misc-tools/rekernelize.js
  packages/SwingSet/misc-tools/replace-bundle.js
  packages/SwingSet/package.json
  packages/SwingSet/src/kernel/kernelSyscall.js
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/lib-nodejs/hasher.js
  packages/SwingSet/src/liveslots/collectionManager.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
  packages/access-token/package.json
  packages/access-token/src/access-token.js
  packages/access-token/src/json-store.js
  packages/access-token/test/test-state.js
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/entrypoint.js
  packages/solo/package.json
  packages/solo/src/entrypoint.js
  packages/solo/src/pipe-entrypoint.js
  packages/solo/src/reset-state.js
  packages/solo/src/start.js
  packages/swing-store/package.json
  packages/swing-store/src/ephemeralSwingStore.js
  packages/swing-store/src/sqlStreamStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/test/test-state.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/kerneldump-entrypoint.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/runner-debug-entrypoint.js
  packages/swingset-runner/src/runner-entrypoint.js
  packages/telemetry/src/kv-string-store.js
  yarn.lock
Labels: automerge:rebase

#5495 eslint warn floating promises
  .eslintrc.cjs
  .github/workflows/test-all-packages.yml
  packages/governance/package.json
  packages/wallet/ui/package.json
  scripts/lint-with-types.sh
Labels: automerge:merge

#5521 test(vaultFactory): withAmountUtils helper
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/test-gov-collateral.js
  packages/run-protocol/test/vaultFactory/test-liquidator.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: automerge:squash

#5514 fix(swingset): fix handling of promises in virtual data
  packages/SwingSet/src/liveslots/liveslots.js
  packages/SwingSet/src/liveslots/stop-vat.js
  packages/SwingSet/src/liveslots/virtualReferences.js
  packages/SwingSet/src/liveslots/vpid-tracking.md
  packages/SwingSet/src/liveslots/watchedPromises.js
  packages/SwingSet/test/gc-helpers.js
  packages/SwingSet/test/stores/test-storeGC/test-lifecycle.js
  packages/SwingSet/test/stores/test-storeGC/test-refcount-management.js
  packages/SwingSet/test/stores/test-storeGC/test-scalar-store-kind.js
  packages/SwingSet/test/stores/test-storeGC/test-weak-key.js
  packages/SwingSet/test/test-baggage.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-marshal.js
  packages/SwingSet/test/test-promises.js
  packages/SwingSet/test/test-vpid-liveslots.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate-non-critical.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
  packages/SwingSet/test/virtualObjects/test-virtualObjectGC.js
  packages/SwingSet/test/virtualObjects/vdata-promises/bootstrap-vdata-promises.js
  packages/SwingSet/test/virtualObjects/vdata-promises/test-vdata-promises.js
  packages/SwingSet/test/virtualObjects/vdata-promises/vat-vdata-promises.js
Labels: SwingSet, automerge:rebase

#5294 refactor: Add a buffered StorageAPI helper
  packages/SwingSet/src/kernel/state/storageWrapper.js
  packages/SwingSet/src/lib/storageAPI.js
  packages/cosmic-swingset/src/chain-main.js
Labels: SwingSet, automerge:squash

#5504 fix(run-protocol): fix add liquidity check
  packages/run-protocol/src/vpool-xyk-amm/addLiquidity.js
Labels: automerge:squash

#5526 feat: add config flag to control `fakeDurable`
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-local.js
  packages/SwingSet/src/kernel/vat-loader/manager-nodeworker.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
  packages/SwingSet/src/liveslots/collectionManager.js
  packages/SwingSet/src/liveslots/liveslots.js
  packages/SwingSet/src/liveslots/virtualObjectManager.js
  packages/SwingSet/src/supervisors/nodeworker/supervisor-nodeworker.js
  packages/SwingSet/src/supervisors/subprocess-node/supervisor-subprocess-node.js
  packages/SwingSet/src/supervisors/subprocess-xsnap/supervisor-subprocess-xsnap.js
  packages/SwingSet/test/enable-fake-durable/bootstrap-enable-fake-durable.js
  packages/SwingSet/test/enable-fake-durable/test-enable-fake-durable.js
  packages/SwingSet/test/liveslots-helpers.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-xsnap-errors.js
  packages/SwingSet/tools/fakeCollectionManager.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
Labels: bug, SwingSet, automerge:rebase

#5534 fix(swingset): improve timer device
  packages/SwingSet/docs/timer.md
  packages/SwingSet/src/devices/timer/device-timer.js
  packages/SwingSet/src/vats/timer/vat-timer.js
  packages/SwingSet/test/timer/bootstrap-timer.js
  packages/SwingSet/test/timer/test-timer.js
Labels: SwingSet, automerge:rebase

#5525 fix(swingset): use dynamic vat options.name for the xsnap no-op argument
  packages/SwingSet/docs/dynamic-vats.md
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
  packages/SwingSet/src/kernel/vat-loader/vat-loader.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/SwingSet/test/test-xsnap-errors.js
  packages/SwingSet/test/vat-admin/bootstrap.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
  packages/xsnap/src/xsnap.js
  packages/xsnap/test/test-xsnap.js
Labels: SwingSet, xsnap, automerge:rebase

#5487 feat(casting): `@agoric/casting` MVP
  .github/workflows/deployment-test.yml
  .github/workflows/test-all-packages.yml
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/vstorage/vstorage.go
  packages/agoric-cli/package.json
  packages/agoric-cli/src/entrypoint.js
  packages/agoric-cli/src/follow.js
  packages/agoric-cli/src/main.js
  packages/agoric-cli/src/sdk-package-names.js
  packages/casting/README.md
  packages/casting/jsconfig.json
  packages/casting/node-fetch-shim.js
  packages/casting/package.json
  packages/casting/src/casting-spec.js
  packages/casting/src/change-follower.js
  packages/casting/src/defaults.js
  packages/casting/src/follower-cosmjs.js
  packages/casting/src/iterable.js
  packages/casting/src/leader-netconfig.js
  packages/casting/src/leader.js
  packages/casting/src/main.js
  packages/casting/src/shuffle.js
  packages/casting/src/types.js
  packages/casting/test/fake-rpc-server.js
  packages/casting/test/lockdown.js
  packages/casting/test/prepare-test-env-ava.js
  packages/casting/test/test-mvp.js
  packages/deployment/ansible/prepare-machine.yml
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/metrics.js
  packages/vats/src/lib-chainStorage.js
  packages/vats/test/test-lib-chainStorage.js
  yarn.lock
Labels: cosmic-swingset, automerge:merge

#5509 fix: handle adjustBalances with two empty amounts
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/test/runStake/test-runStake.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: bug, Inter-protocol, BLD-Boost, automerge:squash, Vaults

#5536 fix adjusting balances after interest charged
  packages/run-protocol/src/vaultFactory/prioritizedVaults.js
  packages/run-protocol/src/vaultFactory/storeUtils.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/test/vaultFactory/test-prioritizedVaults.js
  packages/run-protocol/test/vaultFactory/test-storeUtils.js
  packages/run-protocol/test/vaultFactory/test-vault-interest.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: automerge:merge

#5517 fix(swingset): record full VatSyscallResult in transcript, even errors
  packages/SwingSet/src/kernel/vat-loader/manager-helper.js
  packages/SwingSet/test/test-gc-transcript.js
  packages/SwingSet/test/test-kernel.js
  packages/SwingSet/test/vat-admin/replay-bootstrap.js
Labels: SwingSet, automerge:rebase

#5543 ops: automate generation of snapshot divergence traces
  packages/deployment/scripts/capture-integration-results.sh
  scripts/process-integration-results.sh
  scripts/process-integration-swingstore-traces.sh
  scripts/run-deployment-integration.sh
Labels: automerge:rebase, force:integration

#5554 feat(vaultFactory): liquidated vaults have debts cleared
  packages/run-protocol/src/vaultFactory/liquidation.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: automerge:merge

#5510 feat: add API for configuring kernel & vat options on a running swingset
  packages/SwingSet/docs/configuration.md
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/devices/vat-admin/device-vat-admin.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vat-admin-hooks.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/lib/message.js
  packages/SwingSet/src/liveslots/liveslots.js
  packages/SwingSet/src/liveslots/virtualObjectManager.js
  packages/SwingSet/src/types-ambient.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/SwingSet/test/change-parameters/bootstrap-change-parameters.js
  packages/SwingSet/test/change-parameters/test-change-parameters.js
  packages/SwingSet/test/change-parameters/vat-carol.js
  packages/SwingSet/test/snapshots/test-state.js.md
  packages/SwingSet/test/snapshots/test-state.js.snap
  packages/SwingSet/test/test-clist.js
  packages/SwingSet/test/test-state.js
  packages/SwingSet/test/vat-warehouse/test-reload-snapshot.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
Labels: enhancement, SwingSet, automerge:rebase

#5563 fix(swingset): simulate full response for gc syscalls
  packages/SwingSet/src/kernel/vat-loader/transcript.js
Labels: automerge:squash

#5552 feat: canonicalize order of vat & bundle configuration
  packages/SwingSet/src/controller/initializeSwingset.js
  packages/SwingSet/test/test-controller.js
  packages/SwingSet/test/test-syscall-failure.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate-critical.js
  packages/SwingSet/test/vat-admin/terminate/test-terminate-non-critical.js
  packages/SwingSet/test/vat-admin/test-create-vat.js
  packages/SwingSet/test/vat-warehouse/test-warehouse.js
  packages/SwingSet/test/virtualObjects/test-representatives.js
Labels: enhancement, SwingSet, automerge:rebase

#5566 fix: make eslint shut up about unhandled promises
  packages/SwingSet/misc-tools/measure-metering/measurement-target.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/vat-loader/manager-nodeworker.js
  packages/SwingSet/src/liveslots/watchedPromises.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/plugin-manager.js
  packages/SwingSet/src/vats/vattp/vat-vattp.js
  packages/SwingSet/test/basedir-promises-2/bootstrap.js
  packages/SwingSet/test/basedir-promises-3/vat-right.js
  packages/SwingSet/test/basedir-promises/bootstrap.js
  packages/SwingSet/test/device-plugin/test-device.js
  packages/SwingSet/test/gc-device-transfer/bootstrap-gc.js
  packages/SwingSet/test/test-liveslots.js
  packages/SwingSet/test/test-network.js
  packages/SwingSet/test/test-queue-priority.js
  packages/SwingSet/test/workers/vat-target.js
  packages/SwingSet/tools/vat.js
Labels: SwingSet, hygiene, automerge:rebase

#5562 fix(xsnap): fix test which reused a mutable ArrayBuffer
  packages/xsnap/test/test-replay.js
Labels: xsnap, automerge:rebase

#5567 fix: tests use debug settings
  packages/SwingSet/test/test-xsnap-store.js
  packages/agoric-cli/test/test-main.js
  packages/agoric-cli/test/test-publish-bundle.js
  packages/cosmic-swingset/test/test-clean-core-eval.js
  packages/governance/test/swingsetTests/committeeBinary/test-committee.js
  packages/governance/test/swingsetTests/contractGovernor/test-governor.js
  packages/run-protocol/test/swingsetTests/governance/test-governance.js
  packages/run-protocol/test/swingsetTests/vaultFactory/test-vaultFactory.js
  packages/swing-store/test/test-snapstore.js
  packages/swing-store/test/test-state.js
  packages/ui-components/test/components/test-NatAmountInput.js
  packages/vats/test/test-dump.js
  packages/vats/test/test-repl.js
  packages/xsnap/test/test-boot-lockdown.js
  packages/xsnap/test/test-err-stack.js
  packages/xsnap/test/test-gc.js
  packages/xsnap/test/test-inspect.js
  packages/xsnap/test/test-replay.js
  packages/xsnap/test/test-xs-js.js
  packages/xsnap/test/test-xs-limits.js
  packages/xsnap/test/test-xs-perf.js
  packages/xsnap/test/test-xsnap.js
  packages/zoe/test/swingsetTests/brokenContracts/test-crashingContract.js
  packages/zoe/test/swingsetTests/makeKind/test-makeKind.js
  packages/zoe/test/swingsetTests/offerArgs/test-offerArgs.js
  packages/zoe/test/swingsetTests/privateArgs/test-privateArgs.js
  packages/zoe/test/swingsetTests/runMint/test-runMint.js
  packages/zoe/test/swingsetTests/zoe/test-zoe.js
Labels: automerge:squash

#5569 fix: patch mistaken overrides
  patches/bl++readable-stream+3.6.0.patch
  patches/cosmjs-types++protobufjs+6.11.3.patch
  patches/inquirer++rxjs+7.5.5.patch
Labels: automerge:squash

#5573 fix: missed a duplication of #5569 patch
  packages/agoric-cli/test/test-main.js
  patches/@confio+ics23++protobufjs+6.11.3.patch
Labels: automerge:squash

#5578 fix: alter slogger so it can't throw errors
  packages/SwingSet/src/kernel/slogger.js
Labels: bug, SwingSet, automerge:rebase

#5538 only hold vaults that aren't settled
  packages/run-protocol/src/reserve/assetReserve.js
  packages/run-protocol/src/vaultFactory/orderedVaultStore.js
  packages/run-protocol/src/vaultFactory/prioritizedVaults.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultDirector.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/vaultFactory/test-prioritizedVaults.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/run-protocol/test/vaultFactory/vault-contract-wrapper.js
Labels: Inter-protocol, automerge:rebase, Vaults

#5560 test: demonstrate a bug caused by an offerSafety violation
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: bug, Zoe, automerge:merge

#5568 fix: allow vault owner to only withdraw RUN
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
Labels: bug, Inter-protocol, automerge:squash, Vaults

#5551 Tighten up the casting and cache APIs
  golang/cosmos/x/vstorage/keeper/keeper.go
  golang/cosmos/x/vstorage/vstorage.go
  packages/agoric-cli/src/deploy.js
  packages/agoric-cli/src/follow.js
  packages/agoric-cli/src/main.js
  packages/cache/README.md
  packages/cache/package.json
  packages/cache/src/cache.js
  packages/cache/src/store.js
  packages/cache/src/types.js
  packages/cache/test/test-mvp.js
  packages/casting/README.md
  packages/casting/src/casting-spec.js
  packages/casting/src/change-follower.js
  packages/casting/src/defaults.js
  packages/casting/src/follower-cosmjs.js
  packages/casting/src/follower.js
  packages/casting/src/iterable.js
  packages/casting/src/leader-netconfig.js
  packages/casting/src/leader.js
  packages/casting/src/main.js
  packages/casting/src/types.js
  packages/casting/test/deploy.js
  packages/casting/test/fake-rpc-server.js
  packages/casting/test/test-mvp.js
  packages/notifier/src/notifier.js
  packages/notifier/src/storesub.js
  packages/notifier/src/subscriber.js
  packages/notifier/src/types.js
  packages/notifier/test/test-stored-subscription.js
  packages/vats/src/lib-board.js
  packages/vats/test/test-lib-board.js
  packages/wallet/api/src/lib-wallet.js
  packages/wallet/api/test/test-lib-wallet.js
  packages/wallet/ui/src/components/WalletConnection.jsx
  packages/wallet/ui/src/components/tests/WalletConnection.test.jsx
  packages/wallet/ui/src/util/WalletBackendAdapter.js
  packages/web-components/demo/index.html
  packages/web-components/demo/install-ses-lockdown.js
  packages/web-components/package.json
  packages/web-components/src/AgoricWalletConnection.js
  packages/web-components/web-dev-server.config.mjs
  yarn.lock
Labels: wallet, automerge:merge

#5586 fix: when zcfMint.burnLosses() fails for offerSafety, don't stage an allocation
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: Zoe, automerge:merge

#5580 Zoe/ERTP input limits
  packages/ERTP/src/displayInfo.js
  packages/ERTP/test/unitTests/test-inputValidation.js
  packages/zoe/src/cleanProposal.js
  packages/zoe/test/unitTests/test-cleanProposal.js
Labels: ERTP, Zoe, automerge:merge

#5589 fix(cosmic-swingset): Use Endo debug mode for tests and scripts
  packages/cosmic-swingset/scripts/clean-core-eval.js
  packages/cosmic-swingset/test/test-clean-core-eval.js
Labels: automerge:rebase

#5590 RBFLabs less stingy local chain
  packages/agoric-cli/src/start.js
Labels: agoric-cli, automerge:merge

#5599 fix(swingset): use gettimeofday() in the slogfile, not CLOCK_MONOTONIC
  packages/SwingSet/package.json
  packages/SwingSet/src/controller/controller.js
  yarn.lock
Labels: SwingSet, automerge:rebase

#5604 test: suppress clandestine type error
  packages/run-protocol/test/amm/constantProduct/test-estimator.js
Labels: automerge:squash

#5610 fix: eliminate `fakeDurable` and change global durability rules to match
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-local.js
  packages/SwingSet/src/kernel/vat-loader/manager-nodeworker.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
  packages/SwingSet/src/liveslots/collectionManager.js
  packages/SwingSet/src/liveslots/liveslots.js
  packages/SwingSet/src/liveslots/virtualObjectManager.js
  packages/SwingSet/src/liveslots/virtualReferences.js
  packages/SwingSet/src/supervisors/nodeworker/supervisor-nodeworker.js
  packages/SwingSet/src/supervisors/subprocess-node/supervisor-subprocess-node.js
  packages/SwingSet/src/supervisors/subprocess-xsnap/supervisor-subprocess-xsnap.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/test/enable-fake-durable/bootstrap-enable-fake-durable.js
  packages/SwingSet/test/enable-fake-durable/test-enable-fake-durable.js
  packages/SwingSet/test/stores/test-durabilityChecks.js
  packages/SwingSet/test/test-xsnap-errors.js
  packages/SwingSet/test/upgrade/test-upgrade.js
  packages/SwingSet/test/virtualObjects/test-cease-recognition.js
  packages/SwingSet/tools/fakeCollectionManager.js
  packages/SwingSet/tools/fakeVirtualObjectManager.js
  packages/SwingSet/tools/fakeVirtualSupport.js
Labels: enhancement, SwingSet, automerge:rebase

#5609 fix: committee exit the seat when giving voter invitation
  packages/governance/src/committee.js
  packages/governance/test/swingsetTests/committeeBinary/test-committee.js
  packages/governance/test/swingsetTests/committeeBinary/vat-voter.js
Labels: bug, Zoe, automerge:merge

#5608 fix: tests offer with invitation promise
  packages/zoe/test/unitTests/makeOffer.js
Labels: automerge:squash

#5606 5547 end event loop
  packages/run-protocol/test/reserve/test-reserve.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/test-feeDistributor.js
  packages/run-protocol/test/vaultFactory/test-liquidator.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/zoe/tools/eventLoopIteration.js
  packages/zoe/tools/manualTimer.js
Labels: Zoe, test, automerge:merge

#5461 fix: schema limit minting and offers
  packages/ERTP/src/brand.js
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/paymentLedger.js
  packages/ERTP/src/types.js
  packages/ERTP/test/unitTests/mathHelpers/test-natMathHelpers.js
  packages/ERTP/test/unitTests/test-mintObj.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/internal-types.js
  packages/zoe/src/typeGuards.js
  packages/zoe/src/zoeService/internal-types.js
  packages/zoe/src/zoeService/makeInvitation.js
  packages/zoe/src/zoeService/offer/burnInvitation.js
  packages/zoe/src/zoeService/offer/offer.js
  packages/zoe/src/zoeService/types.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
  packages/zoe/test/unitTests/contractSupport/test-offerTo.js
  packages/zoe/test/unitTests/makeOffer.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/test/unitTests/zcf/test-zoeHelpersWZcf.js
  packages/zoe/test/unitTests/zoe/test-makeInvitation.js
Labels: automerge:squash

#5435 fix: makePublishKit
  packages/casting/src/iterable.js
  packages/notifier/src/index.js
  packages/notifier/src/notifier.js
  packages/notifier/src/publish-kit.js
  packages/notifier/src/subscriber.js
  packages/notifier/src/types.js
  packages/notifier/test/iterable-testing-tools.js
  packages/notifier/test/test-publish-kit.js
  packages/run-protocol/test/test-voPool.js
  packages/solo/test/test-home.js
  packages/wallet/api/test/test-getPursesNotifier.js
  packages/web-components/test/agoric-wallet-connection.test.js
  packages/zoe/src/contractSupport/priceAuthority.js
  packages/zoe/src/contractSupport/priceAuthorityTransform.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/test-manualTimer.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
Labels: automerge:squash

#5624 fix(swingset): fix unhandled rejection in test-liveslots
  packages/SwingSet/test/test-liveslots.js
Labels: SwingSet, automerge:rebase

#5626 test: fix test-vpid-liveslots.js
  packages/SwingSet/test/test-vpid-liveslots.js
Labels: SwingSet, automerge:rebase

#5621 BREAKING CHANGE: no optionalInitialState in makeSubscriptionKit()
  packages/notifier/src/subscriber.js
  packages/notifier/test/test-stored-subscription.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
Labels: automerge:rebase

#5581 feat(wallet-ui): prepare for Smart Wallet connection
  packages/wallet/ui/src/components/AppBar.jsx
  packages/wallet/ui/src/components/ChainConnector.jsx
  packages/wallet/ui/src/components/ConnectionSettingsDialog.jsx
  packages/wallet/ui/src/components/Loading.jsx
  packages/wallet/ui/src/components/NavDrawer.jsx
  packages/wallet/ui/src/components/NavMenu.jsx
  packages/wallet/ui/src/components/Purses.jsx
  packages/wallet/ui/src/components/SmartWalletConnection.jsx
  packages/wallet/ui/src/components/WalletConnection.jsx
  packages/wallet/ui/src/components/tests/AppBar.test.jsx
  packages/wallet/ui/src/components/tests/ChainConnector.test.jsx
  packages/wallet/ui/src/components/tests/Purses.test.jsx
  packages/wallet/ui/src/components/tests/WalletConnection.test.jsx
  packages/wallet/ui/src/contexts/Application.jsx
  packages/wallet/ui/src/contexts/Provider.jsx
  packages/wallet/ui/src/index.jsx
  packages/wallet/ui/src/tests/App.test.jsx
  packages/wallet/ui/src/util/SuggestChain.js
  packages/wallet/ui/src/util/defaults.js
  packages/wallet/ui/src/util/fixed-websocket-connector.js
  packages/wallet/ui/src/util/storage.js
  packages/wallet/ui/src/views/Contacts.jsx
  packages/wallet/ui/src/views/Dapps.jsx
  packages/wallet/ui/src/views/Dapps.scss
  packages/wallet/ui/src/views/Issuers.jsx
  packages/wallet/ui/src/views/tests/Contacts.test.jsx
  packages/wallet/ui/src/views/tests/Dapps.test.jsx
  packages/wallet/ui/src/views/tests/Issuers.test.jsx
Labels: wallet, automerge:rebase

#5613 5386 stored metrics
  packages/notifier/src/storesub.js
  packages/run-protocol/src/contractSupport.js
  packages/run-protocol/src/proposals/core-proposal.js
  packages/run-protocol/src/proposals/econ-behaviors.js
  packages/run-protocol/src/reserve/assetReserve.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultDirector.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultHolder.js
  packages/run-protocol/src/vaultFactory/vaultKit.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/src/vpool-xyk-amm/pool.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/run-protocol/test/metrics.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfZygote.js
Labels: automerge:rebase

#5653 fix(swingset): decrement kernelObjects stat when deleting an object
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/test/test-state.js
Labels: SwingSet, automerge:rebase

#5656 Include GC calls in transcript
  packages/SwingSet/src/kernel/vat-loader/transcript.js
  packages/SwingSet/test/test-gc-transcript.js
Labels: SwingSet, hygiene, automerge:rebase

#5654 feat(wallet-ui): display set amounts
  packages/ui-components/src/display/copyBagValue/parseAsCopyBag.js
  packages/ui-components/src/display/copyBagValue/stringifyCopyBag.js
  packages/ui-components/src/display/display.js
  packages/wallet/ui/public/index.html
  packages/wallet/ui/src/components/Proposal.jsx
  packages/wallet/ui/src/components/PurseAmount.jsx
  packages/wallet/ui/src/components/PurseValue.jsx
  packages/wallet/ui/src/components/Purses.scss
  packages/wallet/ui/src/components/tests/Offer.test.jsx
  packages/wallet/ui/src/util/marshal.js
Labels: automerge:squash

#5625 chore: tidying up setupBasicMints
  packages/run-protocol/test/amm/vpool-xyk-amm/test-amm-governance.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/run-protocol/test/reserve/test-reserve.js
  packages/zoe/test/unitTests/contracts/test-auction.js
  packages/zoe/test/unitTests/contracts/test-automaticRefund.js
  packages/zoe/test/unitTests/contracts/test-brokenContract.js
  packages/zoe/test/unitTests/contracts/test-coveredCall-want-pattern.js
  packages/zoe/test/unitTests/contracts/test-coveredCall.js
  packages/zoe/test/unitTests/setupBasicMints.js
  packages/zoe/test/unitTests/test-testHelpers.js
Labels: automerge:squash

#5664 5268 governance subscription for VaultFactory
  packages/governance/src/contractGovernance/paramManager.js
  packages/governance/src/contractGovernance/typedParamManager.js
  packages/governance/src/contractHelper.js
  packages/governance/src/types.js
  packages/governance/test/swingsetTests/contractGovernor/bootstrap.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/governance/test/swingsetTests/contractGovernor/test-governor.js
  packages/governance/test/unitTests/test-buildParamManager.js
  packages/governance/test/unitTests/test-paramGovernance.js
  packages/governance/test/unitTests/test-typedParamManager.js
  packages/run-protocol/src/proposals/econ-behaviors.js
  packages/run-protocol/src/psm/psm.js
  packages/run-protocol/src/reserve/assetReserve.js
  packages/run-protocol/src/runStake/runStake.js
  packages/run-protocol/src/vaultFactory/params.js
  packages/run-protocol/src/vaultFactory/vaultDirector.js
  packages/run-protocol/src/vaultFactory/vaultFactory.js
  packages/run-protocol/src/vaultFactory/vaultManager.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/src/vpool-xyk-amm/params.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/swingsetTests/setup.js
  packages/run-protocol/test/vaultFactory/test-vaultFactory.js
  packages/zoe/test/unitTests/zcf/setupZcfTest.js
Labels: automerge:rebase

#5607 fix(vat-data): utility type FunctionsPlusContext
  packages/run-protocol/src/vaultFactory/vaultDirector.js
  packages/vat-data/src/index.test-d.ts
  packages/vat-data/src/types.d.ts
Labels: automerge:squash

#5665 Ensure that errors which escape a crank panic the kernel
  packages/SwingSet/src/kernel/kernel.js
Labels: SwingSet, hygiene, automerge:rebase

#5678 5268 governance StoredSubscriptions
  packages/governance/src/contractHelper.js
  packages/governance/test/swingsetTests/contractGovernor/governedContract.js
  packages/run-protocol/src/proposals/README.md
  packages/run-protocol/src/proposals/core-proposal.js
  packages/run-protocol/src/proposals/econ-behaviors.js
  packages/run-protocol/src/proposals/startPSM.js
  packages/run-protocol/src/psm/psm.js
  packages/run-protocol/src/reserve/assetReserve.js
  packages/run-protocol/src/runStake/runStake.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/src/vpool-xyk-amm/params.js
  packages/run-protocol/src/vpool-xyk-amm/pool.js
  packages/run-protocol/src/vpool-xyk-amm/types.js
  packages/run-protocol/test/amm/vpool-xyk-amm/setup.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
  packages/run-protocol/test/psm/test-psm.js
  packages/run-protocol/test/reserve/test-reserve.js
  packages/run-protocol/test/runStake/test-runStake.js
  packages/run-protocol/test/supports.js
  packages/run-protocol/test/test-voPool.js
Labels: automerge:rebase

#5611 5556 getLiquidityIssuer
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-xyk-amm-swap.js
Labels: automerge:rebase

#5576 chore: Sync Endo versions
  package.json
  packages/ERTP/package.json
  packages/SwingSet/package.json
  packages/SwingSet/test/snapshots/test-xsnap-store.js.md
  packages/SwingSet/test/snapshots/test-xsnap-store.js.snap
  packages/SwingSet/test/test-liveslots.js
  packages/agoric-cli/package.json
  packages/cache/package.json
  packages/casting/package.json
  packages/cosmic-swingset/package.json
  packages/deploy-script-support/package.json
  packages/deploy-script-support/test/unitTests/test-coreProposalBehavior.js
  packages/deployment/package.json
  packages/eslint-config/package.json
  packages/governance/package.json
  packages/notifier/package.json
  packages/notifier/src/publish-kit.js
  packages/pegasus/package.json
  packages/run-protocol/package.json
  packages/same-structure/package.json
  packages/sharing-service/package.json
  packages/solo/package.json
  packages/spawner/package.json
  packages/store/package.json
  packages/swing-store/package.json
  packages/swingset-runner/package.json
  packages/telemetry/package.json
  packages/ui-components/package.json
  packages/vats/package.json
  packages/vats/src/core/basic-behaviors.js
  packages/vats/src/core/chain-behaviors.js
  packages/vats/test/test-boot.js
  packages/wallet/api/package.json
  packages/wallet/ui/package.json
  packages/web-components/package.json
  packages/xsnap/package.json
  packages/xsnap/src/avaHandler.js
  packages/xsnap/src/avaXS.js
  packages/xsnap/test/test-boot-lockdown.js
  packages/zoe/package.json
  packages/zoe/test/unitTests/contracts/loan/test-borrow.js
  patches/@endo+bundle-source+2.2.0.patch
  patches/@endo+eventual-send+0.15.3.patch
  patches/@endo+init+0.5.41.patch
  yarn.lock
Labels: automerge:rebase

#5645 cleanup: use details template appropriately in asserts
  packages/ERTP/src/paymentLedger.js
  packages/governance/src/contractGovernance/governApi.js
  packages/governance/src/contractGovernance/paramManager.js
  packages/governance/src/contractGovernance/typedParamManager.js
  packages/governance/src/contractGovernor.js
  packages/governance/src/question.js
  packages/governance/src/validators.js
  packages/governance/test/swingsetTests/contractGovernor/vat-voter.js
  packages/governance/test/unitTests/test-buildParamManager.js
  packages/governance/test/unitTests/test-typedParamManager.js
  packages/run-protocol/src/feeDistributor.js
  packages/run-protocol/src/proposals/demoIssuers.js
  packages/run-protocol/src/reserve/assetReserve.js
  packages/run-protocol/src/runStake/runStakeKit.js
  packages/run-protocol/src/vaultFactory/vault.js
  packages/run-protocol/src/vaultFactory/vaultDirector.js
  packages/run-protocol/src/vpool-xyk-amm/addLiquidity.js
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
  packages/run-protocol/test/runStake/test-runStake.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/index.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/coveredCall.js
  packages/zoe/src/contracts/loan/index.js
  packages/zoe/src/contracts/priceAggregator.js
  packages/zoe/src/contracts/priceAggregatorChainlink.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/src/issuerStorage.js
  packages/zoe/src/zoeService/feeMint.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoeSeat.js
  packages/zoe/test/unitTests/contracts/escrowToVote.js
  packages/zoe/test/unitTests/contracts/test-auction.js
  packages/zoe/test/unitTests/contracts/test-simpleExchange.js
  packages/zoe/test/unitTests/contracts/useObjExample.js
  packages/zoe/test/unitTests/zcf/test-zcf.js
  packages/zoe/tools/fakePriceAuthority.js
  packages/zoe/tools/manualTimer.js
Labels: bug, tooling, assert, hygiene, code-style, automerge:squash

#5643 fix(xsnap): do not leak through vat termination race
  packages/xsnap/package.json
  packages/xsnap/src/xsnap.js
Labels: automerge:squash

#5659 chore(swingset): misc-tools need LMDB pre-import now
  packages/SwingSet/misc-tools/correlate-timestamps.py
  packages/SwingSet/misc-tools/db-delete.js
  packages/SwingSet/misc-tools/db-dump.js
  packages/SwingSet/misc-tools/db-get.js
  packages/SwingSet/misc-tools/db-set.js
  packages/SwingSet/misc-tools/extract-contract.js
  packages/SwingSet/misc-tools/find-leaks.py
  packages/SwingSet/misc-tools/list-remotes.py
  packages/SwingSet/misc-tools/remote-leaks.py
  packages/SwingSet/misc-tools/replace-bundle.js
  packages/SwingSet/misc-tools/vat-stats.js
Labels: SwingSet, automerge:rebase

#5636 Make stopVat do less work
  packages/SwingSet/src/liveslots/stop-vat.js
  packages/SwingSet/test/upgrade/test-upgrade.js
Labels: SwingSet, hygiene, automerge:rebase

#5437 fix: record XS snapshots and file sizes to slog and console
  packages/SwingSet/src/kernel/state/vatKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
Labels: SwingSet, automerge:rebase

#5596 fix: handle parallel requests to add an issuer in AMM
  packages/run-protocol/src/vpool-xyk-amm/addPool.js
  packages/run-protocol/src/vpool-xyk-amm/multipoolMarketMaker.js
  packages/run-protocol/test/amm/vpool-xyk-amm/test-liquidity.js
Labels: bug, Zoe, Zoe Contract, AMM, automerge:squash

#5637 feat(cosmic-swingset): Add memory stats to new commit block slog event
  packages/SwingSet/src/kernel/kernel.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/deployment/src/main.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/test/test-snapstore.js
  packages/telemetry/src/ingest-slog-entrypoint.js
  packages/telemetry/src/slog-to-otel.js
Labels: automerge:rebase

#5697 feat!(swingset): remove vatPowers.makeMarshal
  packages/SwingSet/src/liveslots/liveslots.js
Labels: marshal, SwingSet, automerge:rebase
