Repository Agoric/agoric-sdk, pull requests merged in 2023-07, with the labels that each got.

#8036 lint: replace forEach in SwingSet with for..of
  packages/SwingSet/src/controller/initializeSwingset.js
  packages/SwingSet/src/devices/mailbox/device-mailbox.js
  packages/SwingSet/src/devices/mailbox/mailbox.js
  packages/SwingSet/src/devices/plugin/device-plugin.js
  packages/SwingSet/src/devices/timer/device-timer.js
  packages/SwingSet/src/kernel/kernelQueue.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vat-warehouse.js
  packages/SwingSet/src/kernel/vatTranslator.js
  packages/SwingSet/src/vats/comms/dispatch.js
  packages/SwingSet/src/vats/timer/vat-timer.js
  packages/SwingSet/test/device-mailbox/bootstrap-device-mailbox.js
  packages/SwingSet/test/test-gc-kernel.js
  packages/SwingSet/test/test-transcript.js
  packages/SwingSet/test/virtualObjects/vdata-promises/bootstrap-vdata-promises.js
  packages/SwingSet/tools/baggage-check.js
Labels: hygiene

#7994 feat: Cosmos upgrade handler calls swingset
  golang/cosmos/app/app.go
  golang/cosmos/app/const.go
  packages/deployment/upgrade-test/Dockerfile
Labels: enhancement, cosmic-swingset, agoric-cosmos

#8027 chore(agoric-cli): Clean up `agoric start` code
  packages/agoric-cli/src/start.js
Labels: agoric-cli, hygiene

#8042 chore(swingset): Fix default param lint warnings
  packages/SwingSet/src/devices/plugin/device-plugin.js
  packages/SwingSet/src/devices/timer/device-timer.js
  packages/SwingSet/src/vats/network/network.js
  packages/SwingSet/src/vats/network/router.js
  packages/SwingSet/test/upgrade/test-upgrade.js
Labels: hygiene, javascript

#8076 test(agoric-cli): reenable resm-plugin test with some Endo patches
  patches/@endo+captp+3.1.2.patch
  patches/@endo+pass-style+0.1.4.patch
Labels: agoric-cli, tooling

#8070 fix: reset lockedQuote even when nothing will be auctioned
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/inter-protocol/test/vaultFactory/test-vaultLiquidation.js
Labels: bug, Vaults

#7891 feat(zone)!: implement `zone.makeOnce(key, maker)`
  packages/SwingSet/docs/vat-upgrade.md
  packages/SwingSet/tools/prepare-test-env.js
  packages/SwingSet/tools/setup-vat-data.js
  packages/inter-protocol/test/psm/test-psm.js
  packages/inter-protocol/test/smartWallet/boot-psm.js
  packages/inter-protocol/test/smartWallet/contexts.js
  packages/internal/src/lib-chainStorage.js
  packages/internal/test/test-callback.js
  packages/swingset-liveslots/tools/fakeVirtualSupport.js
  packages/vats/src/core/lib-boot.js
  packages/vats/src/nameHub.js
  packages/vats/test/setup-vat-data.js
  packages/vats/test/test-clientBundle.js
  packages/vats/test/test-vat-bank-integration.js
  packages/vats/test/test-vat-bank.js
  packages/vats/test/test-vpurse.js
  packages/wallet/api/test/test-getPursesNotifier.js
  packages/wallet/api/test/test-lib-wallet.js
  packages/zone/package.json
  packages/zone/src/durable.js
  packages/zone/src/heap.js
  packages/zone/src/index.js
  packages/zone/src/is-passable.js
  packages/zone/src/keys.js
  packages/zone/src/make-once.js
  packages/zone/src/virtual.js
  packages/zone/test/prepare-test-env-ava.js
  packages/zone/test/test-exos.js
  packages/zone/test/test-make-once.js
Labels: contract-upgrade

#8099 fix(resolve-versions): tolerate missing `package.json` resolutions
  scripts/resolve-versions.sh
Labels: tooling

#7900 refactor: move atomicRearrange into Zcf
  packages/inter-protocol/src/auction/auctioneer.js
  packages/inter-protocol/src/vaultFactory/liquidation.js
  packages/inter-protocol/src/vaultFactory/types.js
  packages/inter-protocol/src/vaultFactory/vault.js
  packages/inter-protocol/src/vaultFactory/vaultDirector.js
  packages/inter-protocol/src/vaultFactory/vaultManager.js
  packages/inter-protocol/test/vaultFactory/vault-contract-wrapper.js
  packages/zoe/package.json
  packages/zoe/src/contractFacet/reallocate.js
  packages/zoe/src/contractFacet/types.js
  packages/zoe/src/contractFacet/zcfSeat.js
  packages/zoe/src/contractFacet/zcfZygote.js
  packages/zoe/src/contractSupport/atomicTransfer.js
  packages/zoe/src/contractSupport/zoeHelpers.js
  packages/zoe/src/contracts/auction/firstPriceLogic.js
  packages/zoe/src/contracts/auction/secondPriceLogic.js
  packages/zoe/src/contracts/autoswap.js
  packages/zoe/src/contracts/barterExchange.js
  packages/zoe/src/contracts/callSpread/fundedCallSpread.js
  packages/zoe/src/contracts/callSpread/pricedCallSpread.js
  packages/zoe/src/contracts/loan/borrow.js
  packages/zoe/src/contracts/loan/close.js
  packages/zoe/src/contracts/sellItems.js
  packages/zoe/test/unitTests/contracts/loan/test-liquidate.js
  packages/zoe/test/unitTests/zcf/test-atomicRearrange.js
Labels: Zoe, Zoe Contract

#7946 6678 upgrade zoe & zcf
  packages/vats/src/vat-zoe.js
  packages/zoe/src/zoeService/startInstance.js
  packages/zoe/src/zoeService/zoe.js
  packages/zoe/src/zoeService/zoeStorageManager.js
Labels: Zoe, contract-upgrade

#7966 test: a test framework for verifying upgrade of Zoe and ZCF
  packages/vats/package.json
  packages/vats/scripts/replace-zoe.js
  packages/vats/src/proposals/zcf-proposal.js
  packages/vats/test/bootstrapTests/drivers.js
  packages/vats/test/bootstrapTests/supports.js
  packages/vats/test/bootstrapTests/test-vats-restart.js
  packages/vats/test/bootstrapTests/test-zcf-upgrade.js
  packages/vats/test/bootstrapTests/zcfProbe.js
Labels: Zoe, contract-upgrade

#8018 test: a docker test for the zoe/zcf upgrade
  packages/deployment/package.json
  packages/deployment/upgrade-test/Makefile
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/actions.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/pre_test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-full-upgrade/run-prober-script.js
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-full-upgrade/run-prober.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-full-upgrade/zcf-upgrade-driver.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-full-upgrade/zcf-upgrade-permit.json
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-full-upgrade/zcf-upgrade-script.js
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-upgrade/zoe-upgrade-permit.json
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-upgrade/zoe-upgrade-script.js
  packages/deployment/upgrade-test/upgrade-test-scripts/vat-status.mjs
  packages/vats/test/bootstrapTests/drivers.js
  packages/vats/test/bootstrapTests/test-zcf-upgrade.js
  packages/vats/test/bootstrapTests/zcfProbe.js
Labels: Zoe, test, contract-upgrade
