Repository Agoric/agoric-sdk, pull requests merged in 2023-08, with the labels that each got.

#8140 fix(cosmic-swingset): only require vatconfig if uninitialized
  .github/workflows/test-all-packages.yml
  packages/boot/index.js
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/cosmic-swingset/src/sim-chain.js
  packages/vats/decentral-main-vaults-config.json
  packages/vats/decentral-test-vaults-config.json
Labels: cosmic-swingset

#8072 refactor snapshotter
  docs/architecture/state-sync.md
  golang/cosmos/app/app.go
  golang/cosmos/proto/agoric/swingset/swingset.proto
  golang/cosmos/x/swingset/alias.go
  golang/cosmos/x/swingset/keeper/extension_snapshotter.go
  golang/cosmos/x/swingset/keeper/extension_snapshotter_test.go
  golang/cosmos/x/swingset/keeper/snapshotter.go
  golang/cosmos/x/swingset/keeper/snapshotter_test.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler.go
  golang/cosmos/x/swingset/keeper/swing_store_exports_handler_test.go
  golang/cosmos/x/swingset/types/swingset.pb.go
  packages/cosmic-swingset/src/chain-main.js
  packages/cosmic-swingset/src/export-kernel-db.js
  packages/cosmic-swingset/src/import-kernel-db.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/internal/src/action-types.js
Labels: proto:expect-breakage

#8149 test: drop obsolete tests
  packages/inter-protocol/test/test-gov-collateral.js
Labels: Inter-protocol, Governance, Vaults

#8127 fix(vibc): accommodate ibc-go v3 breaking changes
  golang/cosmos/x/vibc/ibc.go
  golang/cosmos/x/vibc/keeper/keeper.go
  golang/cosmos/x/vibc/types/expected_keepers.go
  packages/SwingSet/docs/networking.md
Labels: agoric-cosmos

#8075 swingstore import should not discard historical metadata, and add repair function
  packages/swing-store/docs/data-export.md
  packages/swing-store/docs/swingstore.md
  packages/swing-store/package.json
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/bundleStore.js
  packages/swing-store/src/exporter.js
  packages/swing-store/src/importer.js
  packages/swing-store/src/index.js
  packages/swing-store/src/internal.js
  packages/swing-store/src/kvStore.js
  packages/swing-store/src/repairMetadata.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/snapStoreIO.js
  packages/swing-store/src/swingStore.js
  packages/swing-store/src/transcriptStore.js
  packages/swing-store/src/types.d.ts
  packages/swing-store/src/types.js
  packages/swing-store/src/util.js
  packages/swing-store/test/test-bundles.js
  packages/swing-store/test/test-export.js
  packages/swing-store/test/test-exportImport.js
  packages/swing-store/test/test-import.js
  packages/swing-store/test/test-repair-metadata.js
  packages/swing-store/test/util.js
Labels: swing-store

#8155 ci(restore-node): avoid clobbering `#endo-branch:` setup
  .github/actions/restore-node/action.yml
Labels: tooling

#8038 refactor(swingset-vat): Match bundles with pattern
  packages/SwingSet/package.json
  packages/SwingSet/src/controller/controller.js
Labels: SwingSet

#8168 ci(restore-node): detect staged yarn.lock, package.json
  .github/actions/restore-node/action.yml
  .github/workflows/test-dapp-card-store.yml
  .github/workflows/test-dapp-fungible-faucet.yml.DISABLED
  .github/workflows/test-dapp-otc.yml
  .github/workflows/test-dapp-pegasus.yml
  .github/workflows/test-dapp-simple-exchange.yml
  .github/workflows/test-dapp-treasury.yml.DISABLED
  .github/workflows/test-documentation.yml
Labels: tooling

#8043 feat: use x/swingset DB for swing-store shadow copy
  docs/architecture/state-sync.md
  golang/cosmos/app/app.go
  golang/cosmos/proto/agoric/swingset/genesis.proto
  golang/cosmos/types/kv_entry_helpers.go
  golang/cosmos/x/swingset/genesis.go
  golang/cosmos/x/swingset/keeper/keeper.go
  golang/cosmos/x/swingset/keeper/keeper_test.go
  golang/cosmos/x/swingset/swingset.go
  golang/cosmos/x/swingset/types/genesis.pb.go
  packages/cosmic-swingset/src/chain-main.js
  packages/vats/src/core/basic-behaviors.js
  packages/vats/test/test-vat-bank-integration.js
Labels: cosmic-swingset, swing-store

#8112 feat(cosmic-swingset): bundling and execution of `coreProposals` upon software upgrade
  .github/workflows/test-all-packages.yml
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/helpers/json.js
  packages/cosmic-swingset/src/launch-chain.js
  packages/deploy-script-support/src/extract-proposal.js
  packages/deployment/upgrade-test/Dockerfile
  packages/deployment/upgrade-test/Makefile
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/actions.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/env_setup.sh
  packages/internal/src/action-types.js
Labels: cosmic-swingset

#8187 test: remove an inadvertent test.only addition
  packages/inter-protocol/test/vaultFactory/test-storage.js
Labels: bug, code-style

#8170 fix(swing-store): add 'replay' artifactMode, make export more strict
  packages/cosmic-swingset/src/export-kernel-db.js
  packages/cosmic-swingset/src/import-kernel-db.js
  packages/swing-store/docs/data-export.md
  packages/swing-store/src/assertComplete.js
  packages/swing-store/src/bundleStore.js
  packages/swing-store/src/exporter.js
  packages/swing-store/src/importer.js
  packages/swing-store/src/internal.js
  packages/swing-store/src/repairMetadata.js
  packages/swing-store/src/snapStore.js
  packages/swing-store/src/transcriptStore.js
  packages/swing-store/src/types.d.ts
  packages/swing-store/test/test-export.js
  packages/swing-store/test/test-exportImport.js
  packages/swing-store/test/test-import.js
  packages/swing-store/test/test-repair-metadata.js
Labels: SwingSet, swing-store

#8169 ci(deployment): only install ansible and terraform if not available
  packages/deployment/scripts/install-deps.sh
Labels: tooling

#8243 chore: patch @lerna/conventional-commits to avoid version bump for prereleases
  patches/@lerna+conventional-commits+5.6.2.patch
Labels: tooling

#8257 fix: properly exit floating `ZCFSeat` instances
  packages/governance/src/electorateTools.js
  packages/inter-protocol/src/price/fluxAggregatorKit.js
  packages/zoe/src/contracts/priceAggregator.js
Labels: hygiene, Zoe Contract, Inter-protocol, Governance

#8256 fix(agd): make script more robust
  bin/agd
  repoconfig.sh
Labels: hygiene, agd

#8214 chore: resolve floating-promise warnings in kernel packages
  packages/SwingSet/misc-tools/extract-xs-snapshot.js
  packages/SwingSet/test/test-vat-timer.js
  packages/SwingSet/test/transcript/test-state-sync-reload.js
  packages/SwingSet/test/transcript/test-transcript-entries.js
  packages/cosmic-swingset/scripts/clean-core-eval.js
  packages/internal/src/queue.js
  packages/solo/public/main.js
  packages/solo/src/captp.js
  packages/solo/src/chain-cosmos-sdk.js
  packages/solo/src/vat-http.js
  packages/solo/test/captp-fixture.js
  packages/swingset-liveslots/src/liveslots.js
  packages/xsnap/src/xsnap.js
  packages/xsnap/src/xsrepl.js
  packages/xsnap/test/fixture-xsnap-script.js
Labels: automerge:rebase

#8266 ci(Mergify): configuration update
  .mergify.yml
Labels: bypass:automerge

#8267 ci: fix mergify matrix integration tests
  .github/workflows/integration.yml
  .github/workflows/mergify-ready.yml
  .mergify.yml
Labels: force:integration, bypass:automerge

#8262 refactor: consistent interface naming
  packages/base-zone/tools/greeter.js
  packages/inter-protocol/src/econCommitteeCharter.js
  packages/zoe/README.md
  packages/zone/test/test-exos.js
Labels: automerge:rebase

#8250 ci(getting-started): run (but ignore) checks with `npm` and `npx`
  .github/workflows/integration.yml
  packages/agoric-cli/src/sdk-package-names.js
  packages/boot/CHANGELOG.md
  packages/builders/CHANGELOG.md
  packages/builders/tsconfig.build.json
  packages/deployment/package.json
  packages/inter-protocol/package.json
  packages/network/CHANGELOG.md
  packages/vm-config/CHANGELOG.md
  patches/@lerna+version+5.6.2.patch
  scripts/registry.sh
Labels: agoric-cli, tooling, automerge:no-update, force:integration

#8239 SwingSet benchmarking tool, phase 1
  packages/SwingSet/src/controller/initializeSwingset.js
  packages/SwingSet/src/kernel/kernel.js
  packages/boot/test/bootstrapTests/bench-vaults-performance.js
  packages/boot/test/bootstrapTests/bench-vaults-stripped.js
  packages/boot/test/bootstrapTests/supports.js
  packages/inter-protocol/src/proposals/addAssetToVault.js
  packages/inter-protocol/src/proposals/committee-proposal.js
  packages/inter-protocol/src/proposals/price-feed-proposal.js
  packages/inter-protocol/test/smartWallet/test-oracle-integration.js
  packages/swingset-runner/demo/vaultPerfTest/vat-benchmark.js
  packages/swingset-runner/package.json
  packages/swingset-runner/src/chain.js
  packages/swingset-runner/src/main.js
  packages/swingset-runner/src/vat-benchmarkBootstrap.js
  packages/swingset-runner/test/test-demo.js
  packages/swingset-runner/whacker
Labels: swingset-runner, performance, automerge:rebase

#8275 ci: only satisfy pre-checks once merge requested
  .github/workflows/mergify-ready.yml
  .github/workflows/pre-check-integration.yml
Labels: automerge:squash, force:integration

#7041 fix(governance): some governance invitations use proposal patterns
  packages/governance/src/committee.js
  packages/governance/src/electorateTools.js
  packages/governance/src/noActionElectorate.js
  packages/zoe/src/typeGuards.js
Labels: Zoe, devex, automerge:rebase, patterns

#8220 refactor: Prepare for better guard typing from endo
  packages/ERTP/src/issuerKit.js
  packages/ERTP/src/payment.js
  packages/ERTP/src/types-ambient.js
  packages/store/src/stores/store-utils.js
  packages/store/src/types.js
  packages/swingset-liveslots/src/vatDataTypes.d.ts
  packages/swingset-liveslots/src/virtualObjectManager.js
  packages/time/src/timeMath.js
  packages/time/src/types.d.ts
  packages/vat-data/src/exo-utils.js
  packages/zoe/src/contractFacet/types.js
Labels: automerge:rebase

#8284 fix(swingset-liveslots): tolerate old version of vat-data package
  packages/swingset-liveslots/src/virtualObjectManager.js
Labels: automerge:rebase

#8283 ci: fix integration test skip
  .github/workflows/integration.yml
  .github/workflows/pre-check-integration.yml
  .mergify.yml
Labels: force:integration, bypass:automerge

#8255 chore: reinstate `packageJson.scripts.lint`
  packages/access-token/package.json
  packages/import-manager/package.json
  packages/same-structure/package.json
  packages/sparse-ints/package.json
  packages/spawner/package.json
  packages/stat-logger/package.json
Labels: hygiene, automerge:no-update

#8254 test: separate upgrade-12
  golang/cosmos/app/app.go
  golang/cosmos/app/const.go
  packages/boot/test/bootstrapTests/test-zcf-upgrade.js
  packages/deployment/upgrade-test/Dockerfile
  packages/deployment/upgrade-test/Makefile
  packages/deployment/upgrade-test/Readme.md
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/actions.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/pre_test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/.gitignore
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/actions.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/env_setup.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/pre_test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/test.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/tools/mint-ist.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/tools/parseProposals.mjs
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/tools/vat-status.mjs
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/wallet-all-ertp/gen-game-offer.mjs
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/wallet-all-ertp/wf-game-propose.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/wallet-all-ertp/wf-install-bundles.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/wallet-all-ertp/wf-propose.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/zoe-full-upgrade/run-prober-script.js
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/zoe-full-upgrade/run-prober.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/zoe-full-upgrade/zcf-upgrade-driver.sh
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/zoe-full-upgrade/zcf-upgrade-permit.json
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-12/zoe-full-upgrade/zcf-upgrade-script.js
  packages/deployment/upgrade-test/upgrade-test-scripts/package.json
  packages/deployment/upgrade-test/upgrade-test-scripts/propose-agoric-upgrade-11/.keep
  packages/deployment/upgrade-test/upgrade-test-scripts/propose-agoric-upgrade-12/.keep
Labels: automerge:rebase, force:integration
