Repository Agoric/agoric-sdk, pull requests merged in 2023-06, with the labels that each got.

#7865 build(cosmos): make Node.js addon tolerate relocation
  .github/actions/restore-golang/action.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/test-golang.yml
  bin/agd
  golang/cosmos/Makefile
  golang/cosmos/binding.gyp.in
  golang/cosmos/cmd/agd/find_binary.go
  golang/cosmos/cmd/agd/main.go
  golang/cosmos/go.mod
  golang/cosmos/go.sum
  golang/cosmos/package.json
  packages/agoric-cli/src/helpers.js
  packages/cosmic-swingset/package.json
  packages/deployment/Dockerfile.sdk
  packages/deployment/docker/ag-setup-cosmos
  packages/deployment/scripts/integration-test.sh
Labels: cosmic-swingset

#7883 ci(local-npm): resume integration testing of NPM canary
  .github/workflows/integration.yml
  .github/workflows/test-all-packages.yml
  packages/SwingSet/package.json
  packages/cosmic-swingset/package.json
  packages/cosmic-swingset/src/kernel-stats.js
  packages/deploy-script-support/src/extract-proposal.js
  packages/store/package.json
  packages/swingset-liveslots/package.json
  packages/telemetry/package.json
  packages/time/package.json
  packages/vats/package.json
  packages/xsnap/package.json
  packages/zoe/package.json
  yarn.lock
Labels: tooling, force:integration

#7886 fix(auction!): don't reset an auction which is already scheduled
  packages/inter-protocol/src/auction/scheduler.js
  packages/inter-protocol/test/auction/test-scheduler.js
Labels: auction

#7899 Barberry fix and pismoD release notes
  CHANGELOG.md
  go.mod
  go.sum
Labels: bug, agd, agoric-cosmos

#7908 fix: pick up barberry fix
  CHANGELOG.md
  go.mod
  go.sum
Labels: bug, agd, agoric-cosmos

#7917 ci(restore-node): properly use `context.eventName` in script
  .github/actions/restore-node/action.yml
Labels: tooling

#7881 chore(bin/agd): get expected xsnap version from repoconfig.sh
  bin/agd
  repoconfig.sh
Labels: tooling

#7823 detect and limit package cycles
  .github/workflows/test-all-packages.yml
  scripts/check-dependency-cycles.sh
  scripts/graph.sh
Labels: v1_triaged

#7668 Correct infelicities in virtual collection API implementation
  packages/store/src/index.js
  packages/store/src/stores/scalarWeakMapStore.js
  packages/store/src/stores/scalarWeakSetStore.js
  packages/swingset-liveslots/NEWS.md
  packages/swingset-liveslots/src/collectionManager.js
  packages/swingset-liveslots/test/test-collections.js
Labels: bug, hygiene, liveslots

#7927 build!: remove deprecated `ag-cosmos-helper`
  golang/cosmos/Makefile
  golang/cosmos/binding.gyp.in
  golang/cosmos/cmd/helper/main.go
  packages/cosmic-swingset/Makefile
  packages/deployment/Dockerfile.sdk
  packages/xsnap/package.json
Labels: hygiene, xsnap, agoric-cosmos

#7941 fix: ensure script main rejections exit with error
  packages/SwingSet/misc-tools/db-delete.js
  packages/SwingSet/misc-tools/db-set.js
  packages/SwingSet/misc-tools/extract-contract-from-transcript.js
  packages/SwingSet/misc-tools/extract-transcript-from-slogfile.js
  packages/SwingSet/misc-tools/extract-vat-from-transcript.js
  packages/SwingSet/misc-tools/ingest-xs-snapshot.js
  packages/SwingSet/misc-tools/measure-metering/measure.js
  packages/SwingSet/misc-tools/replace-bundle.js
  packages/SwingSet/misc-tools/replay-transcript.js
  packages/cosmic-proto/test/query-swingset-params.js
  packages/deployment/upgrade-test/upgrade-test-scripts/agoric-upgrade-11/zoe-upgrade/vat-status.mjs
  packages/solo/src/pipe-entrypoint.js
  packages/swingset-xsnap-supervisor/scripts/build-bundle.js
  packages/telemetry/src/frcat-entrypoint.js
  packages/telemetry/src/ingest-slog-entrypoint.js
  packages/telemetry/src/slog-sender-pipe-entrypoint.js
  packages/vats/tools/authorityViz.js
  packages/xsnap-lockdown/scripts/build-bundle.js
  packages/xsnap/src/build.js
Labels: tooling

#7897 Resurrect node-subprocess workers
  packages/SwingSet/src/controller/controller.js
  packages/SwingSet/src/controller/initializeKernel.js
  packages/SwingSet/src/controller/startNodeSubprocess.js
  packages/SwingSet/src/kernel/kernel.js
  packages/SwingSet/src/kernel/state/kernelKeeper.js
  packages/SwingSet/src/kernel/vat-loader/manager-factory.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-node.js
  packages/SwingSet/src/kernel/vat-loader/manager-subprocess-xsnap.js
  packages/SwingSet/src/lib-nodejs/spawnSubprocessWorker.js
  packages/SwingSet/src/lib/recordVatOptions.js
  packages/SwingSet/src/lib/workerOptions.js
  packages/SwingSet/src/supervisors/subprocess-node/supervisor-subprocess-node.js
  packages/SwingSet/src/typeGuards.js
  packages/SwingSet/src/types-external.js
  packages/SwingSet/src/types-internal.js
  packages/SwingSet/src/vats/vat-admin/vat-vat-admin.js
  packages/SwingSet/test/promise-watcher/test-promise-watcher.js
  packages/SwingSet/test/workers/bootstrap-node.js
  packages/SwingSet/test/workers/test-worker.js
Labels: enhancement, SwingSet

#7659 Tool for auditing dangling kindID references
  packages/SwingSet/misc-tools/baggage-check-tool.js
  packages/SwingSet/package.json
  packages/SwingSet/tools/baggage-check.js
  packages/swing-store/src/swingStore.js
Labels: enhancement

#7930 fix(cosmos): prevent Golang error wrapping stack frame divergence
  .github/workflows/golangci-lint.yml
  golang/cosmos/cmd/libdaemon/main_test.go
  golang/cosmos/daemon/cmd/genaccounts.go
  golang/cosmos/x/lien/lien.go
  golang/cosmos/x/lien/module.go
  golang/cosmos/x/swingset/abci.go
  golang/cosmos/x/vbank/vbank.go
Labels: agoric-cosmos

#7960 Vault performance benchmark
  packages/vats/.gitignore
  packages/vats/ava.bench.config.js
  packages/vats/package.json
  packages/vats/test/bootstrapTests/bench-vaults-performance.js
Labels: enhancement, SwingSet, performance, Vaults

#7958 ci: properly handle subdependencies for Endo branch override
  .github/actions/restore-node/action.yml
  .github/workflows/test-all-packages.yml
  packages/SwingSet/test/test-xsnap-store.js
  scripts/get-packed-versions.sh
  scripts/resolve-versions.sh
Labels: tooling

#7836 Prevent `__has_builtin` compiler differences from causing divergence
  packages/xsnap/src/build.js
  packages/xsnap/test/snapshots/test-xsnap.js.md
  packages/xsnap/test/snapshots/test-xsnap.js.snap
  packages/xsnap/test/test-xsnap.js
Labels: xsnap
